interactions:
- request:
    body: '{"apikey": "5EC930FB90DA1ADA", "username": null, "password": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: '{"token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMDksImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDA5fQ.rmGlRQEnzMycKnlMsr3EP-qtH4p94SphmDzvUCncPjzq8-f0ZhbcIs6TPMHS9mlFgxr0soBZaH7DAjkuP9B4eeTW3Jm4vRpJ8PPEyFxS-ZeO_delVccATUVD1gOf72MCYucZljOnx8GuGqyoYpVeNC_vVymjVmtr1urcHbw95NV8l1r_4eqeEEl1bnkkceELPUGEdm6N4OcPz8qF4mSnRwLEmcq59UXuvZjtOw-H7MklXObhwAGrLMybSu-E-J7EmH1tBAWT64GfvqY0d81rzgQPSSjqa88-eJ2NQSIsMrENSrQQRqgOgEMwxr7bNJTRqlQgbOiZCNZF7CN22q52sQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMDksImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDA5fQ.rmGlRQEnzMycKnlMsr3EP-qtH4p94SphmDzvUCncPjzq8-f0ZhbcIs6TPMHS9mlFgxr0soBZaH7DAjkuP9B4eeTW3Jm4vRpJ8PPEyFxS-ZeO_delVccATUVD1gOf72MCYucZljOnx8GuGqyoYpVeNC_vVymjVmtr1urcHbw95NV8l1r_4eqeEEl1bnkkceELPUGEdm6N4OcPz8qF4mSnRwLEmcq59UXuvZjtOw-H7MklXObhwAGrLMybSu-E-J7EmH1tBAWT64GfvqY0d81rzgQPSSjqa88-eJ2NQSIsMrENSrQQRqgOgEMwxr7bNJTRqlQgbOiZCNZF7CN22q52sQ
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/search/series?name=The+Big+Bang+Theory
  response:
    body:
      string: "{\"data\":[{\"aliases\":[\"La teoria del Big Bang\",\"\u56E7\u7537\u5927\u7206\u70B8\"],\"banner\":\"/banners/graphical/80379-g23.jpg\",\"firstAired\":\"2007-09-24\",\"id\":80379,\"image\":\"/banners/posters/80379-18.jpg\",\"network\":\"CBS\",\"overview\":\"A
        woman who moves into an apartment across the hall from two brilliant but socially
        awkward physicists shows them how little they know about life outside of the
        laboratory.\",\"poster\":\"/banners/posters/80379-18.jpg\",\"seriesName\":\"The
        Big Bang Theory\",\"slug\":\"the-big-bang-theory\",\"status\":\"Ended\"}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
version: 1
