interactions:
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/search/series?name=house+of+cards
  response:
    body:
      string: "{\"data\":[{\"aliases\":[\"To Play the King\",\"The Final Cut\"],\"\
        banner\":\"/banners/graphical/79861-g.jpg\",\"firstAired\":\"1990-11-18\"\
        ,\"id\":79861,\"image\":\"/banners/posters/79861-3.jpg\",\"network\":\"BBC\
        \ One\",\"overview\":\"The PM made a deadly mistake when he passed over Francis\
        \ Urquhart. With his recent dire performance in the general election, he's\
        \ going to need all the friends he can get. But Urquhart won't be ignored\
        \ by anyone and now he's out for revenge. As the trusted Chief Whip, he has\
        \ his hands on every grubby little secret in politics, and with innocent journalist\
        \ Mattie Storin unwittingly drawn into his web, he'll stop at nothing to get\
        \ what he wants.\\r\\nA black tale of greed, corruption and burning ambition.\
        \ Based on the best selling novel by Michael Dobbs, a former aide to Margaret\
        \ Thatcher.\",\"poster\":\"/banners/posters/79861-3.jpg\",\"seriesName\":\"\
        House of Cards\",\"slug\":\"house-of-cards\",\"status\":\"Ended\"},{\"aliases\"\
        :[\"House of Cards (2013)\",\"\u7D19\u724C\u5C4B\"],\"banner\":\"/banners/graphical/262980-g5.jpg\"\
        ,\"firstAired\":\"2013-2-1\",\"id\":262980,\"image\":\"/banners/posters/262980-3.jpg\"\
        ,\"network\":\"Netflix\",\"overview\":\"Ruthless and cunning, Congressman\
        \ Francis Underwood and his wife Claire stop at nothing to conquer everything.\
        \ This wicked political drama penetrates the shadowy world of greed, sex and\
        \ corruption in modern D.C.\",\"poster\":\"/banners/posters/262980-3.jpg\"\
        ,\"seriesName\":\[...]
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/262980
  response:
    body:
      string: !!python/unicode '{"data":{"id":262980,"seriesId":"81065","seriesName":"House
        of Cards (US)","aliases":["House of Cards (2013)"],"season":"6","poster":"posters/262980-3.jpg","banner":"graphical/262980-g5.jpg","fanart":"fanart/original/262980-2.jpg","status":"Ended","firstAired":"2013-02-01","network":"Netflix","networkId":"546","runtime":"55","language":"en","genre":["Crime","Drama"],"overview":"Ruthless
        and cunning, Congressman Francis Underwood and his wife Claire stop at nothing
        to conquer everything. This wicked political drama penetrates the shadowy
        world of greed, sex and corruption in modern D.C.","lastUpdated":1588307295,"airsDayOfWeek":"Friday","airsTime":"3:00
        AM","rating":"TV-MA","imdbId":"tt1856010","zap2itId":"SH01676454","added":"2012-10-04
        16:08:09","addedBy":16553,"siteRating":8.9,"siteRatingCount":4719,"slug":"house-of-cards-us"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 01 May 2020 04:28:15 GMT
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/262980/episodes/query?airedEpisode=1&airedSeason=6&page=1
  response:
    body:
      string: !!python/unicode '{"links":{"first":1,"last":1,"next":null,"prev":null},"data":[{"id":6553109,"airedSeason":6,"airedSeasonID":751740,"airedEpisodeNumber":1,"episodeName":"Chapter
        66","firstAired":"2018-11-02","guestStars":[],"directors":["Alik Sakharov"],"writers":["Frank
        Pugliese","Melissa James Gibson"],"overview":"As the first woman president,
        Claire faces increased scrutiny and threats. Sibling power couple Annette
        and Bill Shepherd attempt to influence policy.","language":{"episodeName":"en","overview":"en"},"productionCode":"","showUrl":"","lastUpdated":1541598880,"dvdDiscid":"","dvdSeason":6,"dvdEpisodeNumber":1,"dvdChapter":null,"absoluteNumber":66,"filename":"episodes/262980/6553109.jpg","seriesId":262980,"lastUpdatedBy":1,"airsAfterSeason":null,"airsBeforeSeason":null,"airsBeforeEpisode":null,"imdbId":"tt7538918","contentRating":"TV-MA","thumbAuthor":1,"thumbAdded":"2019-11-13
        12:47:54","thumbWidth":"640","thumbHeight":"360","siteRating":0,"siteRatingCount":0,"isMovie":0}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXs[...]
