interactions:
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/search/series?name=the+100
  response:
    body:
      string: "{\"data\":[{\"aliases\":[],\"banner\":null,\"firstAired\":\"1991-3-31\"\
        ,\"id\":76615,\"image\":\"/banners/posters/76615-1.jpg\",\"network\":\"NBC\"\
        ,\"overview\":\"This action adventure series was a joint effort from Disney\
        \ and Steven J. Cannell productions.The story goes that Black Jack Savage\
        \ a 17th century pirate was hung in the courtyard of his castle for his treacherous\
        \ deeds,in order for him to escape hell he must save a life for every one\
        \ he's taken.Now in modern day NY surfaces another Pirate of sorts \\\"Barry\
        \ Tarberry\\\", hes been bad, swindiling the IRS out of funds and they want\
        \ him, now to escape his purgatory Barry flies out of the country to a little\
        \ island that will grant him immunity called San Pietro.He Buys an estate,sight\
        \ unseen that just happened to belong to Black Jack Savage.The ghost wants\
        \ to strike a deal with Barry,for every life saved Barry can have half credit\
        \ toward his own impending fate- the agreement sealed the 2 pirates start\
        \ trying to save lives on this small carribean island.\",\"poster\":null,\"\
        seriesName\":\"The 100 Lives of Black Jack Savage\",\"slug\":\"the-100-lives-of-black-jack-savage\"\
        ,\"status\":\"Ended\"},{\"aliases\":[],\"banner\":\"\",\"firstAired\":\"2018-2-12\"\
        ,\"id\":363890,\"image\":\"/banners/images/missing/series.jpg\",\"network\"\
        :\"V LIVE\",\"poster\":\"/banners/images/missing/series.jpg\",\"seriesName\"\
        :\"The 100 (2018)\",\"slug\":\"the-100-the-boyz\",\"status\":\"Ended\"},{\"\
        aliases\":[],\"banner\":\"/banners/graphical/5cb232ca82c4d.jpg\",\"firstAired\"\
        :\"2018-12-20\",\"id\":360144,\"image\":\"/banners/posters/5cb232e618987.jpg\"\
        ,\"network\":\"YouTube\",\"overview\":\"Kelsey Impicciche plays the Sims 4\
        \ and begins the very long, and very popular 100-baby challenge!\",\"poster\"\
        :\"/banners/posters/5cb232e618987.jpg\",\"seriesName\":\"The 100 Baby Challenge\"\
        ,\"slug\":\"100-baby-challenge\",\"status\":\"Continuing\"},{\"aliases\":[],\"\
        banner\":null,\"firstAired\":null,\"id\":351517,\"image\":\"/banners/images/missing/series.jpg\"\
        ,\"network\":null,\"poster\":null,\"seriesName\":\"The 100 Funniest Moments\
        \ of the 20th Century \",\"slug\":\"the-100-funniest-moments-of-the-20th-century\"\
        ,\"status\":\"Ended\"},{\"aliases\":[],\"banner\":\"/banners/graphical/268592-g2.jpg\"\
     [...]
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/268592
  response:
    body:
      string: !!python/unicode '{"data":{"id":268592,"seriesId":"183133","seriesName":"The
        100","aliases":[],"season":"7","poster":"posters/268592-2.jpg","banner":"graphical/268592-g2.jpg","fanart":"fanart/original/268592-5.jpg","status":"Continuing","firstAired":"2014-03-19","network":"The
        CW","networkId":"267","runtime":"45","language":"en","genre":["Action","Drama","Science
        Fiction","Suspense","Thriller"],"overview":"Set ninety-seven years after a
        nuclear war has destroyed civilization, when a spaceship housing humanity''s
        lone survivors sends one hundred juvenile delinquents back to Earth, in hopes
        of possibly re-populating the planet.\r\n","lastUpdated":1588962318,"airsDayOfWeek":"Wednesday","airsTime":"8:00
        PM","rating":"TV-14","imdbId":"tt2661044","zap2itId":"SH01740398","added":"2013-04-09
        18:54:34","addedBy":22600,"siteRating":8.3,"siteRatingCount":4203,"slug":"the-100"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 08 May 2020 18:25:18 GMT
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/268592/episodes/query?airedEpisode=9&airedSeason=3&page=1
  response:
    body:
      string: !!python/unicode '{"links":{"first":1,"last":1,"next":null,"prev":null},"data":[{"id":5544536,"airedSeason":3,"airedSeasonID":632464,"airedEpisodeNumber":9,"episodeName":"Stealing
        Fire","firstAired":"2016-03-31","guestStars":[],"directors":["Uta Briesewitz"],"writers":["Heidi
        Cole McAdams"],"overview":"Clarke discovers a shocking truth. Octavia is forced
        to make a decision that could have devastating consequences. Kane and Abby
        share a moment.","language":{"episodeName":"en","overview":"en"},"productionCode":"","showUrl":"","lastUpdated":1541772208,"dvdDiscid":"","dvdSeason":3,"dvdEpisodeNumber":9,"dvdChapter":null,"absoluteNumber":38,"filename":"episodes/268592/5544536.jpg","seriesId":268592,"lastUpdatedBy":1,"airsAfterSeason":null,"airsBeforeSeason":null,"airsBeforeEpisode":null,"imdbId":"tt4799896","contentRating":"TV-14","thumbAuthor":1,"thumbAdded":"2019-11-13
        11:16:24","thumbWidth":"640","thumbHeight":"360","siteRating":7.9,"siteRatingCount":416,"isMovie":0}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXs[...]
