interactions:
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/search/series?name=turn%3A+washington%27s+spies
  response:
    body:
      string: !!python/unicode '{"data":[{"aliases":["Turn"],"banner":"/banners/graphical/272135-g2.jpg","firstAired":"2014-4-6","id":272135,"image":"/banners/posters/272135-3.jpg","network":"AMC","overview":"Follows
        New York farmer, Abe Woodhull, who bands together with a group of childhood
        friends to form The Culper Ring, an unlikely group of spies who turn the tide
        in America''s fight for independence.","poster":"/banners/posters/272135-3.jpg","seriesName":"TURN:
        Washington''s Spies","slug":"turn-washingtons-spies","status":"Ended"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/272135
  response:
    body:
      string: !!python/unicode '{"data":{"id":272135,"seriesId":"http://www.tv.com/shows/turn/","seriesName":"TURN:
        Washington''s Spies","aliases":["Turn"],"season":"4","poster":"posters/272135-3.jpg","banner":"graphical/272135-g2.jpg","fanart":"fanart/original/272135-1.jpg","status":"Ended","firstAired":"2014-04-06","network":"AMC","networkId":"400","runtime":"45","language":"en","genre":["Adventure","Drama"],"overview":"Follows
        New York farmer, Abe Woodhull, who bands together with a group of childhood
        friends to form The Culper Ring, an unlikely group of spies who turn the tide
        in America''s fight for independence.","lastUpdated":1579652114,"airsDayOfWeek":"Saturday","airsTime":"9:00
        PM","rating":"TV-14","imdbId":"tt2543328","zap2itId":"SH01823452","added":"2013-08-08
        04:59:14","addedBy":1,"siteRating":8.1,"siteRatingCount":696,"slug":"turn-washingtons-spies"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Wed, 22 Jan 2020 00:15:14 GMT
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXswzg2EaTwGqab4BRQQ6BV0LSkpYo9KzfMJYSUhuleAxWBITBzcAw'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/272135/episodes/query?airedEpisode=3&airedSeason=4&page=1
  response:
    body:
      string: !!python/unicode '{"links":{"first":1,"last":1,"next":null,"prev":null},"data":[{"id":6124360,"airedSeason":4,"airedSeasonID":709698,"airedEpisodeNumber":3,"episodeName":"Blood
        for Blood","firstAired":"2017-06-24","guestStars":[],"directors":[],"writers":[],"overview":"Abe''s
        strategy to rescue Caleb takes a deadly turn; Anna must make a burdensome
        decision; Benedict Arnold has suspicions that Peggy is harboring a secret,
        which she is keeping from him.","language":{"episodeName":"en","overview":"en"},"productionCode":"","showUrl":"","lastUpdated":1547236548,"dvdDiscid":"","dvdSeason":null,"dvdEpisodeNumber":null,"dvdChapter":null,"absoluteNumber":null,"filename":"episodes/272135/6124360.jpg","seriesId":272135,"lastUpdatedBy":1,"airsAfterSeason":null,"airsBeforeSeason":null,"airsBeforeEpisode":null,"imdbId":"tt6137686","contentRating":"TV-14","thumbAuthor":1,"thumbAdded":"2019-11-13
        11:01:29","thumbWidth":"640","thumbHeight":"360","siteRating":7.8,"siteRatingCount":108,"isMovie":0}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2NDAwMDAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MjAwfQ.rSAWNnnOj50Uc26LTvEWyS3iyUESdlXCdoONdRFN44crUQCL_ZYM5xxOin0-krMuoBrJZ3Wbcihijg1hLgnw-esq1YWWTV1-9zgPLCRl3GK2IsPHF0UZbFJxVju295HPCnWYchvI7upOXfgPeTjffjJN__oXaEjxT-xU1Ze1NSDlqde69LcASFcuZWXhFuz0Y1wKdaoQsvUqlWPiYvIdhYsEw_y8WSZYyWs18oDA82CX4QZoJiuARmTDUMATIyg5n8YGLgnrG4z84Gm05quvHuoDAuOYrIf6sXs[...]
