interactions:
- request:
    body: !!python/unicode '{"username": null, "password": null, "apikey": "2AE5D1E42E7194B9"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: !!python/unicode '{"token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2Mzk5OTIsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MTkyfQ.hXvXjJbUdkECwEldg_fR-8oxAJd3oX5cj1vU-sULGcuvTYoQuXxOau7NO0O2a8-7EjsaaObyQrnsEg08ejzF8RTRrhgXyIpfyw-qsf2LKMXzswejlKR3fAgFns6oBzZ9bGsji04xxawxdtt_pwsTxQU11HjecwZpN4TynMd806RK8k4iEx4Djl6RTsfcT6IN_r0oZj9COSxwxWrOlXmx7qtTipWwS2UIVzmq4hyIi-0ZeOmJ8Fn5s3LfCei_-nzuHGEtckIK99vm23RUge__VJ_CJfLo3ZFP5cyhKiywD34A_0ZPvadGizYtnSfu-7dlxtJ4ExUlDkJ8G5EWShpL_g"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2Mzk5OTIsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MTkyfQ.hXvXjJbUdkECwEldg_fR-8oxAJd3oX5cj1vU-sULGcuvTYoQuXxOau7NO0O2a8-7EjsaaObyQrnsEg08ejzF8RTRrhgXyIpfyw-qsf2LKMXzswejlKR3fAgFns6oBzZ9bGsji04xxawxdtt_pwsTxQU11HjecwZpN4TynMd806RK8k4iEx4Djl6RTsfcT6IN_r0oZj9COSxwxWrOlXmx7qtTipWwS2UIVzmq4hyIi-0ZeOmJ8Fn5s3LfCei_-nzuHGEtckIK99vm23RUge__VJ_CJfLo3ZFP5cyhKiywD34A_0ZPvadGizYtnSfu-7dlxtJ4ExUlDkJ8G5EWShpL_g'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/80379
  response:
    body:
      string: !!python/unicode '{"data":{"id":80379,"seriesId":"58053","seriesName":"The
        Big Bang Theory","aliases":[],"season":"12","poster":"posters/80379-18.jpg","banner":"graphical/80379-g13.jpg","fanart":"fanart/original/80379-2.jpg","status":"Ended","firstAired":"2007-09-24","network":"CBS","networkId":"57","runtime":"25","language":"en","genre":["Comedy"],"overview":"A
        woman who moves into an apartment across the hall from two brilliant but socially
        awkward physicists shows them how little they know about life outside of the
        laboratory.","lastUpdated":1588972609,"airsDayOfWeek":"Thursday","airsTime":"8:00
        PM","rating":"TV-14","imdbId":"tt0898266","zap2itId":"EP00931182","added":"2008-02-04
        00:00:00","addedBy":1,"siteRating":8.8,"siteRatingCount":41886,"slug":"the-big-bang-theory"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 08 May 2020 21:16:49 GMT
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
version: 1
