interactions:
- request:
    body: '{"apikey": "1234", "username": null, "password": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: '{"Error":"API Key Required"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - JWT realm=jwt auth
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 401
      message: Unauthorized
version: 1
