interactions:
- request:
    body: !!python/unicode '{"username": null, "password": null, "apikey": "2AE5D1E42E7194B9"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: !!python/unicode '{"token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2Mzk5OTUsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MTk1fQ.BayD0FqzfqwQb--QKuhsi_2bLSwBsZObgl4n9NT9QlC_M9IVX6XmKT3ALBHltEplv6I3QTv9I9gMcF7QQRsZw6vwVPSnQTmPaHQdTbE03gDhoi02Xo9-0KfcljY7uoHPWz_G10YbfgUfVMMrQvNc2JLEBQQJYP1lZsheCYwrJoA2Yy_PGtbZGwivrBP1cpoKnIYUWwtnBpnVQFTtKplMPgbZP71msw13haAqrq64lcDFWD8CSCflArHJFYvPlKxD118Yha4JgyZfyuUKUbo9umDtZs5bOy29gtb03hJLAMRGO51iJjyQHyN1QAcj6vkjKCQf3xNPeSAgMh81ZRV95w"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2Mzk5OTUsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MTk1fQ.BayD0FqzfqwQb--QKuhsi_2bLSwBsZObgl4n9NT9QlC_M9IVX6XmKT3ALBHltEplv6I3QTv9I9gMcF7QQRsZw6vwVPSnQTmPaHQdTbE03gDhoi02Xo9-0KfcljY7uoHPWz_G10YbfgUfVMMrQvNc2JLEBQQJYP1lZsheCYwrJoA2Yy_PGtbZGwivrBP1cpoKnIYUWwtnBpnVQFTtKplMPgbZP71msw13haAqrq64lcDFWD8CSCflArHJFYvPlKxD118Yha4JgyZfyuUKUbo9umDtZs5bOy29gtb03hJLAMRGO51iJjyQHyN1QAcj6vkjKCQf3xNPeSAgMh81ZRV95w'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/80379/episodes?page=1
  response:
    body:
      string: "{\"links\":{\"first\":1,\"last\":3,\"next\":2,\"prev\":null},\"data\"\
        :[{\"id\":332484,\"airedSeason\":1,\"airedSeasonID\":28047,\"airedEpisodeNumber\"\
        :1,\"episodeName\":\"Pilot\",\"firstAired\":\"2007-09-24\",\"guestStars\"\
        :[\"Brian Patrick Wade\",\"Vernee Watson-Johnson\"],\"directors\":[\"James\
        \ Burrows\"],\"writers\":[\"Bill Prady\",\"Chuck Lorre\"],\"overview\":\"\
        Brilliant physicist roommates Leonard and Sheldon meet their new neighbor\
        \ Penny, who begins showing them that as much as they know about science,\
        \ they know little about actual living.\",\"language\":{\"episodeName\":\"\
        en\",\"overview\":\"en\"},\"productionCode\":\"\",\"showUrl\":\"\",\"lastUpdated\"\
        :1558186798,\"dvdDiscid\":\"\",\"dvdSeason\":1,\"dvdEpisodeNumber\":1,\"dvdChapter\"\
        :null,\"absoluteNumber\":null,\"filename\":\"episodes/80379/332484.jpg\",\"\
        seriesId\":80379,\"lastUpdatedBy\":1,\"airsAfterSeason\":null,\"airsBeforeSeason\"\
        :null,\"airsBeforeEpisode\":null,\"imdbId\":\"tt0775431\",\"contentRating\"\
        :\"TV-14\",\"thumbAuthor\":1,\"thumbAdded\":\"2019-11-13 12:38:48\",\"thumbWidth\"\
        :\"640\",\"thumbHeight\":\"360\",\"siteRating\":7.7,\"siteRatingCount\":11853,\"\
        isMovie\":0},{\"id\":337065,\"airedSeason\":1,\"airedSeasonID\":28047,\"airedEpisodeNumber\"\
        :2,\"episodeName\":\"The Big Bran Hypothesis\",\"firstAired\":\"2007-10-01\"\
        ,\"guestStars\":[],\"directors\":[\"Mark Cendrowski\"],\"writers\":[\"Bill\
        \ Prady\",\"Chuck Lorre\"],\"overview\":\"Leonard volunteers to sign for a\
        \ package in an attempt to make a good impression on Penny, but when he enlists\
        \ Sheldon for help, his attempt at chivalry goes terribly awry.\",\"language\"\
        :{\"episodeName\":\"en\",\"overview\":\"en\"},\"productionCode\":\"3T6601\"\
        ,\"showUrl\":\"\",\"lastUpdated\":1558187024,\"dvdDiscid\":\"\",\"dvdSeason\"\
        :1,\"dvdEpisodeNumber\":2,\"dvdChapter\":null,\"absoluteNumber\":null,\"filename\"\
        :\"episodes/80379/337065.jpg\",\"seriesId\":80379,\"lastUpdatedBy\":1,\"airsAfterSeason\"\
        :null,\"airsBeforeSeason\":null,\"airsBeforeEpisode\":null,\"imdbId\":\"tt1091289\"\
        ,\"contentRating\":\"TV-14\",\"thumbAuthor\":1,\"thumbAdded\":\"2019-11-13\
        \ 12:38:48\",\"thumbWidth\":\"640\",\"thumbHeight\":\"360\",\"siteRating\"\
        :7.7,\"siteRatingCount\":10071,\"isMovie\":0},{\"id\":337249,\"airedSeason\"\
        :1,\"airedSeasonID\":28047,\"airedEpisodeNumber\":3,\"episodeName\":\"The\
        \ Fuzzy Boots Corollary\",\"firstAired\":\"2007-10-08\",\"guestStars\":[],\"\
        directors\":[\"Mark Cendrowski\"],\"writers\":[\"Bill Prady\",\"Chuck Lorre\"\
        ,\"Steven Molaro\"],\"overview\":\"Leonard asks a woman out after he finds\
        \ out that Penny is seeing someone.\",\"language\":{\"episodeName\":\"en\"\
        ,\"overview\":\"en\"},\"productionCode\":\"3T6602\",\"showUrl\":\"\",\"lastUpdated\"\
        :1558187314,\"dvdDiscid\":\"\",\[...]
