interactions:
- request:
    body: !!python/unicode '{"username": null, "password": null, "apikey": "2AE5D1E42E7194B9"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: !!python/unicode '{"token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2Mzk5OTAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MTkwfQ.fLbme5SIVHEstRv86L3eSM_RR78rZ9DVxj70kb_wilVabu5bb34aPZ93a3EOzM-BLaXEjFRfvdwWjglClrP5t_CtBUjVs6GIt4zvE3Be3BI-ZNQleoTVYM23GQ234pl9ceHL7UCum2My-iBUPapdxHBcRkQHlu0JCa9EFmuWlvUE5V3A-ygP2TQNtrSbOm_w_Kl7h2dc6QQXeDR68yNfl9RmLbLlkA_apSrXVPlRh418Lk5H-bBKQ_2h0wSohtVEZ5gOap0CHyiHJGXUOCdeWlL01JDGlufUnAF0pUsdue6P2wtt-6kXrV7oLQNUsnLfLol4d7hCQtnv-a1twnsfoA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - !!python/unicode 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODk2Mzk5OTAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNTg5MDM1MTkwfQ.fLbme5SIVHEstRv86L3eSM_RR78rZ9DVxj70kb_wilVabu5bb34aPZ93a3EOzM-BLaXEjFRfvdwWjglClrP5t_CtBUjVs6GIt4zvE3Be3BI-ZNQleoTVYM23GQ234pl9ceHL7UCum2My-iBUPapdxHBcRkQHlu0JCa9EFmuWlvUE5V3A-ygP2TQNtrSbOm_w_Kl7h2dc6QQXeDR68yNfl9RmLbLlkA_apSrXVPlRh418Lk5H-bBKQ_2h0wSohtVEZ5gOap0CHyiHJGXUOCdeWlL01JDGlufUnAF0pUsdue6P2wtt-6kXrV7oLQNUsnLfLol4d7hCQtnv-a1twnsfoA'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/search/series?name=The+Bing+Bag+Theory
  response:
    body:
      string: !!python/unicode '{"Error":"Resource not found"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 404
      message: Not Found
version: 1
