interactions:
- request:
    body: '{"apikey": "5EC930FB90DA1ADA", "username": null, "password": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: '{"token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMTIsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDEyfQ.1Lu-Q6xIniiNn660Qms8vXHAcKjVX7XqRCoJz4KYrk9q_uGNGZUVcBNYe0SljeqNz4gHDMWVUZs-1qCdhIXciP77h5Gh00k-uHua_BiPJcgtyiQpsu4Zitg4WUkQlAsb0w1uHbUAuxH0WbBEBiiWKw82EwZ15iglu7hu2zGVT-gI-ZOWfmlL_Ld-YQrZ7a-ZibX8hhn8a81-25Wxk8wBJAU_z5Kd03zDXV7mINlob1RypYIndxvu8VUnb2c9k4eNCojE-QHiTR2IsvN8L6wF8yfrMrh_PC-wKluirWYS2L8qTZFh96st_fzxZLBNw2bBaclLCpD1Rgp7GwlX9nkJ_A"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMTIsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDEyfQ.1Lu-Q6xIniiNn660Qms8vXHAcKjVX7XqRCoJz4KYrk9q_uGNGZUVcBNYe0SljeqNz4gHDMWVUZs-1qCdhIXciP77h5Gh00k-uHua_BiPJcgtyiQpsu4Zitg4WUkQlAsb0w1uHbUAuxH0WbBEBiiWKw82EwZ15iglu7hu2zGVT-gI-ZOWfmlL_Ld-YQrZ7a-ZibX8hhn8a81-25Wxk8wBJAU_z5Kd03zDXV7mINlob1RypYIndxvu8VUnb2c9k4eNCojE-QHiTR2IsvN8L6wF8yfrMrh_PC-wKluirWYS2L8qTZFh96st_fzxZLBNw2bBaclLCpD1Rgp7GwlX9nkJ_A
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/80379/actors
  response:
    body:
      string: '{"data":[{"id":64621184,"seriesId":80379,"name":"Jim Parsons","role":"Sheldon
        Cooper","sortOrder":1,"image":"actors/325467.jpg","imageAuthor":171,"imageAdded":"2019-06-09
        10:15:15","lastUpdated":"2019-06-09 10:15:15"},{"id":64621179,"seriesId":80379,"name":"Johnny
        Galecki","role":"Leonard Hofstadter","sortOrder":2,"image":"actors/325466.jpg","imageAuthor":171,"imageAdded":"2019-06-09
        10:16:14","lastUpdated":"2019-06-09 10:16:14"},{"id":64621175,"seriesId":80379,"name":"Kaley
        Cuoco","role":"Penny","sortOrder":3,"image":"actors/325465.jpg","imageAuthor":171,"imageAdded":"2019-06-09
        10:18:24","lastUpdated":"2019-06-09 10:18:24"},{"id":64621164,"seriesId":803[...]
