interactions:
- request:
    body: !!python/unicode '{"username": null, "password": null, "apikey": "1234"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: !!python/unicode '{"Error":"API Key Required"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - JWT realm=jwt auth
      x-thetvdb-api-version:
      - 3.0.0
    status:
      code: 401
      message: Unauthorized
version: 1
