interactions:
- request:
    body: '{"apikey": "5EC930FB90DA1ADA", "username": null, "password": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: '{"token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDAwOTQyMjEsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzM5NDg5NDIxfQ.2FuzHyHKlNUYwUE32PvHaR5El9RBf700Kt9jjztWKZ5v3-dkQKlXBpPb5FRAXLrz44mOJek8ZsOyrYSF-Q3AfkslZyEak4PNg99byS4YrIMcm07OwK3-MCZLxCm4-GovoB6Y5JhI1j428mRPEZT4LynknYjhvWAEhbsg42Pjo3n5BJBB_Kd-OO_34dA-rjOgKOKXh2IXki1GTob3gwZXNoUOJCoiD8Cgzdb8nQbo0LYJl2r_n8CggdGPYk4GTcg33w3iFVSMURDhdveitlBKb2ElDzAgZiWpNaHogGnplc5wxpsDGoBhxdi1MoiuoX_1w2R1JSnMuVzXSLmFoebqdQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDAwOTQyMjEsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzM5NDg5NDIxfQ.2FuzHyHKlNUYwUE32PvHaR5El9RBf700Kt9jjztWKZ5v3-dkQKlXBpPb5FRAXLrz44mOJek8ZsOyrYSF-Q3AfkslZyEak4PNg99byS4YrIMcm07OwK3-MCZLxCm4-GovoB6Y5JhI1j428mRPEZT4LynknYjhvWAEhbsg42Pjo3n5BJBB_Kd-OO_34dA-rjOgKOKXh2IXki1GTob3gwZXNoUOJCoiD8Cgzdb8nQbo0LYJl2r_n8CggdGPYk4GTcg33w3iFVSMURDhdveitlBKb2ElDzAgZiWpNaHogGnplc5wxpsDGoBhxdi1MoiuoX_1w2R1JSnMuVzXSLmFoebqdQ
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/80379/actors
  response:
    body:
      string: '{"data":[{"id":64621184,"seriesId":80379,"name":"Jim Parsons","role":"Sheldon
        Cooper","sortOrder":1,"image":"actors/325467.jpg","imageAuthor":171,"imageAdded":"2019-06-09
        10:15:15","lastUpdated":"2019-06-09 10:15:15"},{"id":64621179,"seriesId":80379,"name":"Johnny
        Galecki","role":"Leonard Hofstadter","sortOrder":2,"image":"actors/325466.jpg","imageAuthor":171,"imageAdded":"2019-06-09
        10:16:14","lastUpdated":"2019-06-09 10:16:14"},{"id":64621175,"seriesId":80379,"name":"Kaley
        Cuoco","role":"Penny","sortOrder":3,"image":"actors/325465.jpg","imageAuthor":171,"imageAdded":"2019-06-09
        10:18:24","lastUpdated":"2019-06-09 10:18:24"},{"id":64621164,"seriesId":803[...]
