interactions:
- request:
    body: '{"apikey": "5EC930FB90DA1ADA", "username": null, "password": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: '{"token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMTEsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDExfQ.baPlIWIb6fWdo7idT98r33GDpRT-A-7cl5gGp41jSzGMRp1Hpj8FWu7bNmMNlpiaU_wOclEBSWc6OpSuPl-FSEQJwI9TlqG8QlDWMwnjlje0srzns_I6IRDaCFNSZEWGhuq7Q4hReAMAyCy3OGC86WwJQ-PoznvQPLBdvDN4CbvgbpJZx7JEJ1X07EVy2bHcMFrc8zOYq37KfMUjjosdAxErBjZ429c7r2hA78_bWAAsB4mcgcQTp5nUG_VHL-d9apecEsRGFC-G2AWvG7Q6qJWBSWEX5nYPjUYilKGsqe_L3-XRIhxnBpbEg6vZ8nuh0dJxTuK4HKTIiyhudWB5Fw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMTEsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDExfQ.baPlIWIb6fWdo7idT98r33GDpRT-A-7cl5gGp41jSzGMRp1Hpj8FWu7bNmMNlpiaU_wOclEBSWc6OpSuPl-FSEQJwI9TlqG8QlDWMwnjlje0srzns_I6IRDaCFNSZEWGhuq7Q4hReAMAyCy3OGC86WwJQ-PoznvQPLBdvDN4CbvgbpJZx7JEJ1X07EVy2bHcMFrc8zOYq37KfMUjjosdAxErBjZ429c7r2hA78_bWAAsB4mcgcQTp5nUG_VHL-d9apecEsRGFC-G2AWvG7Q6qJWBSWEX5nYPjUYilKGsqe_L3-XRIhxnBpbEg6vZ8nuh0dJxTuK4HKTIiyhudWB5Fw
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/80379
  response:
    body:
      string: '{"data":{"id":80379,"seriesId":"","seriesName":"The Big Bang Theory","aliases":[],"season":"12","poster":"posters/80379-18.jpg","banner":"graphical/80379-g23.jpg","fanart":"fanart/original/80379-38.jpg","status":"Ended","firstAired":"2007-09-24","network":"CBS","networkId":"57","runtime":"25","language":"en","genre":["Comedy","Romance"],"overview":"A
        woman who moves into an apartment across the hall from two brilliant but socially
        awkward physicists shows them how little they know about life outside of the
        laboratory.","lastUpdated":1716229863,"airsDayOfWeek":"Thursday","airsTime":"8:00
        PM","rating":"TV-14","imdbId":"tt0898266","zap2itId":"","added":"2008-02-04
        00:00:00","addedBy":1,"siteRating":8.8,"siteRatingCount":41886,"slug":"the-big-bang-theory"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 20 May 2024 18:31:03 GMT
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
version: 1
