interactions:
- request:
    body: '{"apikey": "5EC930FB90DA1ADA", "username": null, "password": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.thetvdb.com/login
  response:
    body:
      string: '{"token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDAwOTQyMjAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzM5NDg5NDIwfQ.to1lA1te9rHT1Z3WeInLZZBGMgFwE8GrPFFO0pzQGg74-w4oQ_7WCpyyoYKwtEiUx6__OqARhh3Bv4LlyfFzt6ksgNfg13ADpUMH0A8ro4q5dmjLJO4MaMi1reqLvt0uEfWN_DjKT4P_0RAX_tQxultbsCsqsWJxClqSvYO2d2h5Ems7SBTmr-gVvHtqIC-umYTJ7o_0-zptmfjICG1A2Vw0LXOhy_6zq4pRh6ScMKTw7SNQ1KVY_l7LV4dICJJcCJ8chNqf5-U80F8neBO9TxUHNRYlkjpRyUPwzCJKzKkPrkjE99iV_jw7z_cfJwY2B-9CWRJSEr8T-4tkUbSg_w"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDAwOTQyMjAsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzM5NDg5NDIwfQ.to1lA1te9rHT1Z3WeInLZZBGMgFwE8GrPFFO0pzQGg74-w4oQ_7WCpyyoYKwtEiUx6__OqARhh3Bv4LlyfFzt6ksgNfg13ADpUMH0A8ro4q5dmjLJO4MaMi1reqLvt0uEfWN_DjKT4P_0RAX_tQxultbsCsqsWJxClqSvYO2d2h5Ems7SBTmr-gVvHtqIC-umYTJ7o_0-zptmfjICG1A2Vw0LXOhy_6zq4pRh6ScMKTw7SNQ1KVY_l7LV4dICJJcCJ8chNqf5-U80F8neBO9TxUHNRYlkjpRyUPwzCJKzKkPrkjE99iV_jw7z_cfJwY2B-9CWRJSEr8T-4tkUbSg_w
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/80379
  response:
    body:
      string: '{"data":{"id":80379,"seriesId":"","seriesName":"The Big Bang Theory","aliases":[],"season":"12","poster":"posters/80379-18.jpg","banner":"graphical/80379-g23.jpg","fanart":"fanart/original/80379-38.jpg","status":"Ended","firstAired":"2007-09-24","network":"CBS","networkId":"57","runtime":"25","language":"en","genre":["Comedy","Romance"],"overview":"A
        woman who moves into an apartment across the hall from two brilliant but socially
        awkward physicists shows them how little they know about life outside of the
        laboratory.","lastUpdated":1735806730,"airsDayOfWeek":"Thursday","airsTime":"8:00
        PM","rating":"TV-14","imdbId":"tt0898266","zap2itId":"","added":"2008-02-04
        00:00:00","addedBy":1,"siteRating":8.8,"siteRatingCount":41886,"slug":"the-big-bang-theory"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 02 Jan 2025 08:32:10 GMT
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
version: 1
