interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMTQsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDE0fQ.dJAo_FBEcSnkDtgNp-g_mZjEyYoW1MHhgAb-IWuwL3OIhiI3Ga0QAn0MbhX6o88BtmVsoHsWoRD1dFYGeNyO4AK8JUOYV4zwUBpZzxr2dBCd02cEDvbOnA9yLaYmhpUAyN86p3hWKLKlLTBrctBQD9obkMY8pIFoeHNS0SfkQD6PMnjsHdqtpjab0IoH2cFpgm45HhAq78XhEOPBAX45WjlsP-wXrF4H49nzAL_bFButDyS_cCYdYcqaTv4J65OyDJ0VQpA4aUp4T-_6WjwnZ2d0WtcPSaXGX0cDiGFSQMptR7atojVlRJD30ZaZU_wrAfpWGcaoip22xeEx_D0DJg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/search/series?name=alex+inc
  response:
    body:
      string: '{"data":[{"aliases":[],"banner":"/banners/graphical/328635-g2.jpg","firstAired":"2018-03-28","id":328635,"image":"/banners/posters/328635-2.jpg","network":"ABC
        (US)","overview":"Based on the podcast \"StartUp\" from Gimlet Media, Alex
        Schuman embarks on the adventure of starting his own company. Having already
        found success professionally, as a radio journalist, and personally, as a
        husband and father of two, Alex isn''t satisfied just coasting along and decides
        to quit his job and start over on his own terms. He quickly learns that building
        his own business isn''t going to be as easy as he thought, but the payoff
        will be rewarding.","poster":"/banners/posters/328635-2.jpg","seriesName":"Alex,
        Inc.","slug":"alex-inc","status":"Ended"},{"aliases":[],"banner":"/banners/v4/series/75497/banners/663fb15bf1aae.jpg","firstAired":"1994-10-08","id":75497,"image":"/banners/posters/75497-2.jpg","network":"Nickelodeon","overview":"Alex
        Mack is an ordinary teenage girl, living with her parents, George and Barbara,
        and older sister, Annie, in the corporate town of Paradise Valley. While walking
        home after her first day of junior high school, she is nearly hit by a truck
        from a chemical plant, and during the incident, she is drenched with a top-secret
        chemical called GC-161. She soon discovers that it gave her strange powers.
        These include telekinesis, the ability to zap bolts of electricity from her
        fingers, and the capacity to morph into a mobile puddle of metallic liquid.
        However, her powers prove to be unpredictable (such as when her skin starts
        glowing brightly while she''s nervous). She confides only in Annie and her
        best friend, Ray, choosing to keep her powers a secret from everyone else,
        including her parents, for fear of what the chemical plant CEO, Danielle Atron,
        will do to her if she finds out.","poster":"/banners/posters/75497-2.jpg","seriesName":"The
        Secret World of Alex Mack","slug":"the-secret-world-of-alex-mack","status":"Ended"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMTQsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDE0fQ.dJAo_FBEcSnkDtgNp-g_mZjEyYoW1MHhgAb-IWuwL3OIhiI3Ga0QAn0MbhX6o88BtmVsoHsWoRD1dFYGeNyO4AK8JUOYV4zwUBpZzxr2dBCd02cEDvbOnA9yLaYmhpUAyN86p3hWKLKlLTBrctBQD9obkMY8pIFoeHNS0SfkQD6PMnjsHdqtpjab0IoH2cFpgm45HhAq78XhEOPBAX45WjlsP-wXrF4H49nzAL_bFButDyS_cCYdYcqaTv4J65OyDJ0VQpA4aUp4T-_6WjwnZ2d0WtcPSaXGX0cDiGFSQMptR7atojVlRJD30ZaZU_wrAfpWGcaoip22xeEx_D0DJg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/328635
  response:
    body:
      string: '{"data":{"id":328635,"seriesId":"","seriesName":"Alex, Inc.","aliases":[],"season":"1","poster":"posters/328635-2.jpg","banner":"graphical/328635-g2.jpg","fanart":"fanart/original/328635-1.jpg","status":"Ended","firstAired":"2018-03-28","network":"ABC
        (US)","networkId":"5","runtime":"25","language":"en","genre":["Comedy"],"overview":"Based
        on the podcast \"StartUp\" from Gimlet Media, Alex Schuman embarks on the
        adventure of starting his own company. Having already found success professionally,
        as a radio journalist, and personally, as a husband and father of two, Alex
        isn''t satisfied just coasting along and decides to quit his job and start
        over on his own terms. He quickly learns that building his own business isn''t
        going to be as easy as he thought, but the payoff will be rewarding.","lastUpdated":1629325689,"airsDayOfWeek":"Wednesday","airsTime":"8:30
        PM","rating":"TV-PG","imdbId":"tt6466948","zap2itId":"","added":"2017-05-16
        10:29:38","addedBy":95425,"siteRating":5.5,"siteRatingCount":58,"slug":"alex-inc"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 18 Aug 2021 22:28:09 GMT
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMTQsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDE0fQ.dJAo_FBEcSnkDtgNp-g_mZjEyYoW1MHhgAb-IWuwL3OIhiI3Ga0QAn0MbhX6o88BtmVsoHsWoRD1dFYGeNyO4AK8JUOYV4zwUBpZzxr2dBCd02cEDvbOnA9yLaYmhpUAyN86p3hWKLKlLTBrctBQD9obkMY8pIFoeHNS0SfkQD6PMnjsHdqtpjab0IoH2cFpgm45HhAq78XhEOPBAX45WjlsP-wXrF4H49nzAL_bFButDyS_cCYdYcqaTv4J65OyDJ0VQpA4aUp4T-_6WjwnZ2d0WtcPSaXGX0cDiGFSQMptR7atojVlRJD30ZaZU_wrAfpWGcaoip22xeEx_D0DJg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thetvdb.com/series/328635/episodes/query?airedSeason=1&airedEpisode=4&page=1
  response:
    body:
      string: '{"links":{"first":1,"last":1,"next":null,"prev":null},"data":[{"id":6627151,"airedSeason":1,"airedSeasonID":745822,"airedEpisodeNumber":4,"episodeName":"The
        Nanny","firstAired":"2018-04-17","guestStars":[],"directors":[],"writers":[],"overview":"Alex
        thinks he fired the baby sitter, but the situation gets complicated when she
        shows up for work.","language":{"episodeName":"en","overview":"en"},"productionCode":"","showUrl":"","lastUpdated":1597244363,"dvdDiscid":"","dvdSeason":null,"dvdEpisodeNumber":null,"dvdChapter":null,"absoluteNumber":null,"filename":"episodes/328635/6627151.jpg","seriesId":328635,"lastUpdatedBy":201648,"airsAfterSeason":null,"airsBeforeSeason":null,"airsBeforeEpisode":null,"imdbId":"","contentRating":"TV-PG","thumbAuthor":1,"thumbAdded":"2019-11-13
        12:53:34","thumbWidth":"640","thumbHeight":"360","siteRating":0,"siteRatingCount":0,"isMovie":0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Thetvdb-Api-Version:
      - 3.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTY5OTMyMTQsImlkIjoic3VibGltaW5hbCIsIm9yaWdfaWF0IjoxNzE2Mzg4NDE0fQ.dJAo_FBEcSnkDtgNp-g_mZjEyYoW1MHhgAb-IWuwL3OIhiI3Ga0QAn0MbhX6o88BtmVsoHsWoRD1dFYGeNyO4AK8JUOYV4zwUBpZzxr2dBCd02cEDvbOnA9yLaYmhpUAyN86p3hWKLKlLTBrctBQD9obkMY8pIFoeHNS0SfkQD6PMnjsHdqtpjab0IoH2cFpgm45HhAq78XhEOPBAX45WjlsP-wXrF4H49nzAL_bFButDyS_cCYdYcqaTv4J65OyDJ0VQpA4aUp4T-_6WjwnZ2d0WtcPSaXGX0cDiGFSQMptR7atojVlR[...]
