interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.italiansubs.net/api/rest/users/login?username=elettronik&apikey=d86ad6ec041b334fac1e512174ee04d5&password=tset-lanimilbus
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?>

        <root><data/><status>fail</status><error><code>0</code><message>Login failed!</message></error></root>

        '}
    headers:
      alternate-protocol: ['443:npn-spdy/3.1']
      content-type: [text/xml;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.italiansubs.net/api/rest/users/login?username=subliminal-test&apikey=d86ad6ec041b334fac1e512174ee04d5&password=tset-lanimilbus
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?>

        <root><data/><status>fail</status><error><code>0</code><message>Login failed!</message></error></root>

        '}
    headers:
      alternate-protocol: ['443:npn-spdy/3.1']
      content-type: [text/xml;charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.italiansubs.net/api/rest/users/login?username=subliminal-test&apikey=d86ad6ec041b334fac1e512174ee04d5&password=tset-lanimilbus
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?>

        <root><data/><status>fail</status><error><code>0</code><message>Login failed!</message></error></root>

        '}
    headers:
      alternate-protocol: ['443:npn-spdy/3.1']
      content-type: [text/xml;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
