interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.italiansubs.net/api/rest/shows/search?apikey=d86ad6ec041b334fac1e512174ee04d5&q=Dallas
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?>

        <root><data><shows><show><id>3420</id><name>Dallas</name></show></shows><page>1</page><pages>1</pages><count>1</count><next/></data><status>success</status></root>

'}
    headers:
      content-type: [text/xml;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
