interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.italiansubs.net/api/rest/shows?apikey=d86ad6ec041b334fac1e512174ee04d5
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?>

        <root><data><shows><show><id>4757</id><name/><fans>2</fans><started>2013-11-23</started><ended>0000-00-00</ended></show><show><id>2132</id><name>$#*!
        My Dad Says</name><fans>1089</fans><started>2010-09-23</started><ended>2011-02-17</ended></show><show><id>1363</id><name>10
        Things I Hate About You</name><fans>1290</fans><started>2009-07-07</started><ended>2010-05-24</ended></show><show><id>1843</id><name>100
        Questions</name><fans>384</fans><started>2010-05-27</started><ended>2010-07-01</ended></show><show><id>6621</id><name>11.22.63</name><fans>1379</fans><started/><ended/></show><show><id>5561</id><name>12
       [...]
[...]
