interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=en&moviehash=5b8f8f4e41ccb21e&page=1
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?languages=en&moviehash=5b8f8f4e41ccb21e
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=en&moviehash=5b8f8f4e41ccb21e
  response:
    body:
      string: '{"total_pages":1,"total_count":12,"per_page":60,"page":1,"data":[{"id":"876180","type":"subtitle","attributes":{"subtitle_id":"876180","language":"en","download_count":392597,"new_download_count":6009,"hearing_impaired":false,"hd":true,"fps":23.976,"votes":3,"ratings":10.0,"from_trusted":true,"foreign_parts_only":false,"upload_date":"2013-10-16T00:37:02Z","ai_translated":false,"nb_cd":1,"machine_translated":false,"release":"720p.BluRay.x264-Felony
        [and BDRiP.XViD-NoGRP]","comments":"Fix OCR, italics, overlapping, etc...
        for all 720p/1080p BluRay","legacy_subtitle_id":5225493,"legacy_uploader_id":847082,"uploader":{"uploader_id":48068,"name":"cipry_master","rank":"Trusted
        member"},"feature_details":{"feature_id":580760,"feature_type":"Movie","year":2013,"title":"Man
        of Steel","movie_name":"2013 - El hombre de acero","imdb_id":770828,"tmdb_id":49521},"url":"https://www.opensubtitles.com/en/subtitles/legacy/5225493","related_links":[{"label":"All
        subtitles for man of steel","url":"https://www.opensubtitles.com/en/movies/2013-man-of-steel","img_url":"https://s9.opensubtitles.com/features/0/6/7/580760.jpg"}],"files":[{"file_id":957714,"cd_number":1,"file_name":"Man.Of.Steel.2013.720p.BluRay.x264-Felony"}],"moviehash_match":true}},{"id":"3178800","type":"subtitle","attributes":{"subtitle_id":"3178800","language":"en","download_count":210404,"new_download_count":898,"hearing_impaired":false,"hd":true,"fps":23.976,"votes":2,"ratings":10.0,"from_trusted":true,"foreign_parts_only":false,"upload_date":"2013-11-07T04:48:10Z","ai_translated":false,"nb_cd":1,"machine_translated":false,"release":"Arrow.S02E05.HDTV.x264-LOL","comments":"sync,
        corrected by elderman","legacy_subtitle_id":5259348,"legacy_uploader_id":1332962,"uploader":{"uploader_id":56900,"name":"elderman","rank":"translator"},"feature_details":{"feature_id":348318,"feature_type":"Episode","year":2013,"title":"League
        of Assassins","movie_name":"Arrow - S02E05  League of Assassins","imdb_id":3128398,"tmdb_id":64139,"season_number":2,"episode_number":5,"parent_imdb_id":2193021,"parent_title":"Arrow","parent_tmdb_id":1412,"parent_feature_id":12491},"url":"https://www.opensubtitles.com/en/subtitles/legacy/5259348","related_links":[{"label":"All
        subtitles for Tv Show Arrow","url":"https://www.opensubtitles.com/en/features/redirect/12491","img_url":"https://s9.opensubtitles.com/features/8/1/3/348318.jpg"},{"label":"All
        subtitles for Episode league of assassins","url":"https://www.opensubtitles.com/en/features/redirect/348318"}],"files":[{"file_id":3249003,"cd_number":1,"file_name":"Arrow.S02E05.HDTV.x264-LOL"}],"movieha[...]
