interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=6&languages=hu&page=1&query=marvels+agents+of+s.h.i.e.l.d.&season_number=2
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?episode_number=6&languages=hu&query=marvels+agents+of+s.h.i.e.l.d.&season_number=2
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=6&languages=hu&query=marvels+agents+of+s.h.i.e.l.d.&season_number=2
  response:
    body:
      string: '{"total_pages":1,"total_count":3,"per_page":60,"page":1,"data":[{"id":"2492310","type":"subtitle","attributes":{"subtitle_id":"2492310","language":"hu","download_count":6910,"new_download_count":9,"hearing_impaired":false,"hd":true,"fps":25.0,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2014-11-08T00:39:41Z","ai_translated":false,"nb_cd":1,"machine_translated":false,"release":"Marvels.Agents.of.S.H.I.E.L.D.S02E06.A.Fractured.House.720p.WEB-DL.DD5.1.H.264-BS","comments":"","legacy_subtitle_id":5885999,"legacy_uploader_id":0,"uploader":{"uploader_id":3282,"name":"os-auto","rank":"Application
        Developers"},"feature_details":{"feature_id":149353,"feature_type":"Episode","year":2014,"title":"A
        Fractured House","movie_name":"Marvel''s Agents of S.H.I.E.L.D. - S02E06  A
        Fractured House","imdb_id":4078580,"tmdb_id":1010684,"season_number":2,"episode_number":6,"parent_imdb_id":2364582,"parent_title":"Marvel''s
        Agents of S.H.I.E.L.D.","parent_tmdb_id":1403,"parent_feature_id":13370},"url":"https://www.opensubtitles.com/hu/subtitles/legacy/5885999","related_links":[{"label":"All
        subtitles for Tv Show Marvel''s Agents of S.H.I.E.L.D.","url":"https://www.opensubtitles.com/hu/features/redirect/13370","img_url":"https://s9.opensubtitles.com/features/3/5/3/149353.jpg"},{"label":"All
        subtitles for Episode a fractured house","url":"https://www.opensubtitles.com/hu/features/redirect/149353"}],"files":[{"file_id":2568816,"cd_number":1,"file_name":"Marvels.Agents.of.S.H.I.E.L.D.S02E06.A.Fractured.House.720p.WEB-DL.DD5.1.H.264-BS"}]}},{"id":"2491535","type":"subtitle","attributes":{"subtitle_id":"2491535","language":"hu","download_count":3158,"new_download_count":2,"hearing_impaired":false,"hd":true,"fps":0.0,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2014-10-30T17:21:18Z","ai_translated":false,"nb_cd":1,"machine_translated":false,"release":"Marvels
        Agents of S.H.I.E.L.D. - 2x06 - A Fract[...]
[...]
