interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=en&moviehash=5b8f8f4e41ccb21e&page=1
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?languages=en&moviehash=5b8f8f4e41ccb21e
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=en&moviehash=5b8f8f4e41ccb21e
  response:
    body:
      string: '{"total_pages":1,"total_count":12,"per_page":50,"page":1,"data":[{"id":"3178800","type":"subtitle","attributes":{"subtitle_id":"3178800","language":"en","download_count":212472,"new_download_count":1520,"hearing_impaired":false,"hd":true,"fps":23.976,"votes":2,"ratings":10.0,"from_trusted":true,"foreign_parts_only":false,"upload_date":"2013-11-07T04:48:10Z","ai_translated":false,"nb_cd":1,"slug":"5259348-arrow-s02e05-hdtv-x264-lol","machine_translated":false,"release":"Arrow.S02E05.HDTV.x264-LOL","comments":"sync,
        corrected by elderman","legacy_subtitle_id":5259348,"legacy_uploader_id":1332962,"uploader":{"uploader_id":56900,"name":"elderman","rank":"translator"},"feature_details":{"feature_id":348318,"feature_type":"Episode","year":2013,"title":"League
        of Assassins","movie_name":"Arrow - S02E05  League of Assassins","imdb_id":3128398,"tmdb_id":64139,"season_number":2,"episode_number":5,"parent_imdb_id":2193021,"parent_title":"Arrow","parent_tmdb_id":1412,"parent_feature_id":12491},"url":"https://www.opensubtitles.com/en/subtitles/legacy/5259348","related_links":[{"label":"All
        subtitles for Tv Show Arrow","url":"https://www.opensubtitles.com/en/features/redirect/12491","img_url":"https://s9.opensubtitles.com/features/8/1/3/348318.jpg"},{"label":"All
        subtitles for Episode league of assassins","url":"https://www.opensubtitles.com/en/features/redirect/348318"}],"files":[{"file_id":3249003,"cd_number":1,"file_name":"Arrow.S02E05.HDTV.x264-LOL"}],"moviehash_match":true}},{"id":"882182","type":"subtitle","attributes":{"subtitle_id":"882182","language":"en","download_count":10701,"new_download_count":133,"hearing_impaired":false,"hd":true,"fps":23.98,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2013-10-28T01:20:44Z","ai_translated":false,"nb_cd":1,"slug":"man-of-steel-2013-brrip-xvidhd-720p-npw","machine_translated":false,"release":"Man
        of Steel 2013 BRRip XvidHD 720p-NPW","comments":"","legacy_subtitle_id":[...]
