interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=en&page=1&query=james+bond
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?languages=en&query=james+bond
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=en&query=james+bond
  response:
    body:
      string: "{\"total_pages\":31,\"total_count\":1502,\"per_page\":50,\"page\":1,\"data\":[{\"id\":\"176440\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"176440\",\"language\":\"en\",\"download_count\":7909,\"new_download_count\":132,\"hearing_impaired\":false,\"hd\":false,\"fps\":25.0,\"votes\":1,\"ratings\":1.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2006-02-21T00:00:00Z\",\"ai_translated\":false,\"nb_cd\":1,\"slug\":\"140353-golden-eye\",\"machine_translated\":false,\"release\":\"golden
        eye\",\"comments\":\"\",\"legacy_subtitle_id\":140353,\"legacy_uploader_id\":58815,\"uploader\":{\"uploader_id\":25001,\"name\":\"AHMEDMOXP
        (a)\",\"rank\":\"Bronze Member\"},\"feature_details\":{\"feature_id\":514780,\"feature_type\":\"Movie\",\"year\":1995,\"title\":\"GoldenEye\",\"movie_name\":\"1995
        - GoldenEye\",\"imdb_id\":113189,\"tmdb_id\":710},\"url\":\"https://www.opensubtitles.com/en/subtitles/140353-golden-eye\",\"related_links\":[{\"label\":\"All
        subtitles for goldeneye\",\"url\":\"https://www.opensubtitles.com/en/movies/140353-golden-eye\",\"img_url\":\"https://s1.opensubtitles.com/features/0/8/7/514780.jpg\"}],\"files\":[{\"file_id\":177801,\"cd_number\":1,\"file_name\":\"James
        Bond - Goldeneye\"}]}},{\"id\":\"4298081\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"4298081\",\"language\":\"en\",\"download_count\":629,\"new_download_count\":33,\"hearing_impaired\":false,\"hd\":false,\"fps\":25.0,\"votes\":0,\"ratings\":0.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2003-01-07T00:00:00Z\",\"ai_translated\":false,\"nb_cd\":1,\"slug\":\"152574-goldfinger-james-bond\",\"machine_translated\":false,\"release\":\"Goldfinger
[...]
[...]
