interactions:
- request:
    body: '{"username": "python-subliminal-test", "password": "subliminal"}'
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: POST
    uri: https://api.opensubtitles.com/api/v1/login
  response:
    body:
      string: '{"user":{"allowed_translations":1,"allowed_downloads":20,"level":"Sub
        leecher","user_id":699022,"ext_installed":false,"vip":false},"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPdThucThpZFIzek0wd0ttR01zSkw1U0ZTeFpCY2MydiIsImV4cCI6MTcxNDU2MTA5OH0.RWMl_Zdfw95jL7mfEijK6DHKvaD01wDvIK71O66apyE","status":200,"base_url":"api.opensubtitles.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '1'
      RateLimit-Remaining:
      - '0'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Hour:
      - '60'
      X-RateLimit-Limit-Second:
      - '1'
      X-RateLimit-Remaining-Hour:
      - '57'
      X-RateLimit-Remaining-Second:
      - '0'
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPdThucThpZFIzek0wd0ttR01zSkw1U0ZTeFpCY2MydiIsImV4cCI6MTcxNDU2MTA5OH0.RWMl_Zdfw95jL7mfEijK6DHKvaD01wDvIK71O66apyE
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.opensubtitles.com/api/v1/logout
  response:
    body:
      string: '{"message":"token successfully destroyed","status":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip:
      - 'false'
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
