interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&languages=en&page=1&parent_imdb_id=141842&query=die+sopranos&season_number=1
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - /api/v1/subtitles?episode_number=1&languages=en&parent_imdb_id=141842&query=die+sopranos&season_number=1
      X-Canonical:
      - '1'
      X-OS-Rule:
      - canonical
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&languages=en&parent_imdb_id=141842&query=die+sopranos&season_number=1
  response:
    body:
      string: '{"total_pages":0,"total_count":0,"per_page":50,"page":1,"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
      last-modified:
      - Fri, 25 Sep 2026 18:12:29 GMT
      x-backend-server:
      - rb13
      x-vip:
      - 'false'
      x-vip-consumer:
      - 'false'
      x-vip-user:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&languages=en&page=1&parent_imdb_id=141842&season_number=1
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - /api/v1/subtitles?episode_number=1&languages=en&parent_imdb_id=141842&season_number=1
      X-Canonical:
      - '1'
      X-OS-Rule:
      - canonical
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&languages=en&parent_imdb_id=141842&season_number=1
  response:
    body:
      string: '{"total_pages":1,"total_count":15,"per_page":50,"page":1,"data":[{"id":"7774358","type":"subtitle","attributes":{"subtitle_id":"7774358","language":"en","download_count":4362,"new_download_count":6984,"hearing_impaired":false,"hd":false,"fps":29.97,"votes":0,"ratings":0.0,"from_trusted":true,"foreign_parts_only":false,"upload_date":"2024-05-15T16:51:48Z","ai_translated":false,"nb_cd":1,"slug":"sopranos-s01e01-pilot-dvd-nonhi-pcc-en-hbo","machine_translated":false,"release":"Sopranos
        S01E01 Pilot.DVD.NonHI.pcc.en.HBO","comments":"HBO Retail DVD","legacy_subtitle_id":10036138,"legacy_uploader_id":7755957,"uploader":{"uploader_id":215338,"name":"mrtinkles","rank":"Administrator"},"feature_details":{"feature_id":658270,"feature_type":"Episode","year":1999,"title":"The
        Sopranos","movie_name":"The Sopranos - S01E01  The Sopranos","imdb_id":705282,"tmdb_id":62970,"season_number":1,"episode_number":1,"parent_imdb_id":141842,"parent_title":"The
        Sopranos","parent_tmdb_id":1398,"parent_feature_id":7169},"url":null,"related_links":null,"files":[{"file_id":8698297,"cd_number":1,"file_name":"Sopranos
        S01E01 Pilot.DVD.NonHI.pcc.en.HBO"}]}},{"id":"7774359","type":"subtitle","attributes":{"subtitle_id":"7774359","language":"en","download_count":4730,"new_download_count":2120,"hearing_impaired":true,"hd":false,"fps":29.97,"votes":0,"ratings":0.0,"from_trusted":true,"foreign_parts_only":false,"upload_date":"2024-05-15T16:49:35Z","ai_translated":false,"nb_cd":1,"slug":"sopranos-s01e01-pilot-dvd-hi-pcc-en-hbo","machine_translated":false,"release":"Sopranos
        S01E01 Pilot.DVD[...]
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&languages=en&page=1&query=die+sopranos&season_number=1
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - /api/v1/subtitles?episode_number=1&languages=en&query=die+sopranos&season_number=1
      X-Canonical:
      - '1'
      X-OS-Rule:
      - canonical
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&languages=en&query=die+sopranos&season_number=1
  response:
    body:
      string: '{"total_pages":0,"total_count":0,"per_page":50,"page":1,"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '3'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '3'
      last-modified:
      - Fri, 25 Sep 2026 18:12:30 GMT
      x-backend-server:
      - rb7
      x-vip:
      - 'false'
      x-vip-consumer:
      - 'false'
      x-vip-user:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
