interactions:
- request:
    body: '{"username": "python-subliminal-test", "password": "lanimilbus"}'
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: POST
    uri: https://api.opensubtitles.com/api/v1/login
  response:
    body:
      string: '{"message":"Error, invalid username/password failed:1 remaining:9  ","status":401}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '1'
      RateLimit-Remaining:
      - '0'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Hour:
      - '60'
      X-RateLimit-Limit-Second:
      - '1'
      X-RateLimit-Remaining-Hour:
      - '58'
      X-RateLimit-Remaining-Second:
      - '0'
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip-Consumer:
      - 'false'
    status:
      code: 401
      message: Unauthorized
version: 1
