interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?imdb_id=770828&languages=de%2Cfr&moviehash=5b8f8f4e41ccb21e&page=1&query=man+of+steel
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?imdb_id=770828&languages=de%2Cfr&moviehash=5b8f8f4e41ccb21e&query=man+of+steel
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?imdb_id=770828&languages=de%2Cfr&moviehash=5b8f8f4e41ccb21e&query=man+of+steel
  response:
    body:
      string: "{\"total_pages\":1,\"total_count\":10,\"per_page\":50,\"page\":1,\"data\":[{\"id\":\"880717\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"880717\",\"language\":\"de\",\"download_count\":2708,\"new_download_count\":269,\"hearing_impaired\":false,\"hd\":true,\"fps\":23.976,\"votes\":0,\"ratings\":0.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2013-10-19T00:53:25Z\",\"ai_translated\":false,\"nb_cd\":1,\"slug\":\"man-of-steel-german-720p-bluray-x264-exquisite\",\"machine_translated\":false,\"release\":\"Man.of.Steel.German.720p.BluRay.x264-EXQUiSiTE\",\"comments\":\"\",\"legacy_subtitle_id\":5229998,\"legacy_uploader_id\":0,\"uploader\":{\"uploader_id\":3282,\"name\":\"os-auto\",\"rank\":\"Application
        Developers\"},\"feature_details\":{\"feature_id\":580760,\"feature_type\":\"Movie\",\"year\":2013,\"title\":\"Man
        of Steel\",\"movie_name\":\"2013 - Man of Steel\",\"imdb_id\":770828,\"tmdb_id\":49521},\"url\":\"https://www.opensubtitles.com/de/subtitles/legacy/5229998\",\"related_links\":[{\"label\":\"All
        subtitles for man of steel\",\"url\":\"https://www.opensubtitles.com/de/movies/2013-man-of-steel\",\"img_url\":\"https://s9.opensubtitles.com/features/0/6/7/580760.jpg\"}],\"files\":[{\"file_id\":962352,\"cd_number\":1,\"file_name\":\"Man.of.Steel.German.720p.BluRay.x264-EXQUiSiTE\"}],\"moviehash_match\":true}},{\"id\":\"879122\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"879122\",\"language\":\"fr\",\"download_count\":20581,\"new_download_count\":243,\"hearing_impaired\":false,\"hd\":true,\"fps\":23.976,\"votes\":0,\"ratings\":0.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2013-10-16T16:56:06Z\",\"ai_translated\":false,\"nb_cd\":1,\"slug\":\"5226251-man-of-steel-2013-720p-bluray-x264-felony\",\"machine_translated\":false,\"release\":\"man.of.steel.2013.72[...]
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?imdb_id=770828&languages=de%2Cfr&page=1
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?imdb_id=770828&languages=de%2Cfr
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?imdb_id=770828&languages=de%2Cfr
  response:
    body:
      string: "{\"total_pages\":1,\"total_count\":10,\"per_page\":50,\"page\":1,\"data\":[{\"id\":\"6632511\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"6632511\",\"language\":\"de\",\"download_count\":89,\"new_download_count\":51,\"hearing_impaired\":false,\"hd\":true,\"fps\":23.976,\"votes\":0,\"ratings\":0.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2022-06-26T19:32:54Z\",\"file_hashes\":[],\"ai_translated\":false,\"nb_cd\":1,\"slug\":\"9150443-should-work-with-4k-bd-rips\",\"machine_translated\":false,\"release\":\"Should
        work with 4k BD rips\",\"comments\":\"Source German Retail 4k BD\\r\\nRetail
        PGS to SSA + improvements\\r\\n\\r\\ncoloured parts\\r\\n\\r\\nIf the timing
        is off, just correct it with SubtitleEdit.\\r\\n-\\u003e Synchronization \\r\\n-\\u003e
        Adjust all times \\r\\n-\\u003e all lines\\r\\n\\r\\nWorks best with MPC-BE
        + Xy[...]
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=de%2Cfr&moviehash=5b8f8f4e41ccb21e&page=1
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?languages=de%2Cfr&moviehash=5b8f8f4e41ccb21e
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=de%2Cfr&moviehash=5b8f8f4e41ccb21e
  response:
    body:
      string: '{"total_pages":1,"total_count":2,"per_page":50,"page":1,"data":[{"id":"880717","type":"subtitle","attributes":{"subtitle_id":"880717","language":"de","download_count":2708,"new_download_count":269,"hearing_impaired":false,"hd":true,"fps":23.976,"votes[...]
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=de%2Cfr&page=1&query=man+of+steel
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?languages=de%2Cfr&query=man+of+steel
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=de%2Cfr&query=man+of+steel
  response:
    body:
      string: "{\"total_pages\":1,\"total_count\":18,\"per_page\":50,\"page\":1,\"data\":[{\"id\":\"7164656\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"7164656\",\"language\":\"de\",\"download_count\":202,\"new_download_count\":177,\"hearing_impaired\":true,\"hd\":false,\"fps\":25.0,\"votes\":0,\"ratings\":0.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2023-05-08T16:42:39Z\",\"file_hashes\":[\"f6ea3a25598a9d41\"],\"ai_translated\":false,\"nb_cd\":1,\"slug\":\"superman-and-lois-s01e07-german-dl-dvdrip-x264-naib\",\"machine_translated\":false,\"release\":\"Superman.and.Lois.S01E07.German.DL.DVDRiP.x264-NAiB\",\"comments\":\"\",\"legacy_subtitle_id\":9544178,\"legacy_uploader_id\":0,\"uploader\":{\"uploader_id\":3282,\"name\":\"os-auto\",\"rank\":\"Application
        Developers\"},\"feature_details\":{\"feature_id\":1373215,\"feature_type\":\"Episode\",\"year\":2021,\"title\":\"Man
        of Steel\",\"movie_name\":\"Si\xEAu Nh\xE2n v\xE0 Lois - S01E07  Man of Steel\",\"imdb_id\":11949922,\"tmdb_id\":2787118,\"season_number\":1,\"episode_number\":7,\"parent_imdb_id\":11192306,\"parent_title\":\"Superman
        \\u0026 Lois\",\"parent_tmdb_id\":95057,\"parent_feature_id\":1205428},\"url\":\"https://www.opensubtitles.com/de/subtitles/legacy/9544178\",\"related_links\":[{\"label\":\"All
        subtitles for Tv Show Superman \\u0026 Lois\",\"url\":\"https://www.opensubtitles.com/de/features/redirect/1205428\",\"img_url\":\"https://s9.opensubtitles.com/features/5/1/2/1373215.jpg\"},{\"label\":\"All
        subtitles for Episode man of steel\",\"url\":\"https://www.opensubtitles.com/de/features/redirect/1373215\"}],\"files\":[{\"file_id\":8100472,\"cd_number\":1,\"fi[...]
- request:
    body: '{"username": "python-subliminal-test", "password": "subliminal"}'
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: POST
    uri: https://api.opensubtitles.com/api/v1/login
  response:
    body:
      string: '{"user":{"allowed_translations":1,"allowed_downloads":20,"level":"Sub
        leecher","user_id":699022,"ext_installed":false,"vip":false},"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCRDY2Qnl0TmRyZDNhMWl5S3pLaHVGeWRaV2g2UTYwbyIsImV4cCI6MTczOTU3NTEzNX0.pys8y8GBYqkfRxzOMaG6nzuKlXlXEjObvMVvY3nDOYI","status":200,"base_url":"api.opensubtitles.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '1'
      RateLimit-Remaining:
      - '0'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '1'
      X-RateLimit-Remaining-Second:
      - '0'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb1
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"file_id": 962144, "file_name": "man.of.steel.2013.720p.bluray.x264-felony.www.subsynchro.com",
      "sub_format": "srt"}'
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCRDY2Qnl0TmRyZDNhMWl5S3pLaHVGeWRaV2g2UTYwbyIsImV4cCI6MTczOTU3NTEzNX0.pys8y8GBYqkfRxzOMaG6nzuKlXlXEjObvMVvY3nDOYI
      Content-Type:
      - application/json
    method: POST
    uri: https://api.opensubtitles.com/api/v1/download
  response:
    body:
      string: '{"link":"https://www.opensubtitles.com/download/163EEDF905A7BF3A9C6EE2DA777A91CFCBFA50F225A5606A9FDE84916353DB8A1E56ABC393DA42CD5E75819E96A1C564ECC8B0F3E2A6D42B78B44764DABEF14F6EE3093C65CB7B5FC02DBFE076D610C53600F41F10B2BDBEDD8EBBDF16B0D030507B785B99A04570454F91615C2F0ADF09AC56A0B6574AF20045BF2C3A4DAE2C29A3B5D4214E3209131B1EDF059C80AFC7ADC53D0368E38DA226333A4B921EF8617E44078C7FDFF15CD0F329B4782BB42AF9CC95B143D99EC5D7D82372252EBB702321891949C6D9A1FC2C7718A66C8BB96ECB761B6D6944D310CD9F3B1517245F9C30E79F256F8F1FE7332CEE641C7EE4A41E40A86405988F9679289C7FB92B857E658525C7804C88D67AAC40BA3D07DBAE23F2B3457D44767BDF702887E8A252937D51E1BC26DE4BF51BB597A6D2798E3263F57630B6391C588D3399B943E12613FB39272FDB1F/subfile/man.of.steel.2013.720p.bluray.x264-felony.www.subsynchro.com.srt","file_name":"man.of.steel.2013.720p.bluray.x264-felony.www.subsynchro.com.srt","requests":1,"remaining":19,"message":"Your
        quota will be renewed in 0 hours and 28 minutes (2025-02-13 23:59:59 UTC)
        ts=1739489491 ","reset_time":"0 hours and 28 minutes","reset_time_utc":"2025-02-13T23:59:59.999Z","uk":"count_uid_699022","uid":699022,"ts":1739489491}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 13 Feb 2025 23:31:31 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb1
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCRDY2Qnl0TmRyZDNhMWl5S3pLaHVGeWRaV2g2UTYwbyIsImV4cCI6MTczOTU3NTEzNX0.pys8y8GBYqkfRxzOMaG6nzuKlXlXEjObvMVvY3nDOYI
      Content-Type:
      - application/json
    method: GET
    uri: https://www.opensubtitles.com/download/163EEDF905A7BF3A9C6EE2DA777A91CFCBFA50F225A5606A9FDE84916353DB8A1E56ABC393DA42CD5E75819E96A1C564ECC[...]
