interactions:
- request:
    body: '{"username": "python-subliminal-test", "password": "subliminal"}'
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: POST
    uri: https://api.opensubtitles.com/api/v1/login
  response:
    body:
      string: '{"user":{"allowed_translations":1,"allowed_downloads":20,"level":"Sub
        leecher","user_id":699022,"ext_installed":false,"vip":false},"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCRDY2Qnl0TmRyZDNhMWl5S3pLaHVGeWRaV2g2UTYwbyIsImV4cCI6MTczOTU3NTEzNX0.pys8y8GBYqkfRxzOMaG6nzuKlXlXEjObvMVvY3nDOYI","status":200,"base_url":"api.opensubtitles.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '1'
      RateLimit-Remaining:
      - '0'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '1'
      X-RateLimit-Remaining-Second:
      - '0'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb1
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCRDY2Qnl0TmRyZDNhMWl5S3pLaHVGeWRaV2g2UTYwbyIsImV4cCI6MTczOTU3NTEzNX0.pys8y8GBYqkfRxzOMaG6nzuKlXlXEjObvMVvY3nDOYI
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/infos/user
  response:
    body:
      string: '{"data":{"allowed_translations":1,"allowed_downloads":20,"level":"Sub
        leecher","user_id":699022,"ext_installed":false,"vip":false,"downloads_count":0,"remaining_downloads":20,"username":"python-subliminal-test"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb1
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
