interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=6&languages=hu&page=1&query=marvels+agents+of+s.h.i.e.l.d.&season_number=2
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?episode_number=6&languages=hu&query=marvels+agents+of+s.h.i.e.l.d.&season_number=2
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=6&languages=hu&query=marvels+agents+of+s.h.i.e.l.d.&season_number=2
  response:
    body:
      string: '{"total_pages":1,"total_count":3,"per_page":50,"page":1,"data":[{"id":"2493688","type":"subtitle","attributes":{"subtitle_id":"2493688","language":"hu","download_count":429,"new_download_count":6,"hearing_impaired":false,"hd":true,"fps":23.976,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2016-10-15T18:19:23Z","file_hashes":["ff23bd9095eceaec","0889f3fd18a88198"],"ai_translated":false,"nb_cd":1,"slug":"6764373-marvels-agents-of-s-h-i-e-l-d-s02e06-bdrip-x264-hun-eng-krissz","machine_translated":false,"release":"Marvels.Agents.of.S.H.I.E.L.D.S02E06.BDRIP.x264.Hun.Eng-Krissz","comments":"","legacy_subtitle_id":6764373,"legacy_uploader_id":0,"uploader":{"uploader_id":3282,"name":"os-auto","rank":"Application
        Developers"},"feature_details":{"feature_id":149353,"feature_type":"Episode","year":2014,"title":"A
        Fractured House","movie_name":"Marvel''s Agents of S.H.I.E.L.D. - S02E06  A
        Fractured House","imdb_id":4078580,"tmdb_id":1010684,"season_number":2,"episode_number":6,"parent_imdb_id":2364582,"parent_title":"Marvel''s
        Agents of S.H.I.E.L.D.","parent_tmdb_id":1403,"parent_feature_id":13370},"url":"https://www.opensubtitles.com/hu/subtitles/legacy/6764373","related_links":[{"label":"All
        subtitles for Tv Show Marvel''s Agents of S.H.I.E.L.D.","url":"https://www.opensubtitles.com/hu/features/redirect/13370","img_url":"https://s9.opensubtitles.com/features/3/5/3/149353.jpg"},{"label":"All
        subtitles for Episode a fractured house","url":"https://www.opensubtitles.com/hu/features/redirect/149353"}],"files":[{"file_id":2570094,"cd_number":1,"file_name":"Marvels.Agents.of.S.H.I.E.L.D.S02E06.BDRIP.x264.Hun.Eng-Krissz.hu"}]}},{"id":"2492310","type":"subtitle","attributes":{"subtitle_id":"2492310","language":"hu","download_count":6948,"new_download_count":11,"hearing_impaired":false,"hd":true,"fps":25.0,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2014-11-08T00:39:41Z","file_hashes":["3a105af286585e79","1771c5209812bed4","106167e08a959a98","bff0db8137e29c84","38370c72f3ed9342","b6fadda686d629a3","c0c3a3c8c[...]
[...]
