interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=5&languages=de&page=1&query=the+big+bang+theory&season_number=7
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?episode_number=5&languages=de&query=the+big+bang+theory&season_number=7
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=5&languages=de&query=the+big+bang+theory&season_number=7
  response:
    body:
      string: '{"total_pages":1,"total_count":2,"per_page":50,"page":1,"data":[{"id":"4662161","type":"subtitle","attributes":{"subtitle_id":"4662161","language":"de","download_count":352,"new_download_count":286,"hearing_impaired":true,"hd":true,"fps":23.976,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2018-12-31T06:00:27Z","file_hashes":[],"ai_translated":false,"nb_cd":1,"slug":"the-big-bang-theory-s07e05-german-dl-1080p-bluray-x264","machine_translated":false,"release":"The.Big.Bang.Theory.S07E05.German.DL.1080p.BluRay.x264","comments":"","legacy_subtitle_id":7593069,"legacy_uploader_id":0,"uploader":{"uploader_id":3282,"name":"os-auto","rank":"Application
        Developers"},"feature_details":{"feature_id":160627,"feature_type":"Episode","year":2013,"title":"The
        Workplace Proximity","movie_name":"The Big Bang Theory - S07E05  The Workplace
        Proximity","imdb_id":3229392,"tmdb_id":64782,"season_number":7,"episode_number":5,"parent_imdb_id":898266,"parent_title":"The
        Big Bang Theory","parent_tmdb_id":1418,"parent_feature_id":8620},"url":"https://www.opensubtitles.com/de/subtitles/legacy/7593069","related_links":[{"label":"All
        subtitles for Tv Show The Big Bang Theory","url":"https://www.opensubtitles.com/de/features/redirect/8620","img_url":"https://s9.opensubtitles.com/features/7/2/6/160627.jpg"},{"label":"All
        subtitles for Episode the workplace proximity","url":"https://www.opensubtitles.com/de/features/redirect/160627"}],"files":[{"file_id":4785161,"cd_number":1,"file_name":"The.Big.Bang.Theory.S07E05.German.DL.1080p.BluRay.x264-iND"}]}},{"id":"2748964","type":"subtitle","attributes":{"subtitle_id":"2748964","language":"de","download_count":19260,"new_download_count":163,"hearing_impaired":false,"hd":true,"fps":23.976,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2013-10-19T11:58:22Z","file_hashes":["6878b3ef7c1bd19e","eccf12aa0fda5a0a","785c078723711b71"],"ai_translated":false,"nb_cd":1,"slug":"the-big-bang-theory-s07e05-72[...]
[...]
