interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=fr&page=1&query=enders.game.2013.720p.bluray.x264-sparks.mkv
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?languages=fr&query=enders.game.2013.720p.bluray.x264-sparks.mkv
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=fr&query=enders.game.2013.720p.bluray.x264-sparks.mkv
  response:
    body:
      string: "{\"total_pages\":1,\"total_count\":2,\"per_page\":60,\"page\":1,\"data\":[{\"id\":\"938965\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"938965\",\"language\":\"fr\",\"download_count\":21081,\"new_download_count\":671,\"hearing_impaired\":false,\"hd\":true,\"fps\":23.976,\"votes\":1,\"ratings\":10.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2014-02-09T15:28:46Z\",\"ai_translated\":false,\"nb_cd\":1,\"machine_translated\":false,\"release\":\"Enders.Game.2013.BDRip.X264-SPARKS\",\"comments\":\"\",\"legacy_subtitle_id\":5532921,\"legacy_uploader_id\":1656162,\"uploader\":{\"uploader_id\":65416,\"name\":\"dumbojet\",\"rank\":\"Bronze
        Member\"},\"feature_details\":{\"feature_id\":586791,\"feature_type\":\"Movie\",\"year\":2013,\"title\":\"Ender's
        Game\",\"movie_name\":\"2013 - La Strat\xE9gie Ender\",\"imdb_id\":1731141,\"tmdb_id\":80274},\"url\":\"https://www.opensubtitles.com/fr/subtitles/legacy/5532921\",\"related_links\":[{\"label\":\"All
        subtitles for ender's game\",\"url\":\"https://www.opensubtitles.com/fr/movies/2013-ender-s-game\",\"img_url\":\"https://s9.opensubtitles.com/features/1/9/7/586791.jpg\"}],\"files\":[{\"file_id\":1023065,\"cd_number\":1,\"file_name\":\"Enders.Game.2013.BDRip.X264-SPARKS\"}]}},{\"id\":\"940630\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"940630\",\"language\":\"fr\",\"download_count\":1713,\"new_download_count\":25,\"hearing_impaired\":false,\"hd\":false,\"fps\":0.0,\"votes\":0,\"ratings\":0.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2014-12-29T03:32:34Z\",\"ai_translated\":false,\"nb_cd\":1,\"machine_translated\":false,\"release\":\"Ender's
        Game 2013 KORSUB HDRip XViD NO1KNOWS\",\"comments\":\"\",\"legacy_subtitle_id\":5982036,\"legacy_uploader_id\":0,\"uploader\":{\"uploader_id\":3282,\"name\":\"os-auto\",\"rank\":\"Application
        Developers\"},\"feature_details\":{\"feature_id\":586791,\"feature_type\":\"Movie\",\"year\":2013,\"title\":\"Ender's
        Game\",\"movie_name\":\"2013 - Ender's Game\",\"imdb_id\":1731141,\"tmdb_id\":80274},\"url\":\"https://www.opensubtitles.com/fr/subtitles/legacy/5982036\",\"related_links\":[{\"label\":\"All
        subtitles for ender's game\",\"url\":\"https://www.opensubtitles.com/fr/movies/2013-ender-s-game\",\"img_url\":\"https://s9.opensubtitles.com/features/1/9/7/586791.jpg\"}],\"files\":[{\"file_id\":1024868,\"cd_number\":1,\"file_name\":\"Enders
        Game 2013 KORSUB HDRip XViD NO1KNOWS-fre\"}]}}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 27 May 2024 22:54:33 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
      X-StackifyID:
      - V1|c66a9bb7-2af4-49d8-ac30-df6518d44dd3|C98184|CD5
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip:
      - 'false'
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
