interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&imdb_id=4516230&languages=pt-br&page=1&query=the+fall&season_number=3
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?episode_number=1&imdb_id=4516230&languages=pt-br&query=the+fall&season_number=3
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&imdb_id=4516230&languages=pt-br&query=the+fall&season_number=3
  response:
    body:
      string: '{"total_pages":0,"total_count":0,"per_page":60,"page":1,"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 27 May 2024 22:54:39 GMT
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
      X-StackifyID:
      - V1|3c0e0ebb-f272-4443-bd85-6455bf0da67c|C98087|CD1
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip:
      - 'false'
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?imdb_id=4516230&languages=pt-br&page=1
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?imdb_id=4516230&languages=pt-br
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?imdb_id=4516230&languages=pt-br
  response:
    body:
      string: '{"total_pages":1,"total_count":2,"per_page":60,"page":1,"data":[{"id":"3936502","type":"subtitle","attributes":{"subtitle_id":"3936502","language":"pt-BR","download_count":2817,"new_download_count":38,"hearing_impaired":false,"hd":true,"fps":50.0,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2016-10-03T21:13:57Z","ai_translated":false,"nb_cd":1,"machine_translated":false,"release":"The.Fall.S03E01.720p.HDTV.x264-FoV[eztv]","comments":"","legacy_subtitle_id":6753582,"legacy_uploader_id":0,"uploader":{"uploader_id":3282,"name":"os-auto","rank":"Application
        Developers"},"feature_details":{"feature_id":374751,"feature_type":"Episode","year":2016,"title":"Episode
        One","movie_name":"The Fall - S03E01  Episode One","imdb_id":4516230,"tmdb_id":1223686,"season_number":3,"episode_number":1,"parent_imdb_id":2294189,"parent_title":"The
        Fall","parent_tmdb_id":49010,"parent_feature_id":13091},"url":"https://www.opensubtitles.com/pt-BR/subtitles/legacy/6753582","related_links":[{"label":"All
        subtitles for Tv Show The Fall","url":"https://www.opensubtitles.com/pt-BR/features/redirect/13091","img_url":"https://s9.opensubtitles.com/features/1/5/7/374751.jpg"},{"label":"All
        subtitles for Episode episode one","url":"https://www.opensubtitles.com/pt-BR/features/redirect/374751"}],"files":[{"file_id":4014152,"cd_number":1,"file_name":"The.Fall.S03E01.720p.HDTV.x264-FoV[eztv]"}]}},{"id":"3937531","type":"subtitle","attributes":{"subtitle_id":"3937531","language":"pt-BR","download_count":866,"new_download_count":11,"hearing_impaired":false,"hd":true,"fps":25.0,"votes":0,"ratings":0.0,"from_trusted":true,"foreign_parts_only":false,"upload_date":"2016-10-20T02:41:08Z","ai_translated":false,"nb_cd":1,"machine_translated":false,"release":"The.Fall.S03E01.HDTV.x264-TLA-AFG-FoV-mSD-RBB","comments":"","legacy_subtitle_id":6769109,"le[...]
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&languages=pt-br&page=1&query=the+fall&season_number=3
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?episode_number=1&languages=pt-br&query=the+fall&season_number=3
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=1&languages=pt-br&query=the+fall&season_number=3
  response:
    body:
      string: '{"total_pages":1,"total_count":11,"per_page":60,"page":1,"data":[{"id":"3004905","type":"subtitle","attributes":{"subtitle_id":"3004905","language":"pt-BR","download_count":5865,"new_download_count":12,"hearing_impaired":false,"hd":[...]
