interactions:
- request:
    body: '{"username": "python-subliminal-test", "password": "subliminal"}'
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: POST
    uri: https://api.opensubtitles.com/api/v1/login
  response:
    body:
      string: '{"user":{"allowed_translations":1,"allowed_downloads":20,"level":"Sub
        leecher","user_id":699022,"ext_installed":false,"vip":false},"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI2Sm9hMjNaVWxwU0pMemhkbmxvY1FNWUowU0xGa0RhNyIsImV4cCI6MTcxNjg5NDM4MX0.vI0XJO_54twowBlxabxK28aH_-nkUbsjmnYUXqHpp3Y","status":200,"base_url":"api.opensubtitles.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '1'
      RateLimit-Remaining:
      - '0'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Hour:
      - '60'
      X-RateLimit-Limit-Second:
      - '1'
      X-RateLimit-Remaining-Hour:
      - '53'
      X-RateLimit-Remaining-Second:
      - '0'
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
