interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=fr&page=1&query=man+of+steel
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?languages=fr&query=man+of+steel
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?languages=fr&query=man+of+steel
  response:
    body:
      string: '{"total_pages":1,"total_count":6,"per_page":50,"page":1,"data":[{"id":"4614499","type":"subtitle","attributes":{"subtitle_id":"4614499","language":"fr","download_count":4229,"new_download_count":109,"hearing_impaired":false,"hd":true,"fps":23.976,"votes":0,"ratings":0.0,"from_trusted":false,"foreign_parts_only":false,"upload_date":"2018-11-01T17:26:02Z","file_hashes":["7230526adcf9354c","47fbb89e504036a2"],"ai_translated":false,"nb_cd":1,"slug":"supergirl-s04e03-720p-hdtv-x264-avs-fr","machine_translated":false,"release":"Supergirl.S04E03.720p.HDTV.x264-AVS","comments":"","legacy_subtitle_id":7528072,"legacy_uploader_id":2592971,"uploader":{"uploader_id":69404,"name":"maxoudela","rank":"Gold
        member"},"feature_details":{"feature_id":429415,"feature_type":"Episode","year":2015,"title":"Man
        of Steel","movie_name":"Supergirl - S04E03  Man of Steel","imdb_id":8685330,"tmdb_id":1593206,"season_number":4,"episode_number":3,"parent_imdb_id":4016454,"parent_title":"Supergirl","parent_tmdb_id":62688,"parent_feature_id":15301},"url":"https://www.opensubtitles.com/fr/subtitles/legacy/7528072","related_links":[{"label":"All
        subtitles for Tv Show Supergirl","url":"https://www.opensubtitles.com/fr/features/redirect/15301","img_url":"https://s9.opensubtitles.com/features/5/1/4/429415.jpg"},{"label":"All
        subtitles for Episode man of steel","url":"https://www.opensubtitles.com/fr/features/redirect/429415"}],"files":[{"file_id":4737481,"cd_number":1,"file_name":"Supergirl.S04E03.720p.HDTV.x264-AVS"}]}},{"id":"880511","type":"subtitle","attributes":{"subtitle_id":"880511","language":"fr","download_count":36957,"new_download_count":472,"hearing_impaired":false,"hd":true,"fps":0.0,"votes":0,"ratings":0.0,"from_trusted":true,"foreign_parts_only":false,"upload_date":"2013-10-18T14:26:47Z","file_hashes":["17eb85dc83f3204b","7eab9c01afab82f6","696f0912ba8ad6ce","e10cb09499d36e83","d34e17f020c836b4","36563f643590de1a","a9e7ef70cb3326b6","ec90a030b37141db","3b3[...]
