interactions:
- request:
    body: '{"username": "python-subliminal-test", "password": "subliminal"}'
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: POST
    uri: https://api.opensubtitles.com/api/v1/login
  response:
    body:
      string: '{"user":{"allowed_translations":1,"allowed_downloads":20,"level":"Sub
        leecher","user_id":699022,"ext_installed":false,"vip":false},"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJTNXJaWEYxVERvejR2ekpMMEZlTUUweFZvMURmTGpUaCIsImV4cCI6MTcxNDU2MTEwM30.wHJRyiYCBcS9iV8HG99H6af11dGzdpEn6A237gCp4tI","status":200,"base_url":"api.opensubtitles.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '1'
      RateLimit-Remaining:
      - '0'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Hour:
      - '60'
      X-RateLimit-Limit-Second:
      - '1'
      X-RateLimit-Remaining-Hour:
      - '56'
      X-RateLimit-Remaining-Second:
      - '0'
      X-StackifyID:
      - V1|d72480cd-e0a3-4d2f-ac22-6c35605a0708|C98087|CD1
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJTNXJaWEYxVERvejR2ekpMMEZlTUUweFZvMURmTGpUaCIsImV4cCI6MTcxNDU2MTEwM30.wHJRyiYCBcS9iV8HG99H6af11dGzdpEn6A237gCp4tI
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/infos/user
  response:
    body:
      string: '{"data":{"allowed_translations":1,"allowed_downloads":20,"level":"Sub
        leecher","user_id":699022,"ext_installed":false,"vip":false,"downloads_count":0,"remaining_downloads":20,"username":"python-subliminal-test"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip:
      - 'false'
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJTNXJaWEYxVERvejR2ekpMMEZlTUUweFZvMURmTGpUaCIsImV4cCI6MTcxNDU2MTEwM30.wHJRyiYCBcS9iV8HG99H6af11dGzdpEn6A237gCp4tI
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.opensubtitles.com/api/v1/logout
  response:
    body:
      string: '{"message":"token successfully destroyed","status":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '3'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '3'
      X-Var-Cache:
      - MISS
      X-Via:
      - fw1
      X-Vip:
      - 'false'
      X-Vip-Consumer:
      - 'false'
      X-Vip-User:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
