interactions:
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
      Content-Type:
      - application/json
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=3&languages=fr&page=1&query=dallas&season_number=1
  response:
    body:
      string: ''
    headers:
      Location:
      - /api/v1/subtitles?episode_number=3&languages=fr&query=dallas&season_number=1
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '4'
      RateLimit-Reset:
      - '1'
      X-RateLimit-Limit-Second:
      - '5'
      X-RateLimit-Remaining-Second:
      - '4'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Api-Key:
      - mij33pjc3kOlup1qOKxnWWxvle2kFbMH
    method: GET
    uri: https://api.opensubtitles.com/api/v1/subtitles?episode_number=3&languages=fr&query=dallas&season_number=1
  response:
    body:
      string: "{\"total_pages\":1,\"total_count\":4,\"per_page\":50,\"page\":1,\"data\":[{\"id\":\"6915085\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"6915085\",\"language\":\"fr\",\"download_count\":44,\"new_download_count\":15,\"hearing_impaired\":false,\"hd\":true,\"fps\":0.0,\"votes\":0,\"ratings\":0.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2022-07-05T13:19:24Z\",\"file_hashes\":[\"fe95ce64ea0cd00c\"],\"ai_translated\":false,\"nb_cd\":1,\"slug\":\"space-battleship-yamato-2199-2012-03-vostfr-bdrip-1080p-flac-x265-gundamguy\",\"machine_translated\":false,\"release\":\"Space
        Battleship Yamato 2199 (2012) - 03 VOSTFR BDrip 1080p FLAC x265-GundamGuy\",\"comments\":\"Sous-titres
        officiels \xE9diteur.\",\"legacy_subtitle_id\":9159327,\"legacy_uploader_id\":8338908,\"uploader\":{\"uploader_id\":285788,\"name\":\"sonkun02\",\"rank\":\"Platinum
        Member\"},\"feature_details\":{\"feature_id\":1388271,\"feature_type\":\"Episode\",\"year\":2012,\"title\":\"Escape
        from the Jupiter Sphere\",\"movie_name\":\"Star Blazers [Space Battleship
        Yamato] 2199 - S01E03  Escape from the Jupiter Sphere\",\"imdb_id\":3626220,\"tmdb_id\":1404349,\"season_number\":1,\"episode_number\":3,\"parent_imdb_id\":2496120,\"parent_title\":\"Star
        Blazers [Space Battleship Yamato] 2199\",\"parent_tmdb_id\":45844,\"parent_feature_id\":13449},\"url\":\"https://www.opensubtitles.com/fr/subtitles/legacy/9159327\",\"related_links\":[{\"label\":\"All
        subtitles for Tv Show Star Blazers [Space Battleship Yamato] 2199\",\"url\":\"https://www.opensubtitles.com/fr/features/redirect/13449\",\"img_url\":\"https://s9.opensubtitles.com/features/1/7/2/1388271.jpg\"},{\"label\":\"All
        subtitles for Episode escape from the jupiter sphere\",\"url\":\"https://www.opensubtitles.com/fr/features/redirect/1388271\"}],\"files\":[{\"file_id\":7869617,\"cd_number\":1,\"file_name\":\"Space
        Battleship Yamato 2199 (2012) - 03 VOSTFR BDrip 1080p FLAC x265-GundamGuy\"}]}},{\"id\":\"3829531\",\"type\":\"subtitle\",\"attributes\":{\"subtitle_id\":\"3829531\",\"language\":\"fr\",\"download_count\":683,\"new_download_count\":15,\"hearing_impaired\":false,\"hd\":false,\"fps\":23.976,\"votes\":0,\"ratings\":0.0,\"from_trusted\":false,\"foreign_parts_only\":false,\"upload_date\":\"2012-06-21T16:43:26Z\",\"file_hashes\":[\"847b4f45c4eda9ee\",\"3473c8003b55fd6d\",\"ec30db211134[...]
[...]
