interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>LogIn</methodName>

      <params>

      <param>

      <value><string>python-subliminal</string></value>

      </param>

      <param>

      <value><string>lanimilbus</string></value>

      </param>

      <param>

      <value><string>eng</string></value>

      </param>

      <param>

      <value><string>VLSub 0.11.1</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>token</name><value><string>sJGJwLTJlu-R6kBnvXxltUt5KVb</string></value></member><member><name>status</name><value><string>401
        Unauthorized</string></value></member><member><name>seconds</name><value><double>0.237000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Compressed-Content-Length:
      - '220'
      X-Content-Encoding:
      - gzip
      X-HTTP-Version:
      - '1.0'
      X-RateLimit-Remaining:
      - '23'
      X-Uncompressed-Content-Length:
      - '390'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb2
    status:
      code: 200
      message: OK
version: 1
