interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>LogIn</methodName>

      <params>

      <param>

      <value><string></string></value>

      </param>

      <param>

      <value><string></string></value>

      </param>

      <param>

      <value><string>eng</string></value>

      </param>

      <param>

      <value><string>VLSub 0.11.1</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>token</name><value><string>SMLnIBtrTCGKwJ4eieGNfZX4j0a</string></value></member><member><name>status</name><value><string>200
        OK</string></value></member><member><name>seconds</name><value><double>0.006000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Download-Quota:
      - '999999999'
      X-Compressed-Content-Length:
      - '210'
      X-Content-Encoding:
      - gzip
      X-HTTP-Version:
      - '1.0'
      X-RateLimit-Remaining:
      - '14'
      X-Uncompressed-Content-Length:
      - '380'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb2
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>NoOperation</methodName>

      <params>

      <param>

      <value><string>SMLnIBtrTCGKwJ4eieGNfZX4j0a</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>status</name><value><string>200
        OK</string></value></member><member><name>download_limits</name><value><struct><member><name>global_24h_download_limit</name><value><int>200</int></value></member><member><name>client_ip</name><value><string>81.193.185.23</string></value></member><member><name>limit_check_by</name><value><string>user_ip</string></value></member><member><name>client_24h_download_count</name><value><int>0</int></value></member><member><name>client_download_quota</name><value><int>999999999</int></value></member><member><name>client_24h_download_limit</name><value><int>999999999</int></value></member></struct></value></member><member><name>seconds</name><value><double>0.002000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Compressed-Content-Length:
      - '287'
      X-Content-Encoding:
      - gzip
      X-HTTP-Version:
      - '1.0'
      X-RateLimit-Remaining:
      - '12'
      X-Uncompressed-Content-Length:
      - '872'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>close</methodName>

      <params>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>status</name><value><string>409
        Method not found</string></value></member><member><name>seconds</name><value><double>0.001000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Compressed-Content-Length:
      - '180'
      X-Content-Encoding:
      - gzip
      X-HTTP-Version:
      - '1.0'
      X-RateLimit-Remaining:
      - '9'
      X-Uncompressed-Content-Length:
      - '300'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb2
    status:
      code: 200
      message: OK
version: 1
