interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>LogIn</methodName>

      <params>

      <param>

      <value><string></string></value>

      </param>

      <param>

      <value><string></string></value>

      </param>

      <param>

      <value><string>eng</string></value>

      </param>

      <param>

      <value><string>VLSub 0.11.1</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>token</name><value><string>v4fztX7PpPkaZAIN1yq1i9FDQj6</string></value></member><member><name>status</name><value><string>200
        OK</string></value></member><member><name>seconds</name><value><double>0.005000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Download-Quota:
      - '999999999'
      X-Backend-Server:
      - lw2
      X-Compressed-Content-Length:
      - '217'
      X-Content-Encoding:
      - gzip
      X-Http-Version:
      - '1.0'
      X-Uncompressed-Content-Length:
      - '380'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>SearchSubtitles</methodName>

      <params>

      <param>

      <value><string>v4fztX7PpPkaZAIN1yq1i9FDQj6</string></value>

      </param>

      <param>

      <value><array><data>

      <value><struct>

      <member>

      <name>query</name>

      <value><string>The Big Bang Theory</string></value>

      </member>

      <member>

      <name>season</name>

      <value><int>7</int></value>

      </member>

      <member>

      <name>episode</name>

      <value><int>5</int></value>

      </member>

      <member>

      <name>sublanguageid</name>

      <value><string>ger</string></value>

      </member>

      </struct></value>

      </data></array></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      [...]
[...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>close</methodName>

      <params>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>status</name><value><string>409
        Method not found</string></value></member><member><name>seconds</name><value><double>0.001000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Backend-Server:
      - lw4
      X-Compressed-Content-Length:
      - '180'
      X-Content-Encoding:
      - gzip
      X-Http-Version:
      - '1.0'
      X-Uncompressed-Content-Length:
      - '300'
    status:
      code: 200
      message: OK
version: 1
