interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>LogIn</methodName>

      <params>

      <param>

      <value><string>python-subliminal</string></value>

      </param>

      <param>

      <value><string>subliminal</string></value>

      </param>

      <param>

      <value><string>eng</string></value>

      </param>

      <param>

      <value><string>VLSub 0.11.1</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://vip-api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>token</name><value><string>SOL9de8GcvrfqJFmZT89tqf9aId</string></value></member><member><name>status</name><value><string>401
        Unauthorized</string></value></member><member><name>seconds</name><value><double>0.135000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Backend-Server:
      - lw3
      X-Compressed-Content-Length:
      - '216'
      X-Content-Encoding:
      - gzip
      X-Http-Version:
      - '1.0'
      X-Uncompressed-Content-Length:
      - '390'
    status:
      code: 200
      message: OK
version: 1
