interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>LogIn</methodName>

      <params>

      <param>

      <value><string></string></value>

      </param>

      <param>

      <value><string></string></value>

      </param>

      <param>

      <value><string>eng</string></value>

      </param>

      <param>

      <value><string>VLSub 0.11.1</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>token</name><value><string>KNHASPwhAeksor0TYFuPZetlk71</string></value></member><member><name>status</name><value><string>200
        OK</string></value></member><member><name>seconds</name><value><double>0.007000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Download-Quota:
      - '999999999'
      X-Compressed-Content-Length:
      - '209'
      X-Content-Encoding:
      - gzip
      X-HTTP-Version:
      - '1.0'
      X-RateLimit-Remaining:
      - '39'
      X-Uncompressed-Content-Length:
      - '380'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb2
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>SearchSubtitles</methodName>

      <params>

      <param>

      <value><string>KNHASPwhAeksor0TYFuPZetlk71</string></value>

      </param>

      <param>

      <value><array><data>

      <value><struct>

      <member>

      <name>tag</name>

      <value><string>Marvels.Agents.of.S.H.I.E.L.D.S02E06.720p.HDTV.x264-KILLERS.mkv</string></value>

      </member>

      <member>

      <name>sublanguageid</name>

      <value><string>hun</string></value>

      </member>

      </struct></value>

      <value><struct>

      <member>

      <name>query</name>

      <value><string>Marvels Agents of S.H.I.E.L.D.</string></value>

      </member>

      <member>

      <name>season</name>

      <value><int>2</int></value>

      </member>

      <member>

      <name>episode</name>

      <value><int>6</int></value>

      </member>

      <member>

      <name>sublanguageid</name>

      <value><string>hun</string></value>

      </member>

      </struct></value>

      </data></array></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      [...]
[...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>close</methodName>

      <params>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>status</name><value><string>409
        Method not found</string></value></member><member><name>seconds</name><value><double>0.001000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Compressed-Content-Length:
      - '180'
      X-Content-Encoding:
      - gzip
      X-HTTP-Version:
      - '1.0'
      X-RateLimit-Remaining:
      - '34'
      X-Uncompressed-Content-Length:
      - '300'
      X-Var-Cache:
      - MISS
      X-Via:
      - lb2
    status:
      code: 200
      message: OK
version: 1
