repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
        exclude: ^tests/cassettes/
      - id: end-of-file-fixer

  - repo: https://github.com/crate-ci/typos
    rev: v1.40.0
    hooks:
      - id: typos

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes]
      - id: ruff-format

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        name: validate-pyproject

  - repo: https://github.com/PyCQA/doc8
    rev: v2.0.0
    hooks:
      - id: doc8
        description: This hook runs doc8 for linting docs
        require_serial: true

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.18.0
    hooks:
    - id: zizmor

  - repo: local
    hooks:
      - id: changelog-fragment-filenames
        name: changelog fragment
        language: fail
        entry: changelog fragment files must be named *.(breaking|change|provider|refiner|cli|deprecation|doc|misc).rst
        exclude:
          ^changelog.d/(\..*|towncrier_template.rst|.*\.(breaking|change|provider|refiner|cli|deprecation|doc|misc).rst)
        files: ^changelog.d/
