language: python

python:
  - "2.7"
  - "3.3"

install:
  - pip install coveralls --use-mirrors
  - pip install -r requirements.txt --use-mirrors

script:
  - coverage run --source=subliminal setup.py test

after_success:
  - coveralls

notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#subliminal"
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true
