include LICENSE
include HISTORY.rst
include CONTRIBUTING.md
include RELEASING.md
include Dockerfile
include .dockerignore
include .pre-commit-config.yaml
include .readthedocs.yaml
include .python-version-default
include tox.ini

graft docs
graft tests
graft scripts

prune changelog.d
prune */__pycache__
