include LICENSE
include HISTORY.rst
include CONTRIBUTING.md
include Dockerfile
include .dockerignore
include .pre-commit-config.yaml
include .readthedocs.yaml
include tox.ini

graft docs
graft tests

prune */__pycache__
