interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>LogIn</methodName>

      <params>

      <param>

      <value><string></string></value>

      </param>

      <param>

      <value><string></string></value>

      </param>

      <param>

      <value><string>eng</string></value>

      </param>

      <param>

      <value><string>VLSub 0.11.1</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>token</name><value><string>AHIHll8i1XZ6aGW39wYw94xy5k8</string></value></member><member><name>status</name><value><string>200
        OK</string></value></member><member><name>seconds</name><value><double>0.021000</double></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Download-Quota:
      - '999999999'
      X-Compressed-Content-Length:
      - '212'
      X-Content-Encoding:
      - gzip
      X-HTTP-Version:
      - '1.0'
      X-RateLimit-Remaining:
      - '39'
      X-Uncompressed-Content-Length:
      - '380'
      X-Var-Cache:
      - MISS
      X-Via:
      - fw2
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>SearchSubtitles</methodName>

      <params>

      <param>

      <value><string>AHIHll8i1XZ6aGW39wYw94xy5k8</string></value>

      </param>

      <param>

      <value><array><data>

      <value><struct>

      <member>

      <name>moviehash</name>

      <value><string>5b8f8f4e41ccb21e</string></value>

      </member>

      <member>

      <name>moviebytesize</name>

      <value><string>7033732714</string></value>

      </member>

      <member>

      <name>sublanguageid</name>

      <value><string>eng</string></value>

      </member>

      </struct></value>

      <value><struct>

      <member>

      <name>imdbid</name>

      <value><int>770828</int></value>

      </member>

      <member>

      <name>sublanguageid</name>

      <value><string>eng</string></value>

      </member>

      </struct></value>

      <value><struct>

      <member>

      <name>tag</name>

      <value><string>man.of.steel.2013.720p.bluray.x264-felony.mkv</string></value>

      </member>

      <member>

      <name>sublanguageid</name>

      <value><string>eng</string></value>

      </member>

      </struct></value>

      <value><struct>

   [...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>DownloadSubtitles</methodName>

      <params>

      <param>

      <value><string>AHIHll8i1XZ6aGW39wYw94xy5k8</string></value>

      </param>

      <param>

      <value><array><data>

      <value><string></string></value>

      </data></array></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://api.opensubtitles.org/xml-rpc
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>status</name><value><string>206
        Partial content; missing idsubtitlefile(s): </string></value></member><member><name>data</name><value><string/></value></member><member><name>seconds</name><value><double>0.017000</double></value></member></struct></value></param></params></methodResponse>'
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Download-Quota:
      - '999999999'
      X-Compressed-Content-Length:
      - '214'
      X-Content-Encoding:
      - gzip
      X-HTTP-Version:
      - '1.0'
      X-RateLimit-Remaining:
      - '38'
      X-Uncompressed-Content-Length:
      - '386'
      X-Var-Cache:
      - MISS
      X-Via:
      - fw2
    status:
      code: 200
      message: OK
version: 1
