interactions:
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?>

      <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://s1.api.bsplayer-subtitles.com/v1.php"><SOAP-ENV:Body
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><ns1:logIn><username></username><password></password><AppID>BSPlayer
      v2.67</AppID></ns1:logIn></SOAP-ENV:Body></SOAP-ENV:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://api.bsplayer-subtitles.com/v1.php#logIn"'
    method: POST
    uri: http://s1.api.bsplayer-subtitles.com/v1.php
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://api.bsplayer-subtitles.com/v1.php" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:logInResponse><return
        xsi:type="ns1:SubtitlesResult"><result xsi:type="xsd:string">200</result><status
        xsi:type="xsd:string">OK</status><data xsi:type="xsd:string">12ae88f32b10ac5686f4da0da3072625</data></return></ns1:logInResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?>

      <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://s1.api.bsplayer-subtitles.com/v1.php"><SOAP-ENV:Body
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><ns1:searchSubtitles><handle>12ae88f32b10ac5686f4da0da3072625</handle><movieHash>6878b3ef7c1bd19e</movieHash><movieSize>501910737</movieSize><languageId>eng,spa</languageId><imdbId>*</imdbId></ns1:searchSubtitles></SOAP-ENV:Body></SOAP-ENV:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://api.bsplayer-subtitles.com/v1.php#searchSubtitles"'
    method: POST
    uri: http://s1.api.bsplayer-subtitles.com/v1.php
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:ns1=\"http://api.bsplayer-subtitles.com/v1.php\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"
        SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><ns1:searchSubtitlesResponse><return
        xsi:type=\"ns1:SearchResult\"><result xsi:type=\"ns1:SubtitlesResult\"><result
        xsi:type=\"xsd:string\">200</result><status xsi:type=\"xsd:string\">OK</status><data
        xsi:type=\"xsd:string\">0</data></result><data SOAP-ENC:arrayType=\"ns1:SubtitleData[100]\"
        xsi:type=\"ns1:ArrayOfSubtitleData\"><item xsi:type=\"ns1:SubtitleData\"><subID
        xsi:type=\"xsd:int\">16442520</subID><subSize xsi:type=\"xsd:int\">12185</subSize><subDownloadLink
        xsi:type=\"xsd:string\">http://download.bsplayer-subtitles.com/download/file/16442520/d12ae88f32b10ac5686f4da0da3072625</subDownloadLink><subLang
        xsi:type=\"xsd:string\">spa</subLang><subName xsi:type=\"xsd:string\">The.Big.Bang.Theory.S07E05.720p.HDTV.X264-DIMENSION.srt</subName><subFormat
        xsi:type=\"xsd:string\">srt</subFormat><subHash xsi:type=\"xsd:string\">dbaf71fc665f83a716ae3f5daa62b7a0</subHash><subRating
        xsi:type=\"xsd:int\">5</subRating><season xsi:nil=\"true\"/><episode xsi:nil=\"true\"/><encsubtitle
        xsi:nil=\"true\"/><movieIMBDID xsi:type=\"xsd:string\">2557490</movieIMBDID><movieIMBDRating
        xsi:nil=\"true\"/><movieYear xsi:nil=\"true\"/><movieName xsi:nil=\"true\"/><movieHash
        xsi:type=\"xsd:string\">6878b3ef7c1bd19e</movieHash><movieSize xsi:type=\"xsd:long\">0</movieSize><movieFPS
        xsi:type=\"xsd:float\">0</movieFPS></item><item xsi:type=\"ns1:SubtitleData\"><subID
        xsi:type=\"xsd:int\">16443755</subID><subSize xsi:type=\"xsd:int\">12244</subSize><subDownloadLink
        xsi:type=\"xsd:string\">http://download.bsplayer-subtitles.com/download/file/16443755/d12ae88f32b10ac5686f4da0da3072625</subDownloadLink><subLang
 [...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?>

      <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://s1.api.bsplayer-subtitles.com/v1.php"><SOAP-ENV:Body
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><ns1:logOut><handle>12ae88f32b10ac5686f4da0da3072625</handle></ns1:logOut></SOAP-ENV:Body></SOAP-ENV:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://api.bsplayer-subtitles.com/v1.php#logOut"'
    method: POST
    uri: http://s1.api.bsplayer-subtitles.com/v1.php
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://api.bsplayer-subtitles.com/v1.php" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:logOutResponse><return
        xsi:type="ns1:SubtitlesResult"><result xsi:type="xsd:string">200</result><status
        xsi:type="xsd:string">OK</status><data xsi:type="xsd:string">0</data></return></ns1:logOutResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://download.bsplayer-subtitles.com/download/file/16442520/d12ae88f32b10ac5686f4da0da3072625
  response:
    body:
      string: !!binary |
        H4sIAAAAAAACA5R9zXLcRrLunhF8BxyvYUXjH/DiOiRLM54bsmyPbN/wEuwGSWjQQBvopk29zXkS
        xn0ULbngwqGdVje/zKzshDznnLgR80N1VyYKVV/+Z1UnlxebzVf4TxEXWRp9+eX/ivSDKs43m8uL
        t/3Qjdt+ivpx+3E/7aZnlxeXF6nRYdiKro7LOie6227YTWO0pf8up+jYDY/X0yjUmVFjcOmpm7hK
        msuLN+2ujXZddJx+O3XHblqYLjc6Gp[...]
