interactions:
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?>

      <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://s1.api.bsplayer-subtitles.com/v1.php"><SOAP-ENV:Body
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><ns1:logIn><username></username><password></password><AppID>BSPlayer
      v2.67</AppID></ns1:logIn></SOAP-ENV:Body></SOAP-ENV:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://api.bsplayer-subtitles.com/v1.php#logIn"'
    method: POST
    uri: http://s1.api.bsplayer-subtitles.com/v1.php
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://api.bsplayer-subtitles.com/v1.php" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:logInResponse><return
        xsi:type="ns1:SubtitlesResult"><result xsi:type="xsd:string">200</result><status
        xsi:type="xsd:string">OK</status><data xsi:type="xsd:string">1598a8314677f08e5f1e94b1e1c391bb</data></return></ns1:logInResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?>

      <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://s1.api.bsplayer-subtitles.com/v1.php"><SOAP-ENV:Body
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><ns1:searchSubtitles><handle>1598a8314677f08e5f1e94b1e1c391bb</handle><movieHash>5b8f8f4e41ccb21e</movieHash><movieSize>7033732714</movieSize><languageId>spa</languageId><imdbId>*</imdbId></ns1:searchSubtitles></SOAP-ENV:Body></SOAP-ENV:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://api.bsplayer-subtitles.com/v1.php#searchSubtitles"'
    method: POST
    uri: http://s1.api.bsplayer-subtitles.com/v1.php
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://api.bsplayer-subtitles.com/v1.php" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:searchSubtitlesResponse><return
        xsi:type="ns1:SearchResult"><result xsi:type="ns1:SubtitlesResult"><result
        xsi:type="xsd:string">200</result><status xsi:type="xsd:string">OK</status><data
        xsi:type="xsd:string">0</data></result><data SOAP-ENC:arrayType="ns1:SubtitleData[21]"
        xsi:type="ns1:ArrayOfSubtitleData"><item xsi:type="ns1:SubtitleData"><subID
        xsi:type="xsd:int">16459402</subID><subSize xsi:type="xsd:int">31273</subSize><subDownloadLink
        xsi:type="xsd:string">http://download.bsplayer-subtitles.com/download/file/16459402/d1598a8314677f08e5f1e94b1e1c391bb</subDownloadLink><subLang
        xsi:type="xsd:string">spa</subLang><subName xsi:type="xsd:string">Man of Steel
        2013 720p BluRay x264 YIFY.ESP@TheSubFactory.Net.srt</subName><subFormat xsi:type="xsd:string">srt</subFormat><subHash
        xsi:type="xsd:string">1d379cd01d85cb723209626e5262b674</subHash><subRating
        xsi:type="xsd:int">5</subRating><season xsi:nil="true"/><episode xsi:nil="true"/><encsubtitle
        xsi:nil="true"/><movieIMBDID xsi:type="xsd:string">0770828</movieIMBDID><movieIMBDRating
        xsi:nil="true"/><movieYear xsi:nil="true"/><movieName xsi:nil="true"/><movieHash
        xsi:type="xsd:string">5b8f8f4e41ccb21e</movieHash><movieSize xsi:type="xsd:long">0</movieSize><movieFPS
        xsi:type="xsd:float">0</movieFPS></item><item xsi:type="ns1:SubtitleData"><subID
        xsi:type="xsd:int">16406078</subID><subSize xsi:type="xsd:int">30316</subSize><subDownloadLink
        xsi:type="xsd:string">http://download.bsplayer-subtitles.com/download/file/16406078/d1598a8314677f08e5f1e94b1e1c391bb</subDownloadLink><subLang
        xsi:type="xsd:string">spa</subLang><subName xsi:type="xsd:string">man.of.steel.2013.720p.bluray.x264-felony.srt</subName><subFormat
        xsi:type="xsd:string">srt</subFormat><subHash xsi:type="xsd:string">2d72ac0adff113b80fb9f6934459bfe0</subHash><subRating
        xsi:nil="true"/><season xsi:nil="true"/><episode xsi:nil="true"/><encsubtitle
        xsi:nil="true"/><movieIMBDID xsi:type="xsd:string">0770828</movieIMBDID><movieIMBDRating
        xsi:nil="true"/><movieYear xsi:nil="true"/><movieName xsi:nil="true"/><movieHash
        xsi:type="xsd:string">5b8f8f4e41ccb21e</movieHash><movieSize xsi:type="xsd:long">0</movieSize><movieFPS
        xsi:type="xsd:float">0</movieFPS>[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?>

      <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://s1.api.bsplayer-subtitles.com/v1.php"><SOAP-ENV:Body
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><ns1:logOut><handle>1598a8314677f08e5f1e94b1e1c391bb</handle></ns1:logOut></SOAP-ENV:Body></SOAP-ENV:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://api.bsplayer-subtitles.com/v1.php#logOut"'
    method: POST
    uri: http://s1.api.bsplayer-subtitles.com/v1.php
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://api.bsplayer-subtitles.com/v1.php" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:logOutResponse><return
        xsi:type="ns1:SubtitlesResult"><result xsi:type="xsd:string">200</result><status
        xsi:type="xsd:string">OK</status><data xsi:type="xsd:string">0</data></return></ns1:logOutResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
