interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/hash/1234567890abcdef
  response:
    body:
      string: '{"message":"Subtitle not found for video hash"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/bytes/123456789
  response:
    body:
      string: '{"message":"Subtitle not found for file size"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/name/tmpp0fuurue
  response:
    body:
      string: '{"data":{"fileName":"tmpp0fuurue"},"error":[{"code":"custom","path":["fileName"],"message":"File
        extension not supported"}],"success":false}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/file/alternative/tmpp0fuurue
  response:
    body:
      string: '{"message":"File extension not supported"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/name/tmpcbu26jdb
  response:
    body:
      string: '{"data":{"fileName":"tmpcbu26jdb"},"error":[{"code":"custom","path":["fileName"],"message":"File
        extension not supported"}],"success":false}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/file/alternative/tmpcbu26jdb
  response:
    body:
      string: '{"message":"File extension not supported"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/name/tmpz2oy973q
  response:
    body:
      string: '{"data":{"fileName":"tmpz2oy973q"},"error":[{"code":"custom","path":["fileName"],"message":"File
        extension not supported"}],"success":false}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/file/alternative/tmpz2oy973q
  response:
    body:
      string: '{"message":"File extension not supported"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/name/tmplew_q9yb
  response:
    body:
      string: '{"data":{"fileName":"tmplew_q9yb"},"error":[{"code":"custom","path":["fileName"],"message":"File
        extension not supported"}],"success":false}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/file/alternative/tmplew_q9yb
  response:
    body:
      string: '{"message":"File extension not supported"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
version: 1
