interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://json.wizdom.xyz/tt0944947.json
  response:
    body: {string: "{\"title\":\"\u05DE\u05E9\u05D7\u05E7\u05D9 \u05D4\u05DB\u05E1\",\"title_en\":\"Game
        of Thrones\",\"year\":\"2011\",\"rating\":\"9.50\",\"votes\":\"1090556\",\"release\":\"17\\/04\\/2011\",\"imdb\":\"tt0944947\",\"poster\":\"http:\\/\\/posters.wizdom.xyz\\/tt0944947.jpg\",\"plot\":\"\u05DE\u05E9\u05D7\u05E7\u05D9
        \u05D4\u05DB\u05E1 \u05E9\u05DC \u05D0\u05D9\u05D9\u05E5'-\u05D1\u05D9-\u05D0\u05D5
        \u05D4\u05D9\u05D0 \u05E2\u05D9\u05D1\u05D5\u05D3 \u05DC\u05D8\u05DC\u05D5\u05D5\u05D9\u05D6\u05D9\u05D4
        \u05E9\u05DC \u05E1\u05D3\u05E8\u05EA \u05D4\u05E1\u05E4\u05E8\u05D9\u05DD
        \u05E8\u05D1\u05D9-\u05D4\u05DE\u05DB\u05E8 \u05E9\u05DC \u05D2'\u05D5\u05E8\u05D2'
        \u05E8.\u05E8. \u05DE\u05E8\u05D8\u05D9\u05DF (\\\"\u05E9\u05D9\u05E8 \u05E9\u0[...]
