interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://json.wizdom.xyz/tt0770828.json
  response:
    body: {string: "{\"title\":\"\u05D0\u05D9\u05E9 \u05D4\u05E4\u05DC\u05D3\u05D4\",\"title_en\":\"Man
        of Steel\",\"year\":\"2013\",\"rating\":\"7.10\",\"votes\":\"562934\",\"release\":\"12\\/06\\/2013\",\"imdb\":\"tt0770828\",\"poster\":\"http:\\/\\/posters.wizdom.xyz\\/tt0770828.jpg\",\"plot\":\"\\\"\u05D0\u05D9\u05E9
        \u05D4\u05E4\u05DC\u05D3\u05D4\\\" \u05D4\u05D5\u05D0 \u05D7\u05DC\u05E7 \u05DE\u05E1\u05D3\u05E8\u05EA
        \u05E1\u05E8\u05D8\u05D9 \u05E1\u05D5\u05E4\u05E8\u05DE\u05DF \u05DC\u05D3\u05D5\u05E8\u05D5\u05EA\u05D9\u05D4\u05DD,
        \u05D5\u05DB\u05DE\u05D5 \u05E7\u05D5\u05D3\u05DE\u05D9\u05D5 \u05DE\u05D1\u05D5\u05E1\u05E1
        \u05E2\u05DC \u05E1\u05D3\u05E8\u05EA \u05D4\u05E7\u05D5\u05DE\u05D9\u05E7\u05E1
        \u05D4\u05DE\u05E4\u05D5\u05E8\u05E1\u0[...]
