interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://json.wizdom.xyz/tt2543328.json
  response:
    body: {string: "{\"title\":\"\u05D4\u05DE\u05E8\u05D2\u05DC\u05D9\u05DD \u05DE\u05D5\u05D5\u05E9\u05D9\u05E0\u05D2\u05D8\u05D5\u05DF\",\"title_en\":\"TURN:
        Washington's Spies\",\"year\":\"2014\",\"rating\":\"8.00\",\"votes\":\"13387\",\"release\":\"06\\/04\\/2014\",\"imdb\":\"tt2543328\",\"poster\":\"http:\\/\\/posters.wizdom.xyz\\/tt2543328.jpg\",\"plot\":\"\u05E1\u05D9\u05E4\u05D5\u05E8\u05D4
        \u05E9\u05DC \u05E8\u05E9\u05EA \u05D4\u05E8\u05D9\u05D2\u05D5\u05DC \u05D4\u05E8\u05D0\u05E9\u05D5\u05E0\u05D4
        \u05E9\u05DC \u05D0\u05DE\u05E8\u05D9\u05E7\u05D4: \u05D4\u05D3\u05E8\u05DE\u05D4
        \u05D4\u05D7\u05D3\u05E9\u05D4 \u05D5\u05D4\u05DE\u05D1\u05D8\u05D9\u05D7\u05D4
        \u05DE\u05D1\u05D9\u05EA \u05D0\u05D9\u05D9-\u05D0\u05DD-\u05E1\u05D9, \u05DE\u05D1\u05D5\u05E1\u05E1\u05EA
        \u05E2\u05DC \u05D4\u05E1\u05E4\u05E8 \[...]
