interactions:
- request:
    body: null
    headers:
      X-Requested-With:
      - XMLHttpRequest
    method: GET
    uri: https://www.addic7ed.com/ajax_loadShow.php?show=4010&season=2&langs=%7C
  response:
    body:
      string: " <form name=\"multidl\" action=\"/downloadmultiple.php\" method=\"post\">\n\t<table>\n\t<tr><td
        valign=\"top\">\n\t<div id=\"season\"><table><thead>\n\t\t<tr><th>S</th><th>E</th><th>Title</th><th>Language</th><th
        class=\"c\">Version</th><th class=\"c\">Completed</th><th class=\"c\"><img
        title=\"Hearing Impaired\" alt=\"HI\" src=\"https://www.addic7ed.com/images/hi.PNG\"
        width=\"20\" height=\"20\"></th><th class=\"c\"><img title=\"Corrected\" alt=\"Crctd\"
        src=\"https://www.addic7ed.com/images/bullet_go.png\" width=\"20\" height=\"20\"></th><th
        class=\"c\"><img title=\"720/1080\" alt=\"HD\" src=\"https://www.addic7ed.com/images/hdicon.png\"
        width=\"20\" height=\"20\"></th><th class=\"c\"><img title=\"Download\" alt=\"DL\"
        src=\"https://www.addic7ed.com/images/download.png\" width=\"20\" height=\"20\"></th>\n<th
        class=\"c\">\n<b>All</b><INPUT TYPE=\"CHECKBOX\" id=\"chk_all\" onclick=\"javascript:toggleall();\"></th>\n</tr></thead>\n\t<tbody>\n\t<tr
        class=\"epeven completed\"><td>2</td><td>1</td><td><a href=\"/serie/Marvel%27s_Agents_of_S.H.I.E.L.D./2/1/Shadows\">Shadows</a></td><td>English</td><td
        class=\"c\">x264-KILLERS</td>\n\t\t\t\t\t\t<td class=\"c\">Completed</td><td
        class=\"c\"></td><td class=\"c\">&#10004;</td><td class=\"c\">&#10004;</td><td
        class=\"c\"><a href=\"/updated/1/92175/0\">Download</a></td>\n\t\t\t\t\t\t\t<td><input
        type=\"checkbox\" id=\"multishow1\" name=\"multishow[]\" value=\"1/92175/0\"
        onclick=\"javascrip[...]
