interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://subscenter.cinemast.com/he/cinemast/data/movie/sb/enders-game/
  response:
    body: {string: !!python/unicode '{"he": {"2.Qsubs & Private Translated": {"1080p":
        {"19": {"created_by": "\u05d0\u05e0\u05d5\u05e0\u05d9\u05de\u05d9", "created_by_id":
        0, "created_on": "29.01.2014 ,12:16", "credits": {"4": {"\u05ea\u05e8\u05d2\u05d5\u05dd
        \u05d5\u05e1\u05e0\u05db\u05e8\u05d5\u05df \u05de\u05e9\u05de\u05d9\u05e2\u05d4":
        "\u05e4\u05d9\u05e4\u05d5  , \u05d5\u05d0\u05dc\u05db\u05e1\u05e0\u05d3\u05e8
        \u05e4\u05df"}}, "downloaded": 739, "files_count": 1, "hearing_impaired":
        0, "id": 267118, "is_sync": 266898, "key": "9c0074eb4cb355121aa750d71a981624",
        "notes": "", "sat_count": 0, "subtitle_version": "Enders.Game.2013.1080p.WEB-DL.H264-PublicHD",
        "vip": 0}, "4": {"created_by": "\u05d0\u05e0\u05d5\u05e0\u05d9\u05de\u05d9",
        "created_by_id": 0, "created_on": "30.01.2014 ,12:09", "credits": {"4": {"\u05ea\u05e8\u05d2\u05d5\u05dd
        \u05d5\u05e1\u05e0\u05db\u05e8\u05d5\u05df \u05de\u05e9\u05de\u05d9\u05e2\u05d4":
        "\u05e4\u05d9\u05e4\u05d5  , \u05d5\u05d0\u05dc\u05db\u05e1\u05e0\u05d3\u05e8
        \u05e4\u05df"}}, "downloaded": 1871, "files_count": 1, "hearing_impaired":
        0, "id": 267140, "is_sync": 266898, "key": "abe02[...]
