interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/The%20X-Files
  response:
    body:
      string: '{"shows":[{"id":"d4ea29c3-29e0-47a0-8a13-69b2a329b3a7","name":"The
        X-Files","nbSeasons":11,"seasons":[1,2,3,4,5,6,7,8,9,10,11],"tvDbId":77398,"tmdbId":4087,"slug":"the-x-files"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 29 May 2024 11:08:17 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/d4ea29c3-29e0-47a0-8a13-69b2a329b3a7/10/2/fra
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"41ecae8e-0110-4bb0-8266-644c3b0a97ba","version":"Web-DL.IMPERIUM","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/41ecae8e-0110-4bb0-8266-644c3b0a97ba","language":"French","discovered":"2022-05-28T18:54:35.590745Z","downloadCount":51},{"subtitleId":"2fcab6e2-8713-40d1-afee-f9904e1d8fde","version":"Web-DL.RARBG","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/2fcab6e2-8713-40d1-afee-f9904e1d8fde","language":"French","discovered":"2022-05-28T18:54:35.590746Z","downloadCount":0},{"subtitleId":"345385a9-9fd9-450a-bdc3-f4e6e7ea54b6","version":"AVS","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/345385a9-9fd9-450a-bdc3-f4e6e7ea54b6","language":"French","discovered":"2022-05-28T18:54:35.590759Z","downloadCount":0},{"subtitleId":"b21937ff-b3eb-45d5-9d85-8d0d8cc59f7c","version":"Web-DL.Dracula","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/b21937ff-b3eb-45d5-9d85-8d0d8cc59f7c","language":"French","discovered":"2022-05-28T18:54:35.59076Z","downloadCount":16},{"subtitleId":"82efacfe-9a35-49ae-9ea8-a43af308e7e2","version":"KILLERS","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/82efacfe-9a35-49ae-9ea8-a43af308e7e2","language":"French","discovered":"2022-05-28T18:54:35.590762Z","downloadCount":0}],"episode":{"season":10,"number":2,"title":"Founder''s
        Mutation","show":"The X-Files","discovered":"2022-05-28T18:54:35.590723Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 29 May 2024 19:47:27 GMT
    status:
      code: 200
      message: OK
version: 1
