interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/external/tvdb/80379
  response:
    body:
      string: '{"shows":[{"id":"91eb9278-8cf5-4ddd-9111-7f60b15958cb","name":"The
        Big Bang Theory","nbSeasons":12,"seasons":[1,2,3,4,5,6,7,8,9,10,11,12],"tvDbId":80379,"tmdbId":1418,"slug":"the-big-bang-theory"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Wed, 12 Feb 2025 22:02:09 GMT
    status:
      code: 200
      message: OK
version: 1
