interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/external/tvdb/272135
  response:
    body:
      string: '{"shows":[{"id":"b366047d-4e8f-4430-b9da-e1a8b9dc4d00","name":"TURN","nbSeasons":4,"seasons":[1,2,3,4],"tvDbId":272135,"tmdbId":57276,"slug":"turn"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 23 May 2024 01:03:24 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/Turn
  response:
    body:
      string: "{\"shows\":[{\"id\":\"07f13d98-6a8c-497f-baaa-6c4f73cef6fd\",\"name\":\"Beowulf:
        Return To The Shieldlands\",\"nbSeasons\":1,\"seasons\":[1],\"tvDbId\":301347,\"tmdbId\":64593,\"slug\":\"beowulf-return-to-the-shieldlands\"},{\"id\":\"c3d5177d-b780-48a6-adcd-70dca1b62ab1\",\"name\":\"El
        Drag\xF3n: Return of a Warrior\",\"nbSeasons\":2,\"seasons\":[1,2],\"tvDbId\":370131,\"tmdbId\":94154,\"slug\":\"el-dragon-return-of-a-warrior\"},{\"id\":\"b964a19e-f40c-4d3b-9f32-f17d31003f49\",\"name\":\"Hot
        Girls Wanted: Turned On\",\"nbSeasons\":1,\"seasons\":[1],\"tvDbId\":326030,\"tmdbId\":71373,\"slug\":\"hot-girls-wanted-turned-on\"},{\"id\":\"22296d26-c773-487b-be4b-a305bf9aee1e\",\"name\":\"King
        of Boys: The Return of the King\",\"nbSeasons\":1,\"seasons\":[1],\"tvDbId\":408917,\"tmdbId\":131584,\"slug\":\"king-of-boys-the-return-of-the-king\"},{\"id\":\"fc23574c-c421-4483-be2a-ef0a370ab26a\",\"name\":\"Luna
        Petunia: Return to Amazia\",\"nbSeasons\":1,\"seasons\":[1],\"tvDbId\":null,\"tmdbId\":76809,\"slug\":\"luna-petunia-return-to-amazia\"},{\"id\":\"10c2fe37-bee3-4dc2-9942-dc76efe835e3\",\"name\":\"Mystery
        Science Theater 3000: The Return\",\"nbSeasons\":1,\"seasons\":[1],\"tvDbId\":null,\"tmdbId\":null,\"slug\":\"mystery-science-theater-3000-the-return\"},{\"id\":\"d1a435da-46f5-4794-ac5e-a241f38e87f1\",\"name\":\"Return
        of the Mac\",\"nbSeasons\":1,\"seasons\":[1],\"tvDbId\":325304,\"tm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/b366047d-4e8f-4430-b9da-e1a8b9dc4d00/4/3/eng
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"6081b9e1-a57c-4082-8e65-aa07d5547b64","version":"SVA","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/6081b9e1-a57c-4082-8e65-aa07d5547b64","language":"English","discovered":"2022-11-30T07:37:56.705336Z","downloadCount":46},{"subtitleId":"6b789fec-02e9-4a8d-b0a1-fd701a817d75","version":"SVA","completed":true,"hearingImpaired":true,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/6b789fec-02e9-4a8d-b0a1-fd701a817d75","language":"English","discovered":"2022-11-30T07:37:56.705778Z","downloadCount":0}],"episode":{"season":4,"number":3,"title":"Blood
        for Blood","show":"TURN","discovered":"2022-11-30T07:37:56.705328Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 29 May 2024 19:47:29 GMT
    status:
      code: 200
      message: OK
version: 1
