interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/external/tvdb/80379
  response:
    body:
      string: '{"shows":[{"id":"91eb9278-8cf5-4ddd-9111-7f60b15958cb","name":"The
        Big Bang Theory","nbSeasons":12,"seasons":[1,2,3,4,5,6,7,8,9,10,11,12],"tvDbId":80379,"tmdbId":1418,"slug":"the-big-bang-theory"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Wed, 12 Feb 2025 22:02:09 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/91eb9278-8cf5-4ddd-9111-7f60b15958cb/7/5/fra
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"90fe1369-fa0c-4154-bd04-d3d332dec587","version":"DIMENSION","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/90fe1369-fa0c-4154-bd04-d3d332dec587","language":"French","discovered":"2022-05-30T14:51:00.621699Z","downloadCount":168}],"episode":{"season":7,"number":5,"title":"The
        Workplace Proximity","show":"The Big Bang Theory","discovered":"2022-05-30T14:51:00.621694Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 13 Feb 2025 23:29:44 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/download/90fe1369-fa0c-4154-bd04-d3d332dec587
  response:
    body:
      string: "\uFEFF1\r\n00:00:05,532 --> 00:00:07,400\r\nSilence g\xEAnant.\r\n\r\n2\r\n00:00:07,402
        --> 00:00:08,684\r\nSheldon sur son t\xE9l\xE9phone.\r\n\r\n3\r\n00:00:08,686
        --> 00:00:09,719\r\nOn ne se touche pas.\r\n\r\n4\r\n00:00:09,721 --> 00:00:13,122\r\nQuelqu'un
        a un rencard.\r\n\r\n5\r\n00:00[...]
