interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/CSI:%20Cyber
  response:
    body:
      string: '{"shows":[{"id":"b23a6864-d99c-48f1-95f7-b675289ca8a8","name":"CSI:
        Cyber","nbSeasons":2,"seasons":[1,2],"tvDbId":281551,"tmdbId":61811,"slug":"csi-cyber"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 16 Jul 2026 00:06:56 GMT
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/b23a6864-d99c-48f1-95f7-b675289ca8a8/2/3/eng
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"05785d75-5fdc-4f5a-8a06-94da5b82faf6","version":"DIMENSION","completed":true,"hearingImpaired":true,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/05785d75-5fdc-4f5a-8a06-94da5b82faf6","language":"English","discovered":"2022-07-27T23:38:13.786172Z","downloadCount":74,"source":"Addic7ed","qualities":["720p","1080p"],"release":null},{"subtitleId":"5a1eef38-0058-4f19-8083-e4e73eb41068","version":"DIMENSION.colored","completed":true,"hearingImpaired":true,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/5a1eef38-0058-4f19-8083-e4e73eb41068","language":"English","discovered":"2022-07-27T23:38:13.786174Z","downloadCount":0,"source":"Addic7ed","qualities":["720p","1080p"],"release":null},{"subtitleId":"be0fedf1-3863-42bc-a026-88af7f6a9461","version":"DIMENSION","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/be0fedf1-3863-42bc-a026-88af7f6a9461","language":"English","discovered":"2022-07-27T23:38:13.786175Z","downloadCount":112,"source":"Addic7ed","qualities":["720p","1080p"],"release":null}],"episode":{"season":2,"number":3,"title":"Brown
        Eyes, Blue Eyes","show":"CSI: Cyber","discovered":"2022-07-27T23:38:13.786171Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 16 Jul 2026 00:06:56 GMT
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    status:
      code: 200
      message: OK
version: 1
