interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/The%20Big%20Bang%20Theory
  response:
    body:
      string: '{"shows":[{"id":"91eb9278-8cf5-4ddd-9111-7f60b15958cb","name":"The
        Big Bang Theory","nbSeasons":12,"seasons":[1,2,3,4,5,6,7,8,9,10,11,12],"tvDbId":80379,"tmdbId":1418,"slug":"the-big-bang-theory"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 16 Jul 2026 00:06:53 GMT
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/91eb9278-8cf5-4ddd-9111-7f60b15958cb/7/5/fra
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"90fe1369-fa0c-4154-bd04-d3d332dec587","version":"DIMENSION","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/90fe1369-fa0c-4154-bd04-d3d332dec587","language":"French","discovered":"2022-05-30T14:51:00.621699Z","downloadCount":237,"source":"Addic7ed","qualities":["720p","1080p"],"release":null}],"episode":{"season":7,"number":5,"title":"The
        Workplace Proximity","show":"The Big Bang Theory","discovered":"2022-05-30T14:51:00.621694Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 16 Jul 2026 00:06:57 GMT
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/91eb9278-8cf5-4ddd-9111-7f60b15958cb/7/5/deu
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"712de981-a7cc-4ce0-842c-0da9a06d1472","version":"LOL","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/712de981-a7cc-4ce0-842c-0da9a06d1472","language":"German","discovered":"2022-05-30T14:51:00.621711Z","downloadCount":161,"source":"Addic7ed","qualities":["720p","1080p"],"release":null}],"episode":{"season":7,"number":5,"title":"The
        Workplace Proximity","show":"The Big Bang Theory","discovered":"2022-05-30T14:51:00.621694Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 16 Jul 2026 00:06:57 GMT
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    status:
      code: 200
      message: OK
version: 1
