interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/external/tvdb/77092
  response:
    body:
      string: '{"shows":[{"id":"226d7f34-a9f5-4fe2-98d7-ecf944243714","name":"Dallas","nbSeasons":10,"seasons":[1,2,3,4,5,6,8,9,12,13],"tvDbId":77092,"tmdbId":40,"slug":"dallas"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 23 May 2024 02:32:32 GMT
    status:
      code: 200
      message: OK
version: 1
