interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/Marvel's%20Agents%20of%20S.H.I.E.L.D.
  response:
    body:
      string: '{"shows":[{"id":"8976d3bb-a213-4210-9a03-f4b6d17ce540","name":"Marvel''s
        Agents of S.H.I.E.L.D.","nbSeasons":7,"seasons":[1,2,3,4,5,6,7],"tvDbId":263365,"tmdbId":1403,"slug":"marvels-agents-of-shield"},{"id":"9039b72e-89eb-401e-9d03-0419bf7d1273","name":"Marvel''s
        Agents of S.H.I.E.L.D.: Slingshot","nbSeasons":0,"seasons":[],"tvDbId":null,"tmdbId":69088,"slug":"marvels-agents-of-shield-slingshot"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 29 May 2024 19:47:24 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/8976d3bb-a213-4210-9a03-f4b6d17ce540/2/6/eng
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"2dea1511-0b72-40db-89b5-eb6f0fb218a5","version":"720p-KILLERS","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/2dea1511-0b72-40db-89b5-eb6f0fb218a5","language":"English","discovered":"2022-09-12T00:34:57.016707Z","downloadCount":11},{"subtitleId":"0c649aff-2e63-4426-a87f-68edfe4f7043","version":"720p-KILLERS","completed":true,"hearingImpaired":true,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/0c649aff-2e63-4426-a87f-68edfe4f7043","language":"English","discovered":"2022-09-12T00:34:57.016709Z","downloadCount":2},{"subtitleId":"45d064c7-2ce3-4911-b790-e25fdc3db890","version":"HDTV.x264-KILLERS","completed":true,"hearingImpaired":true,"corrected":true,"hd":false,"downloadUri":"/subtitles/download/45d064c7-[...]
