interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/Grimsburg
  response:
    body:
      string: '{"shows":[{"id":"018b4083-1600-48b5-a5f1-28f7d152d265","name":"Grimsburg","nbSeasons":1,"seasons":[1],"tvDbId":420069,"tmdbId":202224,"slug":"grimsburg"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 13 Feb 2025 23:29:45 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/018b4083-1600-48b5-a5f1-28f7d152d265/1/1/eng
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"018ceac7-5d4f-4f26-8d36-3efc4b948281","version":"WEB-EDITH","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/018ceac7-5d4f-4f26-8d36-3efc4b948281","language":"English","discovered":"2024-01-08T20:33:03.311777Z","downloadCount":84},{"subtitleId":"018ceac7-5d4f-452b-b36f-fded539e7c6d","version":"WEB-EDITH","completed":true,"hearingImpaired":true,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/018ceac7-5d4f-452b-b36f-fded539e7c6d","language":"English","discovered":"2024-01-08T20:33:03.311796Z","downloadCount":57}],"episode":{"season":1,"number":1,"title":"Pilot","show":"Grimsburg","discovered":"2024-01-08T20:33:03.311746Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 13 Feb 2025 23:29:45 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/download/018ceac7-5d4f-4f26-8d36-3efc4b948281
  response:
    body:
      string: "\uFEFF1\r\n00:00:02,790 --> 00:00:06,189\r\n<i>\u266A Don't go \u266A</i>\r\n\r\n2\r\n00:00:06,190
        --> 00:00:08,070\r\nYou're a really good kisser.\r\n\r\n3\r\n00:00:08,100
        --> 00:00:10,240\r\nMy dad was so wrong about you.\r\n\r\n4\r\n00:00:10,340
        --> 00:00:12,809\r\nWait, your dad thought\r[...]
