interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/external/tvdb/121361
  response:
    body:
      string: '{"shows":[{"id":"b88a8594-d158-4fde-b93e-38f37cb7b50b","name":"Game
        of Thrones","nbSeasons":9,"seasons":[0,1,2,3,4,5,6,7,8],"tvDbId":121361,"tmdbId":1399,"slug":"game-of-thrones"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 10 Feb 2025 20:33:58 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/b88a8594-d158-4fde-b93e-38f37cb7b50b/3/eng
  response:
    body:
      string: '{"episodes":[{"subtitles":[{"subtitleId":"31a4ac62-383c-4fe2-acdc-c2643dffeee0","version":"BTN","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/31a4ac62-383c-4fe2-acdc-c2643dffeee0","language":"English","discovered":"2022-05-31T17:21:37.385591Z","downloadCount":3}],"season":3,"number":0,"title":"A
        Gathering Storm","show":"Game of Thrones","discovered":"2022-05-31T17:21:37.385578Z"},{"subtitles":[{"subtitleId":"b1348a0b-9cc1-4ac9-ae41-c2e70f4bdd13","version":"BluRay-DEMAND(ShAaNig)","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/b1348a0b-9cc1-4ac9-ae41-c2e70f4bdd13","language":"English","discovered":"2022-05-31T17:21:37.385726Z","downloadCount":365},{"subtitleId":"f6efa7fe-ce27-415c-a7f8-3b3f0cf6a015","version":"720p.BluRay.ShAaNiG","completed":true,"hearing[...]
