interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/external/tvdb/328635
  response:
    body:
      string: '{"shows":[{"id":"6e507429-0994-443f-833e-1b06cbc18705","name":"Alex,
        Inc.","nbSeasons":1,"seasons":[1],"tvDbId":328635,"tmdbId":71763,"slug":"alex-inc"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 08 Feb 2025 13:32:07 GMT
    status:
      code: 200
      message: OK
version: 1
