interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/Grey's%20Anatomy
  response:
    body:
      string: '{"shows":[{"id":"cb13bb68-c637-4e0f-b79d-d4f1b4972380","name":"Grey''s
        Anatomy","nbSeasons":22,"seasons":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22],"tvDbId":73762,"tmdbId":1416,"slug":"greys-anatomy"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 16 Jul 2026 00:06:54 GMT
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    status:
      code: 200
      message: OK
version: 1
