interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/The%20End%20of%20the%20Fucking%20World
  response:
    body:
      string: '"Couldn''t find show: The End of the Fucking World"'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/The%20end%20of%20the%20f***ing%20world
  response:
    body:
      string: '{"shows":[{"id":"e789f371-ae07-4db4-b9aa-6b34e7e9e7b0","name":"The
        End of the F***ing World","nbSeasons":2,"seasons":[1,2],"tvDbId":336522,"tmdbId":74577,"slug":"the-end-of-the-fing-world"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 13 Feb 2025 23:29:45 GMT
    status:
      code: 200
      message: OK
version: 1
