interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/search/Dallas
  response:
    body:
      string: '{"shows":[{"id":"226d7f34-a9f5-4fe2-98d7-ecf944243714","name":"Dallas","nbSeasons":11,"seasons":[1,2,3,4,5,6,8,9,11,12,13],"tvDbId":77092,"tmdbId":40,"slug":"dallas"},{"id":"4e56a466-31a3-4b05-9696-671a1cd6954e","name":"Dallas
        (2012)","nbSeasons":3,"seasons":[1,2,3],"tvDbId":242521,"tmdbId":37759,"slug":"dallas-2012"},{"id":"019c78ec-2ced-73ba-83b6-02a3c8c99a8c","name":"America''s
        Sweethearts: Dallas Cowboys Cheerleaders","nbSeasons":2,"seasons":[1,3],"tvDbId":449142,"tmdbId":252257,"slug":"americas-sweethearts-dallas-cowboys-cheerleaders"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 16 Jul 2026 00:06:53 GMT
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    status:
      code: 200
      message: OK
version: 1
