interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/shows/external/tvdb/121361
  response:
    body:
      string: '{"shows":[{"id":"b88a8594-d158-4fde-b93e-38f37cb7b50b","name":"Game
        of Thrones","nbSeasons":9,"seasons":[0,1,2,3,4,5,6,7,8],"tvDbId":121361,"tmdbId":1399,"slug":"game-of-thrones"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 10 Feb 2025 20:33:58 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gestdown.info/subtitles/get/b88a8594-d158-4fde-b93e-38f37cb7b50b/3/10/por
  response:
    body:
      string: '{"matchingSubtitles":[{"subtitleId":"9f486fef-ce86-4918-a292-dacd5dda07c8","version":"All_with_preview","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/9f486fef-ce86-4918-a292-dacd5dda07c8","language":"Portuguese","discovered":"2022-05-31T17:21:37.386235Z","downloadCount":213},{"subtitleId":"4db010e2-d271-4bd5-bda8-9756c8f4a437","version":"All_without_preview","completed":true,"hearingImpaired":false,"corrected":true,"hd":true,"downloadUri":"/subtitles/download/4db010e2-d271-4bd5-bda8-9756c8f4a437","language":"Portuguese","discovered":"2022-05-31T17:21:37.386236Z","downloadCount":48}],"episode":{"season":3,"number":10,"title":"Mhysa","show":"Game
        of Thrones","discovered":"2022-05-31T17:21:37.386209Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 13 Feb 2025 23:29:48 GMT
    status:
      code: 200
      message: OK
version: 1
