interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/name/Novocaine.2025.1080p.WEBRip.mkv
  response:
    body:
      string: '{"message":"Subtitle not found for file name"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/file/alternative/Novocaine.2025.1080p.WEBRip.mkv
  response:
    body:
      string: "{\"title\":{\"id\":10202,\"slug\":\"novocaine-2025\",\"imdb_id\":\"29603959\",\"queried_times\":2481,\"searched_times\":16,\"type\":\"movie\",\"year\":2025,\"title_name\":\"Novocaine\",\"optimized_logo\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/5fsINfIZOQ3JK3ST9TJaXL8Mg6v-logo.webp\",\"optimized_poster\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/xmMHGz9dVRaMY6rRAlEX4W0Wdhm-poster-lg.webp\",\"optimized_backdrop\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/doI4G4wbGz7uNYYdRa4pSfXWfRr.webp\",\"optimized_backdrop_main\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/1Eu4grfwoQ1EigaZ5KGfPXVHhT0_main.webp\",\"overview\":\"Cuando
        la chica de sus sue\xF1os es secuestrada, un hombre com\xFAn Nate convierte
        su incapacidad de no sentir dolor en una fortaleza inesperada en su lucha
        por recuperarla.\",\"runtime\":110,\"rating\":6.9,\"poster_thumbhash\":\"kQgGFQJiaXaIB3hWqJR4R2RgSHcG\",\"backdrop_thumbhash\":\"jQgKHIKAiViGiHdyiId4hgA4OQ==\",\"youtube_id\":\"-PyOIlJEdqA\",\"certification\":\"R\"},\"release_group\":{\"id\":1732,\"release_group_name\":\"BYNDR\"},\"subtitle_group\":{\"id\":1,\"website\":\"https://subdivx.com\",\"subtitle_group_name\":\"SubDivX\"},\"subtitle\":{\"id\":2607,\"bytes\":6201412253,\"is_valid\":false,\"resolution\":\"1080p\",\"external_id\":\"691728\",\"uploaded_by\":\"indexer-cron\",\"subtitle_link\":\"https://api.subt.is/v1/subtitle/link/2607\",\"queried_times\":1210,\"current_season\":null,\"current_episode\":null,\"title_file_name\":\"Novocaine.2025.1080p.AMZN.WEB-DL.H264.DDP5
        1.Atmos-BYNDR.mkv\",\"subtitle_file_name\":\"Novocaine.2025.1080p.AMZN.WEB-DL.H264.DDP5.1.Atmos-BYNDR.srt\",\"preview\":[{\"id\":\"2\",\"startTime\":\"00:01:25,861\",\"startSeconds\":85.861,\"endTime\":\"00:01:28,583\",\"endSeconds\":88.583,\"text\":\"<i>Y
        amigos,\\nsi algo he aprendido, es esto...</i>\"},{\"id\":\"4\",\"startTime\":\"00:01:28,783\",\"startSeconds\":88.783,\"endTime\":\"00:01:31,182\",\"endSeconds\":91.182,\"text\":\"<i>No
        puedes dejar que tu\\ndiscapacidad te frene.</i>\"},{\"id\":\"5\",\"startTime\":\"00:01:31,382\",\"startSeconds\":91.382,\"endTime\":\"00:01:33,258\",\"endSeconds\":93.258,\"text\":\"<i>Tienes
        que llevarla como\\nuna insignia de honor.</i>\"},{\"id\":\"6\",\"startTime\":\"00:01:33,458\",\"startSeconds\":93.458,\"endTime\":\"00:01:34,634\",\"endSeconds\":94.634,\"text\":\"<i>Tienes
        que salir ah\xED afuera\\ny decir,</i>\"}],\"rip_type\":\"WebDL\"}}"
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 200
      message: OK
version: 1
