interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/bytes/7033732714
  response:
    body:
      string: '{"message":"Subtitle not found for file size"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/name/man.of.steel.2013.720p.bluray.x264-felony.mkv
  response:
    body:
      string: '{"message":"Subtitle not found for file name"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/file/alternative/man.of.steel.2013.720p.bluray.x264-felony.mkv
  response:
    body:
      string: "{\"title\":{\"id\":11693,\"slug\":\"man-of-steel-2013\",\"imdb_id\":\"0770828\",\"queried_times\":2019,\"searched_times\":1,\"type\":\"movie\",\"year\":2013,\"title_name\":\"Man
        of Steel\",\"optimized_logo\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/qBtAryVKg11iEOmxeb31fxIHuvN-logo.webp\",\"optimized_poster\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/8GFtkImmK0K1VaUChR0n9O61CFU-poster-lg.webp\",\"optimized_backdrop\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/zQmawynS76X7SXGS39g8Z7aiXI2.webp\",\"optimized_backdrop_main\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/z3Z5PKootkXs6Jd7kOdzLZoslb3_main.webp\",\"overview\":\"Un
        ni\xF1o extraterrestre es evacuado de su mundo moribundo y enviado a la Tierra
        para vivir entre los humanos. Su paz se ve amenazada cuando los sobrevivientes
        de su planeta invaden la Tierra.\",\"runtime\":143,\"rating\":6.6,\"poster_thumbhash\":\"zQcKFQTAtqSFdliphpZpSAabl5BZ\",\"backdrop_thumbhash\":\"mfcJFIaG0HeReIhyuFG5r4z5ug==\",\"youtube_id\":\"T6DJcgm3wNY\",\"certification\":\"PG-13\"},\"release_group\":{\"id\":1739,\"release_group_name\":\"YTS\"},\"subtitle_group\":{\"id\":1,\"website\":\"https://subdivx.com\",\"subtitle_group_name\":\"SubDivX\"},\"subtitle\":{\"id\":13217,\"bytes\":1026441629,\"is_valid\":false,\"resolution\":\"720p\",\"external_id\":\"351732\",\"uploaded_by\":\"indexer-movie\",\"subtitle_link\":\"https://api.subt.is/v1/subtitle/link/13217\",\"queried_times\":166,\"current_season\":null,\"current_episode\":null,\"title_file_name\":\"Man.of.Steel.2013.720p.BluRay.x264.YIFY.mp4\",\"subtitle_file_name\":\"Man.of.Steel.2013.720p.BluRay.x264.YIFY.srt\",\"preview\":[{\"id\":\"2\",\"startTime\":\"00:00:58,650\",\"startSeconds\":58.65,\"endTime\":\"00:01:00,163\",\"endSeconds\":60.163,\"text\":\"<i>\xA1R\xE1pido!</i>\"},{\"id\":\"4\",\"startTime\":\"00:02:11,156\",\"startSeconds\":131.156,\"endTime\":\"00:02:15,115\",\"endSeconds\":135.115,\"text\":\"<i>\xBFNo
        entienden? El n\xFAcleo\\nde Krypton est\xE1 colapsando.</i>\"},{\"id\":\"5\",\"startTime\":\"00:02:15,327\",\"startSeconds\":135.327,\"endTime\":\"00:02:18,683\",\"endSeconds\":138.683,\"text\":\"Quiz\xE1s
        tengamos solo unas\\ncuantas semanas. Se los advert\xED.\"},{\"id\":\"6\",\"startTime\":\"00:02:18,930\",\"startSeconds\":138.93,\"endTime\":\"00:02:22,445\",\"endSeconds\":142.445,\"text\":\"Cosechar
        el n\xFAcleo fue un\\nsuicidio. Ha acelerado...\"}],\"rip_type\":\"BluRay\"}}"
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 200
      message: OK
[...]
