interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/hash/1234567890abcdef
  response:
    body:
      string: '{"message":"Subtitle not found for video hash"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/bytes/123456789
  response:
    body:
      string: '{"message":"Subtitle not found for file size"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/find/file/name/tmp89yajn91
  response:
    body:
      string: '{"data":{"fileName":"tmp89yajn91"},"error":[{"code":"custom","path":["fileName"],"message":"File
        extension not supported"}],"success":false}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/file/alternative/tmp89yajn91
  response:
    body:
      string: '{"message":"File extension not supported"}'
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 400
      message: Bad Request
version: 1
