interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subt.is/v1/subtitle/file/name/4541737725/Novocaine.2025.1080p.WEBRip.V2.x264.Dual.YG.mkv
  response:
    body:
      string: "{\"title\":{\"id\":10202,\"slug\":\"novocaine-2025\",\"imdb_id\":\"29603959\",\"queried_times\":2450,\"searched_times\":16,\"type\":\"movie\",\"year\":2025,\"title_name\":\"Novocaine\",\"optimized_logo\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/5fsINfIZOQ3JK3ST9TJaXL8Mg6v-logo.webp\",\"optimized_poster\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/xmMHGz9dVRaMY6rRAlEX4W0Wdhm-poster-lg.webp\",\"optimized_backdrop\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/doI4G4wbGz7uNYYdRa4pSfXWfRr.webp\",\"optimized_backdrop_main\":\"https://yelhsmnvfyyjuamxbobs.supabase.co/storage/v1/object/public/images/1Eu4grfwoQ1EigaZ5KGfPXVHhT0_main.webp\",\"overview\":\"Cuando
        la chica de sus sue\xF1os es secuestrada, un hombre com\xFAn Nate convierte
        su incapacidad de no sentir dolor en una fortaleza inesperada en su lucha
        por recuperarla.\",\"runtime\":110,\"rating\":6.9,\"poster_thumbhash\":\"kQgGFQJiaXaIB3hWqJR4R2RgSHcG\",\"backdrop_thumbhash\":\"jQgKHIKAiViGiHdyiId4hgA4OQ==\",\"youtube_id\":\"-PyOIlJEdqA\",\"certification\":\"R\"},\"release_group\":{\"id\":1760,\"release_group_name\":\"Dual
        YG\"},\"subtitle_group\":{\"id\":2,\"website\":\"https://subdl.com\",\"subtitle_group_name\":\"SUBDL\"},\"subtitle\":{\"id\":11584,\"bytes\":4541737725,\"is_valid\":false,\"resolution\":\"1080p\",\"external_id\":\"5fR7OhtYVkD\",\"uploaded_by\":\"indexer-cron\",\"subtitle_link\":\"https://api.subt.is/v1/subtitle/link/11584\",\"queried_times\":30,\"current_season\":null,\"current_episode\":null,\"title_file_name\":\"Novocaine.2025.1080p.WEBRip.V2.x264.Dual
        YG.mkv\",\"subtitle_file_name\":\"Novocaine.2025.1080p.WEBRip.V2.x264.Dual.YG.srt\",\"preview\":[{\"id\":\"2\",\"startTime\":\"00:01:04,483\",\"startSeconds\":64.483,\"endTime\":\"00:01:06,730\",\"endSeconds\":66.73,\"text\":\"Y
        escuchen, si he aprendido una cosa es\"},{\"id\":\"4\",\"startTime\":\"00:01:06,730\",\"startSeconds\":66.73,\"endTime\":\"00:01:09,290\",\"endSeconds\":69.29,\"text\":\"esta,
        no puedes dejar que tu discapacidad te\"},{\"id\":\"5\",\"startTime\":\"00:01:09,290\",\"startSeconds\":69.29,\"endTime\":\"00:01:11,730\",\"endSeconds\":71.73,\"text\":\"detenga,
        tienes que usarla como medalla de honor,\"},{\"id\":\"6\",\"startTime\":\"00:01:12,070\",\"startSeconds\":72.07,\"endTime\":\"00:01:14,390\",\"endSeconds\":74.39,\"text\":\"tienes
        que salir y decir, mundo, este soy\"}],\"rip_type\":\"WEBRip\"}}"
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 200
      message: OK
[...]
