interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?keywords=Man+of+Steel&language=en&movie_type=movie&year=2013
  response:
    body: {string: "{\n  \"all_pages\": 1,\n  \"data\": [\n    {\n      \"audited\"\
        : true,\n      \"contributions\": [],\n      \"contributor\": {\n        \"\
        id\": 41840,\n        \"name\": \"gilraen\",\n        \"type\": \"user\"\n\
        \      },\n      \"created\": \"2013-11-21T06:29:19+00:00\",\n      \"custom_releases\"\
        : [\n        \"Man.Of.Steel.2013.EXTRAS.BONUS.DISC.720p.BluRay.DTS.x264-PublicHD:\"\
        ,\n        \"publichd.EXTRAS.Journey.Of.Discovery.Creating.Man.Of.Steel.720p\"\
        ,\n        \"publichd.EXTRAS.Planet.Krypton.720p\"\n      ],\n      \"download\"\
        : \"/en/subtitles/en-man-of-steel-2013/WMgp/download\",\n      \"flags\":\
        \ [\n        \"hearing_impaired\",\n        \"high_definition\"\n      ],\n\
        \      \"fps\": \"23.976\",\n      \"id\": \"WMgp\",\n      \"language\":\
        \ \"en\",\n      \"movie\": {\n        \"aliases\": [\n          \"\\u010covjek\
        \ od \\u010delika\",\n          \"L'uomo d'acciaio\",\n          \"Jekleni\
        \ mo\\u017e\",\n          \"El hombre de acero\",\n          \"\\u010covek\
        \ od \\u010delika\"\n        ],\n        \"episode_info\": null,\n       \
        \ \"id\": \"WIk\",\n        \"posters\": {\n          \"inline\": \"/thumbnails/moviedb/inline/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\
        ,\n          \"normal\": \"/thumbnails/moviedb/normal/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\
        ,\n          \"small\": \"/thumbnails/moviedb/small/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\
        ,\n          \"title\": \"/thumbnails/moviedb/title/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\
        \n        },\n        \"providers\": [\n          \"imdb:0770828\",\n    \
        \      \"omdb:_ngG\"\n        ],\n        \"slug\": \"man-of-steel-2013\"\
        ,\n        \"title\": \"Man of Steel\",\n        \"type\": \"movie\",\n  \
        \      \"year\": 2013\n      },\n      \"notes\": \"Journey of Discovery Creating\
        \ Man of Steel<br />\\r\\nPlanet Krypton<br />\\r\\n\",\n      \"num_cds\"\
        : 2,\n      \"rejected\": null,\n      \"releases\": [],\n      \"state\"\
        : \"\",\n      \"stats\": {\n        \"characters\": 133030,\n        \"characters_per_line\"\
        : 29.76062639821029,\n        \"downloads\": 18110,\n        \"lines\": 4470,\n\
        \        \"lines_per_unit\": 1.6494464944649447,\n        \"parts\": 2,\n\
        \        \"units\": 2710\n      },\n      \"url\": \"/en/subtitles/en-man-of-steel-2013/WMgp\"\
        \n    },\n    {\n      \"audited\": true,\n      \"contributions\": [],\n\
        \      \"contributor\": {\n        \"id\": 41840,\n        \"name\": \"gilraen\"\
        ,\n        \"type\": \"user\"\n      },\n      \"created\": \"2013-10-22T06:35:44+00:00\"\
        ,\n      \"custom_releases\": [\n        \"publichd.EXTRAS\"\n      ],\n \
        \     \"download\": \"/en/subtitles/en-man-of-steel-2013/MOko/download\",\n\
        \      \"flags\": [\n        \"high_definition\"\n      ],\n      \"fps\"\
        : \"\",\n      \"id\": \"MOko\",\n      \"language\": \"en\",\n      \"movie\"\
        : {\n        \"aliases\": [\n          \"\\u010covjek od \\u010delika\",\n\
        \          \"L'uomo d'acciaio\",\n          \"Jekleni mo\\u017e\",\n     \
        \     \"El hombre de acero\",\n          \"\\u010covek od \\u010delika\"\n\
        \        ],\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?keywords=Man+of+Steel&language=fr&movie_type=movie&year=2013
  response:
    body: {string: "{\n  \"all_pages\": 1,\n  \"data\": [\n    {\n      \"audited\"\
        : false,\n      \"contributions\": [\n        {\n          \"contributor\"\
        : {\n            \"id\": 1,\n            \"name\": \"Anonymous\",\n      \
        \      \"type\": \"user\"\n          },\n          \"role\": \"uploader\"\
        ,\n          \"share\": 0.0\n        }\n      ],\n      \"contributor\": {\n\
        \        \"id\": 1,\n        \"name\": \"Anonymous\",\n        \"type\": \"\
        user\"\n      },\n      \"created\": \"2013-10-17T07:38:07+00:00\",\n    \
        \  \"custom_releases\": [\n        \"Man.Of.Steel.2013.BDRip.x264-Larceny\"\
        \n      ],\n      \"download\": \"/en/subtitles/fr-man-of-steel-2013/GMso/download\"\
        ,\n      \"flags\": [\n        \"high_definition\"\n      ],\n      \"fps\"\
        : \"\",\n      \"id\": \"GMso\",\n      \"language\": \"fr\",\n      \"movie\"\
        : {\n        \"aliases\": [],\n        \"episode_info\": null,\n        \"\
        id\": \"WIk\",\n        \"posters\": {\n          \"inline\": \"/thumbnails/moviedb/inline/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\
        ,\n          \"normal\": \"/thumbnails/moviedb/normal/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\
        ,\n          \"small\": \"/thumbnails/moviedb/small/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\
        ,\n          \"title\": \"/thumbnails/moviedb/title/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\
        \n        },\n        \"providers\": [\n          \"omdb:_ngG\"\n        ],\n\
        \        \"slug\": \"man-of-steel-2013\",\n        \"title\": \"Man of Steel\"\
        ,\n        \"type\": \"movie\",\n        \"year\": 2013\n      },\n      \"\
        notes\": null,\n      \"num_cds\": 1,\n      \"rejected\": null,\n      \"\
        releases\": [],\n      \"state\": \"migration\",\n      \"stats\": {\n   \
        \     \"downloads\": 6932,\n        \"lines\": 978\n      },\n      \"url\"\
        : \"/en/subtitles/fr-man-of-steel-2013/GMso\"\n    },\n    {\n      \"audited\"\
        : false,\n      \"contributions\": [\n        {\n          \"contributor\"\
        : {\n            \"id\": 1,\n            \"name\": \"Anonymous\",\n      \
        \      \"type\": \"user\"\n          },\n          \"role\": \"uploader\"\
        ,\n          \"share\": 0.[...]
