interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?movie_type=tv-series&movie_type=mini-series&language=en&episodes=13&year=2015&keywords=Marvels+Jessica+Jones&seasons=1
  response:
    body:
      string: !!python/unicode "{\n  \"all_pages\": 0, \n  \"data\": [], \n  \"page\"\
        : 1, \n  \"per_page\": 50, \n  \"status\": \"ok\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?movie_type=tv-series&movie_type=mini-series&language=en&episodes=13&year=2015&keywords=Jessica+Jones&seasons=1
  response:
    body:
      string: !!python/unicode "{\n  \"all_pages\": 1, \n  \"data\": [\n    {\n  \
        \    \"audited\": false, \n      \"contributions\": [], \n      \"contributor\"\
        : null, \n      \"created\": \"2016-12-06T14:53:11.034000+00:00\", \n    \
        \  \"custom_releases\": [\n        \"marvels.jessica.jones.s01e13.dvdrip.x264-bravery\"\
        , \n        \"Marvels.Jessica.Jones.S01.DVDRip.x264-BRAVERY\"\n      ], \n\
        \      \"download\": \"/en/subtitles/en-jessica-jones-2015-S01E13-O/s1FC/download\"\
        , \n      \"flags\": [\n        \"hearing_impaired\"\n      ], \n      \"\
        fps\": \"\", \n      \"id\": \"s1FC\", \n      \"language\": \"en\", \n  \
        \    \"movie\": {\n        \"aliases\": [], \n        \"episode_info\": {\n\
        \          \"episode\": 13, \n          \"id\": null, \n          \"season\"\
        : 1, \n          \"slug\": \"S01E13-O\", \n          \"title\": null, \n \
        \         \"type\": \"ordinary\", \n          \"year\": null\n        }, \n\
        \        \"id\": \"HOY\", \n        \"posters\": {\n          \"inline\":\
        \ \"/thumbnails/moviedb/inline/47/4b/ef/23/5f/46/a8bfc0ced3e9bfcfa929/HOY.jpg\"\
        , \n          \"normal\": \"/thumbnails/moviedb/normal/47/4b/ef/23/5f/46/a8bfc0ced3e9bfcfa929/HOY.jpg\"\
        , \n          \"small\": \"/thumbnails/moviedb/small/47/4b/ef/23/5f/46/a8bfc0ced3e9bfcfa929/HOY.jpg\"\
        , \n          \"title\": \"/thumbnails/moviedb/title/47/4b/ef/23/5f/46/a8bfc0ced3e9bfcfa929/HOY.jpg\"\
        \n        }, \n        \"providers\": [\n          \"omdb:AvQG\", \n     \
        \     \"imdb:2357547\"\n        ], \n        \"slug\": \"jessica-jones-2015-S01E13-O\"\
        , \n        \"title\": \"Jessica Jones\", \n        \"type\": \"tv-series\"\
        , \n        \"year\": 2015\n      }, \n      \"notes\": null, \n      \"num_cds\"\
        : 1, \n      \"rejected\": null, \n      \"releases\": [], \n      \"state\"\
        : \"\", \n      \"stats\": {\n        \"characters\": 19925, \n        \"\
        characters_per_line\": 22.3625140292, \n        \"downloads\": 159, \n   \
        \     \"lines\": 891, \n        \"lines_per_unit\": 1.323922734, \n      \
        \  \"parts\": 1, \n        \"units\": 673\n      }, \n      \"url\": \"/en/subtitles/en-jessica-jones-2015-S01E13-O/s1FC\"\
        \n    }, \n    {\n      \"audited\": false, \n      \"contributions\": [],\
        \ \n      \"contributor\": null, \n      \"created\": \"2016-12-06T14:49:00.457000+00:00\"\
        , \n      \"custom_releases\": [\n        \"marvels.jessica.jones.s01e13.dvdrip.x264-bravery\"\
        , \n        \"Marvels.Jessica.Jones.S01.DVDRip.x264-BRAVERY\"\n      ], \n\
        \      \"download\": \"/en/subtitles/en-jessica-jones-2015-S01E13-O/tVFC/download\"\
        , \n      \"flags\": [], \n      \"fps\": \"\", \n      \"id\": \"tVFC\",\
        \ \n      \"language\": \"en\", \n      \"movie\": {\n        \"aliases\"\
        : [], \n        \"episode_info\": {\n          \"episode\": 13, \n       \
        \   \"id\": null, \n          \"season\": 1, \n          \"slug\": \"S01E13-O\"\
        , \n          \"title\": null, \n          \"type\": \"ordinary\", \n    \
        \      \"year\": null\n        }, \n        \"id\": \"HOY\", \n        \"\
        posters\": {\n          \"inline\": \"/thumbnails/moviedb/inline/47/4b/ef/23/5f/46/a8bfc0ced3e9bfcfa929/HOY.jpg\"\
        , \n          \"normal\": \"/thumbnails/moviedb/normal/47/4b/ef/23/5f/46/a8bfc0ced3e9bfcfa929/HOY.jpg\"\
        , \n          \"small\": \"/thumbnails/moviedb/sma[...]
