interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?keywords=The+Big+Bang+Theory&language=en&seasons=7&episodes=5&movie_type=tv-series&movie_type=mini-series&year=2007
  response:
    body:
      string: "{\n  \"all_pages\": 1, \n  \"data\": [\n    {\n      \"audited\": true,
        \n      \"contributions\": [\n        {\n          \"contributor\": {\n            \"id\":
        23329, \n            \"name\": \"jane\", \n            \"type\": \"user\"\n
        \         }, \n          \"role\": \"uploader\", \n          \"share\": 0.0\n
        \       }\n      ], \n      \"contributor\": {\n        \"id\": 23329, \n
        \       \"name\": \"jane\", \n        \"type\": \"user\"\n      }, \n      \"created\":
        \"2014-09-07T07:06:05+00:00\", \n      \"custom_releases\": [\n        \"the.big.bang.theory.s07e05.1080p.bluray.x264-rovers\"\n
        \     ], \n      \"download\": \"/en/subtitles/en-the-big-bang-theory-2007-S07E05-O/2581/download\",
        \n      \"flags\": [\n        \"hearing_impaired\", \n        \"high_definition\"\n
        \     ], \n      \"fps\": \"\", \n      \"id\": \"2581\", \n      \"language\":
        \"en\", \n      \"movie\": {\n        \"aliases\": [\n          \"Veliki pokovci\"\n
        \       ], \n        \"episode_info\": {\n          \"episode\": 5, \n          \"id\":
        null, \n          \"season\": 7, \n          \"slug\": \"S07E05-O\", \n          \"title\":
        \"\", \n          \"type\": \"ordinary\", \n          \"year\": null\n        },
        \n        \"id\": \"uJE\", \n        \"posters\": {\n          \"inline\":
        \"/thumbnails/moviedb/inline/2c/9c/f5/c9/ae/30/0df660438f29fcf6bef8/uJE.jpg\",
        \n          \"normal\": \"/thumbnails/moviedb/normal/2c/9c/f5/c9/ae/30/0df660438f29fcf6bef8/uJE.jpg\",
        \n          \"small\": \"/thumbnails/moviedb/small/2c/9c/f5/c9/ae/30/0df660438f29fcf6bef8/uJE.jpg\",
        \n          \"title\": \"/thumbnails/moviedb/title/2c/9c/f5/c9/ae/30/0df660438f29fcf6bef8/uJE.jpg\"\n
        \       }, \n        \"providers\": [\n          \"omdb:sY0G\"\n        ],
        \n        \"slug\": \"the-big-bang-theory-2007-S07E05-O\", \n        \"title\":
        \"The Big Bang Theory\", \n        \"type\": \"tv-series\", \n        \"year\":
        2007\n      }, \n      \"notes\": \"\", \n      \"num_cds\": 1, \n      \"rejected\":
        null, \n      \"releases\": [], \n      \"state\": \"migration\", \n      \"stats\":
        {\n        \"downloads\": 33406, \n        \"lines\": 348\n      }, \n      \"url\":
        \"/en/subtitles/en-the-big-bang-theory-2007-S07E05-O/2581\"\n    }, \n    {\n
        \     \"audited\": true, \n      \"contributions\": [\n        {\n          \"contributor\":
        {\n            \"id\": 23329, \n            \"name\": \"jane\", \n            \"type\":
        \"user\"\n          }, \n          \"role\": \"uploader\", \n          \"share\":
        0.0\n        }\n      ], \n      \"contributor\": {\n        \"id\": 23329,
        \n        \"name\": \"jane\", \n  [...]
