interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?keywords=Game+of+Thrones&language=fr&seasons=3&episodes=10&movie_type=tv-series&movie_type=mini-series
  response:
    body:
      string: "{\n  \"all_pages\": 1, \n  \"data\": [\n    {\n      \"audited\": false,
        \n      \"contributions\": [\n        {\n          \"contributor\": {\n            \"id\":
        1, \n            \"name\": \"Anonymous\", \n            \"type\": \"user\"\n
        \         }, \n          \"role\": \"uploader\", \n          \"share\": 0.0\n
        \       }\n      ], \n      \"contributor\": {\n        \"id\": 1, \n        \"name\":
        \"Anonymous\", \n        \"type\": \"user\"\n      }, \n      \"created\":
        \"2013-06-11T22:22:55+00:00\", \n      \"custom_releases\": [\n        \"Game.of.Thrones.S03E10.720p.WEB-DL.DD5.1.H.264-NTb\",
        \n        \"Game.of.Thrones.S03E10.1080p.WEB-DL.DD5.1.H.264-NTb\", \n        \"Game.of.Thrones.S03E10.720p.WEB-DL.DD5.1.AAC2.0.H.264-YFN\",
        \n        \"Game.of.Thrones.S03E10.1080p.WEB-DL.DD5.1.AAC2.0.H.264-YFN\"\n
        \     ], \n      \"download\": \"/en/subtitles/fr-game-of-thrones-2011-S03E10-O-mhysa/k8Yl/download\",
        \n      \"flags\": [], \n      \"fps\": \"\", \n      \"id\": \"k8Yl\", \n
        \     \"language\": \"fr\", \n      \"movie\": {\n        \"aliases\": [],
        \n        \"episode_info\": {\n          \"episode\": 10, \n          \"id\":
        null, \n          \"season\": 3, \n          \"slug\": \"S03E10-O-mhysa\",
        \n          \"title\": \"Mhysa\", \n          \"type\": \"ordinary\", \n          \"year\":
        null\n        }, \n        \"id\": \"rLI\", \n        \"posters\": {\n          \"inline\":
        \"/thumbnails/moviedb/inline/b6/c7/4f/17/db/65/8368be2232bb0bdcc53e/rLI.jpg\",
        \n          \"normal\": \"/thumbnails/moviedb/normal/b6/c7/4f/17/db/65/8368be2232bb0bdcc53e/rLI.jpg\",
        \n          \"small\": \"/thumbnails/moviedb/small/b6/c7/4f/17/db/65/8368be2232bb0bdcc53e/rLI.jpg\",
        \n          \"title\": \"/thumbnails/moviedb/title/b6/c7/4f/17/db/65/8368be2232bb0bdcc53e/rLI.jpg\"\n
        \       }, \n        \"providers\": [\n          \"omdb:mLUG\"\n        ],
        \n        \"slug\": \"game-of-thrones-2011-S03E10-O-mhysa\", \n        \"title\":
        \"Game of Thrones\", \n        \"type\": \"tv-series\", \n        \"year\":
        2011\n      }, \n      \"notes\": null, \n      \"num_cds\": 1, \n      \"rejected\":
        null, \n      \"releases\": [], \n      \"state\": \"migration\", \n      \"stats\":
        {\n        \"downloads\": 9718, \n        \"lines\": 758\n      }, \n      \"url\":
        \"/en/subtitles/fr-game-of-thrones-2011-S03E10-O-mhysa/k8Yl\"\n    }, \n    {\n
        \     \"audited\": false, \n      \"contributions\": [\n        {\n          \"contributor\":
        {\n            \"id\": 1, \n            \"name\": \"Anonymous\", \n            \"type\":
        \"user\"\n          }, \n          \"role\": \"uploader\", \n          \"share\":
        0.0\n        }\n      ], \n      \"contributor\": {\n        \"id\": 1, \n
        \       \"name\": \"Anonymous\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?keywords=Game+of+Thrones&language=en&seasons=3&episodes=10&movie_type=tv-series&movie_type=mini-series
  response:
    body:
      string: "{\n  \"all_pages\": 1, \n  \"data\": [\n    {\n      \"audited\": false,
        \n      \"contributions\": [], \n      \"contributor\": null, \n      \"created\":
        \"2015-07-06T18:26:18.279000+00:00\", \n      \"custom_releases\": [\n  [...]
