interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?keywords=Man+of+Steel&language=fr&movie_type=movie&year=2013
  response:
    body:
      string: "{\n  \"all_pages\": 1, \n  \"data\": [\n    {\n      \"audited\": false,
        \n      \"contributions\": [], \n      \"contributor\": {\n        \"id\":
        1, \n        \"name\": \"Anonymous\", \n        \"type\": \"user\"\n      },
        \n      \"created\": \"2013-10-17T07:38:07+00:00\", \n      \"custom_releases\":
        [\n        \"Man.Of.Steel.2013.BDRip.x264-Larceny\"\n      ], \n      \"download\":
        \"/en/subtitles/fr-man-of-steel-2013/GMso/download\", \n      \"flags\": [\n
        \       \"high_definition\"\n      ], \n      \"fps\": \"\", \n      \"id\":
        \"GMso\", \n      \"language\": \"fr\", \n      \"movie\": {\n        \"aliases\":
        [\n          \"\\u010covjek od \\u010delika\", \n          \"L'uomo d'acciaio\",
        \n          \"Jekleni mo\\u017e\", \n          \"El hombre de acero\", \n
        \         \"\\u010covek od \\u010delika\"\n        ], \n        \"episode_info\":
        null, \n        \"id\": \"WIk\", \n        \"posters\": {\n          \"inline\":
        \"/thumbnails/moviedb/inline/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\",
        \n          \"normal\": \"/thumbnails/moviedb/normal/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\",
        \n          \"small\": \"/thumbnails/moviedb/small/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\",
        \n          \"title\": \"/thumbnails/moviedb/title/0e/30/30/30/da/f3/1a01e5cf452882d958f9/WIk.jpg\"\n
        \       }, \n        \"providers\": [\n          \"imdb:0770828\", \n          \"omdb:_ngG\"\n
        \       ], \n        \"slug\": \"man-of-steel-2013\", \n        \"title\":
        \"Man of Steel\", \n        \"type\": \"movie\", \n        \"year\": 2013\n
        \     }, \n      \"notes\": null, \n      \"num_cds\": 1, \n      \"rejected\":
        null, \n      \"releases\": [], \n      \"state\": \"\", \n      \"stats\":
        {\n        \"characters\": 40130, \n        \"characters_per_line\": 27.561813186813186,
        \n        \"downloads\": 9138, \n        \"lines\": 1456, \n        \"lines_per_unit\":
        1.4887525562372188, \n        \"parts\": 1, \n        \"units\": 978\n      },
        \n      \"url\": \"/en/subtitles/fr-man-of-steel-2013/GMso\"\n    }, \n    {\n
        \     \"audited\": false, \n      \"contributions\": [], \n      \"contributor\":
        {\n        \"id\": 1, \n        \"name\": \"Anonymous\", \n        \"type\":
        \"user\"\n      }, \n      \"created\": \"2013-07-26T07:10:34+00:00\", \n
        \     \"custom_releases\": [\n        \"Man.Of.Steel.2013.TS.XviD-JUSTiCE\",
        \n        \"Man.of.Steel.2013.720p.R6.LiNE.x264.AAC-DiGiTAL\"\n      ], \n
        \   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.podnapisi.net/subtitles/search/advanced?keywords=Man+of+Steel&language=en&movie_type=movie&year=2013
  response:
    body:
      string: "{\n  \"all_pages\": 1, \n  \"data\": [\n    {\n      \"audited\": true,
        \n      \"contributions\": [], \n      \"contributor\": {\n        \"id\":
        41840, \n        \"name\": \"gilraen\", \n        \"type\": \"user\"\n      },
        \n      \"created\": \"2013-11-21T06[...]
