interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?r=json&v=1&apikey=7a541ee4&s=house+of+cards&page=1&type=series
  response:
    body:
      string: "{\"Search\":[{\"Title\":\"House of Cards\",\"Year\":\"2013\u20132018\",\"imdbID\":\"tt1856010\",\"Type\":\"series\",\"Poster\":\"https://m.media-amazon.com/images/M/MV5BMTQ4MDczNDYwNV5BMl5BanBnXkFtZTcwNjMwMDk5OA@@._V1_SX300.jpg\"},{\"Title\":\"House
        of Cards\",\"Year\":\"1990\",\"imdbID\":\"tt0098825\",\"Type\":\"series\",\"Poster\":\"https://m.media-amazon.com/images/M/MV5BOWE1OTQ1NTQtNzBjOC00NDY3LWJlNjUtMWM0Y2YzZTUxYjZlXkEyXkFqcGc@._V1_SX300.jpg\"},{\"Title\":\"DateSmash:
        Bernie Sanders & House of Cards' Frank Underwood\",\"Year\":\"2016\",\"imdbID\":\"tt14397660\",\"Type\":\"series\",\"Poster\":\"N/A\"}],\"totalResults\":\"3\",\"Response\":\"True\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 13 Feb 2026 00:29:38 GMT
    status:
      code: 200
      message: OK
version: 1
