interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?r=json&v=1&apikey=7a541ee4&i=tt0770828&plot=short
  response:
    body:
      string: '{"Title":"Man of Steel","Year":"2013","Rated":"PG-13","Released":"14
        Jun 2013","Runtime":"143 min","Genre":"Action, Adventure, Sci-Fi","Director":"Zack
        Snyder","Writer":"David S. Goyer, Christopher Nolan, Jerry Siegel","Actors":"Henry
        Cavill, Amy Adams, Michael Shannon","Plot":"An alien child is evacuated from
        his dying world and sent to Earth to live among humans. His peace is threatened
        when other survivors of his home planet invade Earth.","Language":"English","Country":"United
        States, United Kingdom, Canada","Awards":"Nominated for 1 BAFTA Award7 wins
        & 46 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMTk5ODk1NDkxMF5BMl5BanBnXkFtZTcwNTA5OTY0OQ@@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.1/10"},{"Source":"Rotten Tomatoes","Value":"57%"},{"Source":"Metacritic","Value":"55/100"}],"Metascore":"55","imdbRating":"7.1","imdbVotes":"858,780","imdbID":"tt0770828","Type":"movie","DVD":"N/A","BoxOffice":"$291,045,518","Production":"N/A","Website":"N/A","Response":"True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 13 Feb 2026 00:29:32 GMT
    status:
      code: 200
      message: OK
version: 1
