interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?r=json&v=1&apikey=44d5b275&s=Man+of+Steel&page=3
  response:
    body:
      string: '{"Search":[{"Title":"Man of Steel ''Soldier of Steel''","Year":"2013","imdbID":"tt2911220","Type":"game","Poster":"N/A"},{"Title":"Man
        of Steel","Year":"2010","imdbID":"tt2215295","Type":"movie","Poster":"N/A"},{"Title":"Kurt
        Morrow: Man of Steel","Year":"2015","imdbID":"tt2378339","Type":"movie","Poster":"N/A"},{"Title":"Man
        of Steel: Title Sequence","Year":"2013","imdbID":"tt3748934","Type":"movie","Poster":"N/A"},{"Title":"Tales
        from Development Hell: Waiting for Man of Steel","Year":"2014","imdbID":"tt3799858","Type":"movie","Poster":"N/A"},{"Title":"The
        Heroes Behind Man of Steel: Heroic Storytelling","Year":"2013","imdbID":"tt4158100","Type":"movie","Poster":"N/A"},{"Title":"The
        Military Might of Man of Steel","Year":"2013","imdbID":"tt4158128","Type":"movie","Poster":"N/A"},{"Title":"The
        Heroes Behind Man of Steel: Composing a Heroic Score","Year":"2013","imdbID":"tt4160502","Type":"movie","Poster":"N/A"},{"Title":"Journey
        of Discovery: Creating Man of Steel","Year":"2013","imdbID":"tt4160544","Type":"movie","Poster":"N/A"},{"Title":"The
        Sonic Landscape of ''Man of Steel''","Year":"2013","imdbID":"tt5312384","Type":"movie","Poster":"N/A"}],"totalResults":"32","Response":"True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 13 Feb 2025 23:30:05 GMT
    status:
      code: 200
      message: OK
version: 1
