interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?r=json&v=1&apikey=44d5b275&s=Jack+Reacher&page=1&type=movie&y=2016
  response:
    body:
      string: '{"Search":[{"Title":"Jack Reacher: Never Go Back","Year":"2016","imdbID":"tt3393786","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BMTA2MDIwNzAyNzReQTJeQWpwZ15BbWU4MDAxNjI5Njkx._V1_SX300.jpg"}],"totalResults":"1","Response":"True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Wed, 22 May 2024 14:45:15 GMT
    status:
      code: 200
      message: OK
version: 1
