interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://legendas.tv/legenda/sugestao/The%20Big%20Bang%20Theory
  response:
    body: {string: !!python/unicode '[{"_index":"filmes","_type":"filme","_id":"38908","_score":null,"_source":{"id_filme":"38908","id_imdb":"898266","tipo":"S","int_genero":"0","dsc_imagen":"legendas_tv_20150912223410.jpg","dsc_nome":"The
        Big Bang Theory","dsc_sinopse":"Quando todo o esquadr\u00e3o de nerds est\u00e1
        reunido, tudo vira bagun\u00e7a.\r\nOs f\u00edsicos Leonard e Sheldon compreendem
        tudo no universo, desde a tremenda for\u00e7a gravitacional que emana de um
        buraco negro at\u00e9 a intrincada estrutura de um \u00e1tomo. Mas pegue v\u00e1rios
        \u00e1tomos e os re\u00fana sob a forma de uma mulher e toda a compreens\u00e3o
        vai por \u00e1gua abaixo. E quando Penny, uma bela mulher com todos os \u00e1tomos
        distribu\u00eddos nos lugares certos, se muda para o apartamento vizinho,
        o universo de Leonard e Sheldon come\u00e7a a se expandir de um modo nunca
        visto antes. Pelo menos, visto por eles!","dsc_data_lancamento":"2015","dsc_url_imdb":"http:\/\/www.imdb.com\/title\/tt0898266\/","dsc_nome_br":"The
        Big Bang Theory - 9\u00aa Temporada","soundex":null,"temporada":"9","id_usuario":"2934513","flg_liberado":"0","dsc_data_liberacao":null,"dsc_data":"2015-09-12T22:35:19","dsc_metaphone_us":null,"dsc_metaphone_br":null,"episodios":null,"flg_seriado":null,"last_used":"0","deleted":false},"sort":["9"]},{"_index":"filmes","_type":"filme","_id":"34546","_score":null,"_source":{"id_filme":"34546","id_imdb":"898266","tipo":"S","int_genero":"0","dsc_imagen":"legendas_tv_20140923015545.jpg","dsc_nome":"The
        Big Bang Theory","dsc_sinopse":"Quando todo o esquadr\u00e3o de nerds est\u00e1
        reunido, tudo vira bagun\u00e7a.\r\nOs f\u00edsicos Leonard e Sheldon compreendem
        tudo no universo, desde a tremenda for\u00e7a gravitacional que emana de um
        buraco negro at\u00e9[...]
