interactions:
- request:
    body: data%5BUser%5D%5Bpassword%5D=wrong&data%5BUser%5D%5Busername%5D=subliminal&_method=POST
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: http://legendas.tv/login
  response:
    body: {string: "<!doctype html>\n<html lang=\"en\">\n<head>\n\t<meta charset=\"\
        utf-8\">\n\n    <title>Login - Legendas TV</title>\n\n    <meta name=\"description\"\
        \ content=\"you description\" />\n\t<meta name=\"keywords\" content=\"your\
        \ keywords\" />\n\n\t<link href=\"/favicon.ico\" type=\"image/x-icon\" rel=\"\
        icon\" /><link href=\"/favicon.ico\" type=\"image/x-icon\" rel=\"shortcut\
        \ icon\" /><link href=\"http://legendas.tv/rss/destaques.rss\" type=\"application/rss+xml\"\
        \ rel=\"alternate\" title=\"Destaques - Todos\" /><link href=\"http://legendas.tv/rss/destaques_series.rss\"\
        \ type=\"application/rss+xml\" rel=\"alternate\" title=\"Destaques - S\xE9\
        ries\" /><link href=\"http://legendas.tv/rss/destaques_filmes.rss\" type=\"\
        application/rss+xml\" rel=\"alternate\" title=\"Destaques - Filmes\" /><link\
        \ href=\"http://legendas.tv/rss/destaques_cartoons.rss\" type=\"application/rss+xml\"\
        \ rel=\"alternate\" title=\"Destaques - Cartoons\" /><link href=\"http://legendas.tv/rss/ultimas_legendas.rss\"\
        \ type=\"application/rss+xml\" rel=\"alternate\" title=\"\xDAltimas legendas\
        \ enviadas\" />\n <!--   TO BE FILLED with the proper paths\n    <link rel=\"\
        shortcut icon\" href=\"fav icon\"/>\n\t<link rel=\"canonical\" href=\"canonical\
        \ adress\" />\n    <link rel='index' title='Nettuts+' href='http://net.tutsplus.com/'\
        \ />\n end of TO BE FILLED -->\n\n    <!--[if lt IE 9]> <script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"\
        ></script><![endif]-->\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"\
        /cache_css/css-combined.css\" />    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed'\
        \ rel='stylesheet' type='text/css'>\n\n\t<script type=\"text/javascript\"\
        \ src=\"/js/jquery-1.7.1.min.js\"></script>\n</head>\n<body id=\"\">\n\n<script\
        \ type=\"text/javascript\">\n\n  var _gaq = _gaq || [];\n  _gaq.push(['_setAccount',\
        \ 'UA-880954-1']);\n  _gaq.push(['_trackPageview']);\n\n  (function() {\n\
        \    var ga = document.createElement('script'); ga.type = 'text/javascript';\
        \ ga.async = true;\n    ga.src = ('https:' == document.location.protocol ?\
        \ 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';\n    var\
        \ s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga,\
        \ s);\n  })();\n\n</script>\n\n    <div class=\"container\">\n\n\n    \t<header>\n\
        \            <div class=\"upper\"></div>\n\n\t\t\t\n\t    \t\t    \t\n\n\n\
        \            <section class=\"clearfix\">\n                <div class=\"login\"\
        >\n                \t\n                \t<a href=\"/login\" class=\"js_entrar\"\
        >ENTRAR</a><span>|</span><a href=\"/register\" title=\"Legendas.tv - \">REGISTRAR</a><form\
        \ action=\"/login\" class=\"login_box\" novalidate=\"novalidate\" id=\"UserLoginForm\"\
        \ method=\"post\" accept-charset=\"utf-8\"><div style=\"display:none;\"><input\
        \ type=\"hidden\" name=\"_method\" value=\"POST\"/></div><a class=\"js_close\"\
        ></a><input name=\"data[User][username]\" maxlength=\"255\" type=\"text\"\
        \ value=\"subliminal\" required=\"required\"/><input name=\"data[User][password]\"\
        \ type=\"password\" value=\"wrong\" required=\"required\"/><div class=\"clearfix\"\
        ><input type=\"submit\" value=\"Entrar\" style=\"float: left;\" /><label style=\"\
        float: left;margin:11px;\"><input type=\"checkbox\" name=\"data[lembrar]\"\
        > Lembrar</label></div><a href=\"/problemasdelogin\">&gt; Estou com problemas\
        \ para <b>logar</b></a></form>                \t\n                </div> <!--\
        \ END OF LOGIN -->\n\n                <a href=\"/\" class=\"logo\"><img src=\"\
        http://i.legendas.tv/logo.png\" alt=\"Legendas.tv\" width=\"301\" height=\"\
        71\" /></a>\n                <div class=\"menu\">\n                    <button>MENU</button>\n\
        \                \t\n                    <div class=\"dropdown hidden\">\n\
        \                        <a href=\"/meuperfil\" title=\"Legendas.tv - Meu\
        \ perfil\">Meu perfil</a><a href=\"/enviar_legenda\" title=\"Legendas.tv -\
        \ Enviar Legenda\">Enviar Legenda</a><a href=\"/meuperfil/legendas\" title=\"\
        Legendas.tv - Legendas enviadas\">Legendas enviadas</a><a href=\"/meuperfil/legendas/baixadas\"\
        \ title=\"Legendas.tv - Legendas baixadas\">Legendas baixadas</a><a href=\"\
        /meuperfil/sugestoes\" title=\"Legendas.tv - Sugest\xF5es\">Sugest\xF5es</a>\
        \                    </div>\n                    \n                </div>\n\
        \n\t\t\n            \t<form action=\"/busca\" novalidate=\"novalidate\" class=\"\
        searchbar\" data-url=\"/busca\" data-autocomplete=\"/autocomplete\" id=\"\
        BuscaLoginForm\" method=\"post\" accept-charset=\"utf-8\"><div style=\"display:none;\"\
        ><input type=\"hidden\" name=\"_method\" value=\"POST\"/></div><input type=\"\
        text\" value=\"\" placeholder=\"Procurar\" id=\"search-box\"/><input type=\"\
        submit\" class=\"icon_zoom\" value=\"\" />\n\t\t\t\t<div id=\"sugestao-legenda-box\"\
        >\n\t\t\t\t    <ul id=\"sugestao-legenda\">\n\t\t\t\t    </ul>\n\t\t\t\t</div>\n\
        \t\t\t\t</form>\t\t\n\t\t<!-- header .searchbar div -->\n\t\t<script>\n\t\t\
        \    $(document).ready(function () {\n\t\t\t$(\"#search-box\").bind(\"keyup\"\
        , function(){\n\t\t\t    remove_caracter();\n\t\t\t    sugestao();\n\t\t\t\
        });\n\t\t\t    \n\t\t\t$(\"#search-box\").bind(\"change\", function(){\n\t\
        \t\t    remove_caracter();\n\t\t\t    sugestao();\n\t\t\t});    \n\t\t   \
        \ });\[...]
