interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://legendas.tv/legenda/sugestao/The%20Big%20Bang%20Theory
  response:
    body: {string: !!python/unicode '[{"_index":"filmes","_type":"filme","_id":"38908","_score":null,"_source":{"id_filme":"38908","id_imdb":"898266","tipo":"S","int_genero":"0","dsc_imagen":"legendas_tv_20150912223410.jpg","dsc_nome":"The
        Big Bang Theory","dsc_sinopse":"Quando todo o esquadr\u00e3o de nerds est\u00e1
        reunido, tudo vira bagun\u00e7a.\r\nOs f\u00edsicos Leonard e Sheldon compreendem
        tudo no universo, desde a tremenda for\u00e7a gravitacional que emana de um
        buraco negro at\u00e9 a intrincada estrutura de um \u00e1tomo. Mas pegue v\u00e1rios
        \u00e1tomos e os re\u00fana sob a forma de uma mulher e toda a compreens\u00e3o
        vai por \u00e1gua abaixo. E quando Penny, uma bela mulher com todos os \u00e1tomos
        distribu\u00eddos nos lugares certos, se muda para o apartamento vizinho,
        o universo de Leonard e Sheldon come\u00e7a a se expandir de um modo nunca
        visto antes. Pelo menos, visto por eles!","dsc_data_lancamento":"2015","dsc_url_imdb":"http:\/\/www.imdb.com\/title\/tt0898266\/","dsc_nome_br":"The
        Big Bang Theory - 9\u00aa Temporada","soundex":null,"temporada":"9","id_usuario":"2934513","flg_liberado":"0","dsc_data_liberacao":null,"dsc_data":"2015-09-12T22:35:19","dsc_metaphone_us":null,"dsc_metaphone_br":null,"episodios":null,"flg_seriado":null,"last_used":"0","deleted":false},"sort":["9"]},{"_index":"filmes","_type":"filme","_id":"34546","_score":null,"_source":{"id_filme":"34546","id_imdb":"898266","tipo":"S","int_genero":"0","dsc_imagen":"legendas_tv_20140923015545.jpg","dsc_nome":"The
        Big Bang Theory","dsc_sinopse":"Quando todo o esquadr\u00e3o de nerds est\u00e1
        reunido, tudo vira bagun\u00e7a.\r\nOs f\u00edsicos Leonard e Sheldon compreendem
        tudo no universo, desde a tremenda for\u00e7a gravitacional que emana de um
        buraco negro at\u00e9[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://legendas.tv/util/carrega_legendas_busca_filme/30730/1
  response:
    body: {string: "<!doctype html>\n<html lang=\"en\">\n<head>\n\t<meta charset=\"\
        utf-8\">\n\n    <title>Util - Legendas TV</title>\n\n    <meta name=\"description\"\
        \ content=\"you description\" />\n\t<meta name=\"keywords\" content=\"your\
        \ keywords\" />\n\n\t<link href=\"/favicon.ico\" type=\"image/x-icon\" rel=\"\
        icon\" /><link href=\"/favicon.ico\" type=\"image/x-icon\" rel=\"shortcut\
        \ icon\" /><link href=\"http://legendas.tv/rss/destaques.rss\" type=\"application/rss+xml\"\
        \ rel=\"alternate\" title=\"Destaques - Todos\" /><link href=\"http://legendas.tv/rss/destaques_series.rss\"\
        \ type=\"application/rss+xml\" rel=\"alternate\" title=\"Destaques - S\xE9\
        ries\" /><link href=\"http://legendas.tv/rss/destaques_filmes.rss\" type=\"\
        application/rss+xml\" rel=\"alternate\" title=\"Destaques - Filmes\" /><link\
        \ href=\"http://legendas.tv/rss/destaques_cartoons.rss\" type=\"application/rss+xml\"\
        \ rel=\"alternate\" title=\"Destaques - Cartoons\" /><link href=\"http://legendas.tv/rss/ultimas_legendas.rss\"\
        \ type=\"application/rss+xml\" rel=\"alternate\" title=\"\xDAltimas legendas\
        \ enviadas\" />\n <!--   TO BE FILLED with the proper paths\n    <link rel=\"\
        shortcut icon\" href=\"fav icon\"/>\n\t<link rel=\"canonical\" href=\"canonical\
        \ adress\" />\n    <link rel='index' title='Nettuts+' href='http://net.tutsplus.com/'\
        \ />\n end of TO BE FILLED -->\n\n    <!--[if lt IE 9]> <script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"\
        ></script><![endif]-->\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"\
        /cache_css/css-combined.css\" />    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed'\
        \ rel='stylesheet' type='text/css'>\n\n\t<script type=\"text/javascript\"\
        \ src=\"/js/jquery-1.7.1.min.js\"></script>\n</head>\n<body id=\"\">\n\n<script\
        \ type=\"text/javascript\">\n\n  var _gaq = _gaq || [];\n  _gaq.push(['_setAccount',\
        \ 'UA-880954-1']);\n  _gaq.push(['_trackPageview']);\n\n  (function() {\n\
        \    var ga = document.createElement('script'); ga.type = 'text/javascript';\
        \ ga.async = true;\n    ga.src = ('https:' == document.location.protocol ?\
        \ 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';\n    var\
        \ s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga,\
        \ s);\n  })();\n\n</script>\n\n    <div class=\"container\">\n\n\n    \t<header>\n\
        \            <div class=\"upper\"></div>\n\n\t\t\t<!--nocache:002-->\n\t \
        \   \t\t    \t\n\n\n            <section class=\"clearfix\">\n           \
        \     <div class=\"login\">\n                \t<!--nocache:003-->\n      \
        \          \t<a href=\"/login\" class=\"js_entrar\">ENTRAR</a><span>|</span><a\
        \ href=\"/register\" title=\"Legendas.tv - \">REGISTRAR</a><form action=\"\
        /login\" class=\"login_box\" novalidate=\"novalidate\" id=\"UserCarregaLegendasBuscaFilmeForm\"\
        \ method=\"post\" accept-charset=\"utf-8\"><div style=\"display:none;\"><input\
        \ type=\"hidden\" name=\"_method\" value=\"POST\"/></div><a class=\"js_close\"\
        ></a><input name=\"data[User][username]\" maxlength=\"255\" type=\"text\"\
        \ required=\"required\"/><input name=\"data[User][password]\" type=\"password\"\
        \ required=\"required\"/><div class=\"clearfix\"><input type=\"submit\" value=\"\
        Entrar\" style=\"float: left;\" /><label style=\"float: left;margin:11px;\"\
        ><input type=\"checkbox\" name=\"data[lembrar]\"> Lembrar</label></div><a\
        \ href=\"/problemasdelogin\">&gt; Estou com problemas para <b>logar</b></a></form>\
        \                \t\n                </div> <!-- END OF LOGIN -->\n\n    \
        \            <a href=\"/\" class=\"logo\"><img src=\"http://i.legendas.tv/logo.png\"\
        \ alt=\"Legendas.tv\" width=\"301\" height=\"71\" /></a>\n               \
        \ <div class=\"menu\">\n                    <button>MENU</button>\n      \
        \          \t<!--nocache:004-->\n                    <div class=\"dropdown\
        \ hidden\">\n                        <a href=\"/meuperfil\" title=\"Legendas.tv\
        \ - Meu perfil\">Meu perfil</a><a href=\"/enviar_legenda\" title=\"Legendas.tv\
        \ - Enviar Legenda\">Enviar Legenda</a><a href=\"/meuperfil/legendas\" title=\"\
        Legendas.tv - Legendas enviadas\">Legendas enviadas</a><a href=\"/meuperfil/legendas/baixadas\"\
        \ title=\"Legendas.tv - Legendas baixadas\">Legendas baixadas</a><a href=\"\
        /meuperfil/sugestoes\" title=\"Legendas.tv - Sugest\xF5es\">Sugest\xF5es</a>\
        \                    </div>\n                    \n                </div>\n\
        \n\t\t\n            \t<form action=\"/busca\" novalidate=\"novalidate\" class=\"\
        searchbar\" data-url=\"/busca\" data-autocomplete=\"/autocomplete\" id=\"\
        BuscaCarregaLegendasBuscaFilmeForm\" method=\"post\" accept-charset=\"utf-8\"\
        ><div style=\"display:none;\"><input type=\"hidden\" name=\"_method\" value=\"\
        POST\"/></div><input type=\"text\" value=\"\" placeholder=\"Procurar\" id=\"\
        search-box\"/><input type=\"submit\" class=\"icon_zoom\" value=\"\" />\n\t\
        \t\t\t<div id=\"sugestao-legenda-box\">\n\t\t\t\t    <ul id=\"sugestao-legenda\"\
        >\n\t\t\t\t    </ul>\n\t\t\t\t</div>\n\t\t\t\t</form>\t\t\n\t\t<!-- header\
        \ .searchbar div -->\n\t\t<script>\n\t\t    $(document).ready(function ()\
        \ {\n\t\t\t$(\"#search-box\").bind(\"keyup\", function(){\n\t\t\t    remove_caracter();\n\
        \t\t\t    sugestao();\n\t\t\t});\n\t\t\t    \n\t\t\t$(\"#search-box\").bind(\"\
        change\", function(){\n\t\t\t    remove_caracter();\n\t\t\t    sugestao();\n\
        \t\t\t});    \n\t\t    });\[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://legendas.tv/util/carrega_legendas_busca_filme/30730/1/-/2
  response:
    body: {string: "<!doctype html>\n<html lang=\"en\">\n<head>\n\t<meta charset=\"\
        utf-8\">\n\n    <title>Util - Legendas TV</title>\n\n    <meta name=\"description\"\
        \ content=\"you description\" />\n\t<meta name=\"keywords\" content=\"your\
        \ keywords\" />\n\n\t<link href=\"/favicon.ico\" type=\"image/x-icon\" rel=\"\
        ic[...]
[...]
