interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://argenteam.net/api/v1/search?q=Game+Of+Thrones
  response:
    body: {string: "{\"results\":[{\"id\":36027,\"title\":\"Game of Thrones\",\"year\"\
        :2011,\"type\":\"tvshow\",\"summary\":\"Juego de tronos es una nueva serie\
        \ original de HBO basada en las novelas de George R.R. Martin. En un mundo\
        \ donde los veranos se alargan decadas y los inviernos pueden durar toda una\
        \ vida, la corona de Poniente tiene un precio.\\r\\n\\r\\nTraicion, lujuria,\
        \ intriga y fuerzas sobrenaturales agitan las cuatro esquinas del Reino, desde\
        \ el sur intrigante y las tierras salvajes del este, hasta el norte gelido\
        \ y el viejo Muro que prot[...]
