interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://argenteam.net/api/v1/search?q=The+Walking
  response:
    body: {string: "{\"results\":[{\"id\":10893,\"title\":\"Walking with Dinosaurs\"\
        ,\"year\":1999,\"type\":\"tvshow\",\"summary\":\"Vive la experiencia m\xE1\
        s real con las criaturas m\xE1s extraordinarias que hayan existido jam\xE1\
        s.Bienvenido a la Era Mesoz\xF3nica, la Era en la que los Dinosaurios son\
        \ los due\xF1os y se\xF1ores de nuestro planeta. A partir de ahora vas a poder\
        \ asistir a 3 horas de diversi\xF3n y conocer\xE1s la vida de las criaturas\
        \ m\xE1s fascinantes y misteriosas que han poblado la Tierra.Desde los feroces\
        \ depredadores, como el Tiranosaurio o el Liopleurod\xF3n, hasta los pac\xED\
        ficos herb\xEDvoros, como el Diplodocus o el Placeria.Todos ellos nos descubren\
        \ los secretos que la Tierra ha mantenido en silencio durante millones de\
        \ a\xF1os.No dejes pasar la oportunidad de caminar entre dinosaurios.\",\"\
        imdb\":\"0214382\",\"tvdb\":\"71097\",\"poster\":\"http://www.argenteam.net/resources/covers/thumbs/6e7e857c46545af763353e9f1853c2be.jpg\"\
        ,\"seasons\":1},{\"id\":10901,\"title\":\"Walking with Beasts\",\"year\":2001,\"\
        type\":\"tvshow\",\"summary\":\"Serie documental para televisi\xF3n de seis\
        \ episodios, producida por la cadena brit\xE1nica BBC y estrenada por primera\
        \ vez en 2001. Al igual que su predecesora Walking with Dinosaurs (Caminando\
        \ entre dinosaurios), recrea diversos animales prehist\xF3ricos por ordenador\
        \ o con animatr\xF3nics e intenta mostrar c\xF3mo eran sus vidas en su h\xE1\
        bitat natural, aunque esta vez se centra en las aves y sobre todo los grandes\
        \ mam\xEDferos de la Era Cenozoica y no en los dinosaurios como la serie anterior.\
        \ En cada episodio se siguen las vivencias de un animal protagonista en particular.\"\
        ,\"imdb\":\"0286285\",\"tvdb\":\"78854\",\"poster\":\"http://www.argenteam.net/resources/covers/thumbs/2026069bb1885c9ed360f9dc44f45ec1.jpg\"\
        ,\"seasons\":1},{\"id\":35177,\"title\":\"The Walking Dead\",\"year\":2010,\"\
        type\":\"tvshow\",\"summary\":\"'The Walking Dead' parte de uno de los  c\xF3\
        mics m\xE1s seguidos de los \xFAltimos a\xF1os y cuenta con destacados profesionales\
        \ al frente de su puesta en im\xE1genes: el cineasta Frank Darabont, tres\
        \ veces [...]
