name: Publish

on:
  push:
    tags:
      - '*'
  workflow_run:
    workflows: ["Tag release"]
    types:
      - completed
  release:
    types:
      - published

permissions: {}

env:
  FORCE_COLOR: "1"
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_PYTHON_VERSION_WARNING: "1"

# https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/
jobs:
  # Always build & lint package.
  build-package:
    name: Build & verify package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: hynek/build-and-inspect-python-package@v2
        id: baipp

    outputs:
      # Used to define the matrix for tests below. The value is based on
      # packaging metadata (trove classifiers).
      supported-python-versions: ${{ steps.baipp.outputs.supported_python_classifiers_json_array }}

  github-release:
    name: Make a GitHub Release
    needs: [build-package]
    # only publish a Github release on push tag
    if: |
      github.repository == 'Diaoul/subliminal'
      && (
        (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
        || github.event_name == 'workflow_run'
      )
    runs-on: ubuntu-latest

    permissions:
      # IMPORTANT: mandatory for making GitHub Releases
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download packages built by build-and-inspect-python-package
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
          draft: true

  publish-to-pypi:
    name: Publish package to pypi.
    needs: [build-package]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/subliminal
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    # only publish to PyPI on Github release published
    if: |
      github.repository == 'Diaoul/subliminal'
      && github.event_name == 'release'
      && github.event.action == 'published'
    steps:
      - name: Download packages built by build-and-inspect-python-package
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
