interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?api_key=3dac925d5d494853ea6ef9161011fbb3&query=The+Bing+Bag+Theory&language=en-US&page=1
  response:
    body:
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
      x-memc:
      - MISS, STORE
      x-memc-age:
      - '0'
      x-memc-expires:
      - '27356'
      x-memc-key:
      - 29c3efb0f62926bde22e547ff2b93c92
    status:
      code: 200
      message: OK
version: 1
