interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?api_key=3dac925d5d494853ea6ef9161011fbb3&query=The+Big+Bang+Theory&language=en-US&page=1
  response:
    body:
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/sccDflItNho4OiHkzpiDxB2fUFw.jpg","genre_ids":[35],"id":1418,"origin_country":["US"],"original_language":"en","original_name":"The
        Big Bang Theory","overview":"Physicists Leonard and Sheldon find their nerd-centric
        social circle with pals Howard and Raj expanding when aspiring actress Penny
        moves in next door.","popularity":224.564,"poster_path":"/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg","first_air_date":"2007-09-24","name":"The
        Big Bang Theory","vote_average":7.9,"vote_count":11492},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":280440,"origin_country":["US"],"original_language":"en","original_name":"The
        Big Bang Theory","overview":"The big bang theory behind the scenes","popularity":1.129,"poster_path":null,"first_air_date":"","name":"The
        Big Bang Theory","vote_average":0.0,"vote_count":0}],"total_pages":1,"total_results":2}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"5e486450f4bedab767a6c99839dbbbb7"
      x-memc:
      - HIT
      x-memc-age:
      - '7556'
      x-memc-expires:
      - '15399'
      x-memc-key:
      - c709f17d5f15d43bc80cad8e740ddd85
    status:
      code: 200
      message: OK
version: 1
