interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?api_key=3dac925d5d494853ea6ef9161011fbb3&query=dallas&language=en-US&page=1&year=2012
  response:
    body:
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/xCyr9ay1lMgkA6HV2ugiWIFQtiR.jpg","genre_ids":[18],"id":37759,"origin_country":["US"],"original_language":"en","original_name":"Dallas","overview":"J.R.,
        Bobby and Sue Ellen Ewing are all back at Southfork, with plenty of secrets,
        schemes and betrayals in mind. This time, they''re joined by the next generation
        of Ewings, who take ambition and deception to a new level.","popularity":16.863,"poster_path":"/c76QP3y5PnZ5L1wUvRDqUuP2bd.jpg","first_air_date":"2012-06-13","name":"Dallas","vote_average":6.979,"vote_count":70},{"adult":false,"backdrop_path":"/bRrm6IOUFc79aIO7lvwtZ2z48sS.jpg","genre_ids":[10764,99],"id":10179,"origin_country":["US"],"original_language":"en","original_name":"Dallas
        Cowboys Cheerleaders: Making the Team","overview":"Reality show following
        the auditioning process and making of the annual Dallas Cowboys Cheerleading
        Squad.","popularity":14.242,"poster_path":"/gZSwy6ByE5uY9pHsXVFqAzdobTn.jpg","first_air_date":"2006-09-29","name":"Dallas
        Cowboys Cheerleade[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/37759?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: '{"adult":false,"backdrop_path":"/xCyr9ay1lMgkA6HV2ugiWIFQtiR.jpg","created_by":[{"id":1212323,"credit_id":"5258eae7760ee3466188f5b4","name":"David
        Jacobs","original_name":"David Jacobs","gender":2,"profile_path":"/dZ6kv0kWS1JQ8WtHhuRXPpC7CpC.jpg"},{"id":1238640,"credit_id":"5258eae7760ee3466188f5ba","name":"Cynthia
        Cidre","original_name":"Cynthia Cidre","gender":1,"profile_path":"/uY7HQpN0wDOEw6dy9U2YtvPEsJm.jpg"}],"episode_run_time":[45],"first_air_date":"2012-06-13","genres":[{"id":18,"name":"Drama"}],"homepage":"http://www.tnt.tv/series/dallas/","id":37759,"in_production":false,"languages":["en"],"last_air_date":"2014-09-22","last_episode_to_air":{"id":1002549,"name":"Brave
        New World","overview":"In the electrifying third season finale, the Ewings
        and the Rylands finally force the cartel to pay the piper as some lives are
        saved and others are lost. Bobby and Sue Ellen form a new alliance to protect
        the family, which pits them against John Ross, who is still trying to regain
        control of Ewing Global and fix his marriage to Pamela. And Elena is pushed
        to the brink when she finds out the real depths of Nicolas'' betrayal. As
        the season comes to an end, enemies are unmasked, new alliances are formed,
        and John Ross learns a shocking secret about J.R. that sends him halfway around
        the globe in search of a surprising new cohort.","vote_average":0.0,"vote_count":0,"air_date":"2014-09-22","episode_number":15,"episode_type":"finale","production_code":"","runtime":45,"season_number":3,"show_id":37759,"still_path":"/nIVOxfKkPxMkkATSLAjmOqokDBV.jpg"},"name":"Dallas","next_episode_to_air":null,"networks":[{"id":41,"logo_path":"/6ISsKwa2XUhSC6oBtHZjYf6xFqv.png","name":"TNT","origin_country":"US"}],"number_of_episodes":40,"number_of_seasons":3,"origin_country":["US"],"original_language":"en","original_name":"Dallas","overview":"J.R.,
        Bobby and Sue Ellen Ewing are all back at Southfork, with plenty of secrets,
        schemes and betrayals in mind. This time, they''re joined by the next generation
        of Ewings, who take ambition and deception to a new level.","popularity":16.863,"poster_path":"/c76QP3y5PnZ5L1wUvRDqUuP2bd.jpg","production_companies":[{"id":29347,"logo_path":"/y72MLXgCFQGKfJigwUzXUeUO4kX.png","name":"Warner
        Horizon Television","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"seasons":[{"air_date":null,"episode_count":5,"id":49091,"name":"Specials","overview":"","poster_path":null,"season_number":0,"vote_average":0.0},{"air_date":"2012-06-13","episode_count":10,"id":49089,"name":"Season
        1","overview":"","poster_path":"/AqRzqZlwexW23ch2XpHNsGxNQDk.jpg","season_number":1,"vote_average":7.0},{"air_date":"2013-01-28","episode_count":15,"id":49090,"name":"Season
        2","overview":"","poster_path":"/eMjtlE8E2tuYLFC7soPaXO6ys0X.jpg","season_number":2,"vote_average":0.0},{"air_date":"2014-02-24","episode_count":15,"id":49092,"name":"Season
        3","overview":"","poster_path":"/gxwfYs9KG1UyLWd6vYaIxAr7qby.jpg","season_number":3,"vote_average":1.0}],"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Canceled","tagline":"","type":"Scripted","vote_average":6.979,"vote_count":70,"external_ids":{"imdb_id":"tt1723760","freebase_mid":"/m/0gffhld","freebase_id":null,"tvdb_id":242521,"tvrage_id":28960,"wikidata_id":"Q726735","facebook_id":"DallasTNT","instagram_id":null,"twitter_id":null}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"b000d941adcf9989afa6ca7cfba1f25c"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/37759/season/1/episode/3?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: "{\"air_date\":\"2012-06-20\",\"crew\":[{\"department\":\"Writing\",\"job\":\"Writer\",\"credit_id\":\"5258eae4760ee3466188f042\",\"adult\":false,\"gender\":2,\"id\":1213093,\"known_for_department\":\"Writing\",\"name\":\"Bruce
        Rasmussen\",\"original_name\":\"Bruce Rasmussen\",\"popularity\":1.067,\"profile_path\":\"/a5avkeMI18MZG32u7sDT5jF1cEe.jpg\"},{\"department\":\"Directing\",\"job\":\"Director\",\"credit_id\":\"5258eae4760ee3466188effc\",\"adult\":false,\"gender\":2,\"id\":112548,\"known_for_department\":\"Production\",\"name\":\"Michael
        M. Robin\",\"original_name\":\"Michael M. Robin\",\"popularity\":1.757,\"profile_path\":null}],\"episode_number\":3,\"guest_stars\":[],\"name\":\"The
        Price You Pay\",\"overview\":\"Just as John Ross sets out to claim his birthright
        and make his father proud, J.R. decides to move back to Southfork, much to
        Ann\u2019s dismay. Bitter Ewing family enemy Cliff Barnes returns and tries
        to reconnect with his nephew, Christopher. A startling family announcement
        offers an opportunity to heal old wounds.\",\"id\":851353,\"production_code\":\"\",\"runtime\":45,\"season_number\":1,\"still_path\":\"/9CppiKh8K1nZGJaw7wJfpXFvMBQ.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"external_ids\":{\"imdb_id\":null,\"freebase_mid\":\"/m/0j_f3y6\",\"freebase_id\":null,\"tvdb_id\":4199511,\"tvrage_id\":null,\"wikidata_id\":null}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"34c47bb3379a969ba34bed42f3d93c78"
    status:
      code: 200
      message: OK
version: 1
