interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?api_key=3dac925d5d494853ea6ef9161011fbb3&query=Man+of+Steel&language=en-US&page=1&year=2013
  response:
    body:
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/69EFgWWPFWbRNHmQgYdSnyJ94Ge.jpg","genre_ids":[28,12,878],"id":49521,"original_language":"en","original_title":"Man
        of Steel","overview":"A young boy learns that he has extraordinary powers
        and is not of this earth. As a young man, he journeys to discover where he
        came from and what he was sent here to do. But the hero in him must emerge
        if he is to save the world from annihilation and become the symbol of hope
        for all mankind.","popularity":50.299,"poster_path":"/dksTL9NXc3GqPBRHYHcy1aIwjS.jpg","release_date":"2013-06-12","title":"Man
        of Steel","video":false,"vote_average":6.629,"vote_count":15242}],"total_pages":1,"total_results":1}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"7286b69d9653a43b9ab2fc3bc87817e4"
      x-memc:
      - HIT
      x-memc-age:
      - '20687'
      x-memc-expires:
      - '4350'
      x-memc-key:
      - 3fed4b99e74a2821dfdba4d5bacbc98a
    status:
      code: 200
      message: OK
version: 1
