interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?api_key=3dac925d5d494853ea6ef9161011fbb3&query=James+Bond&language=en-US&page=1
  response:
    body:
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":null,\"genre_ids\":[],\"id\":360133,\"original_language\":\"te\",\"original_title\":\"\u0C1C\u0C47\u0C2E\u0C4D\u0C38\u0C4D
        \u0C2C\u0C3E\u0C02\u0C21\u0C4D\",\"overview\":\"Nani is a trepid and fearful
        guy who works as a software engineer. Bullet is a mafia don in Dubai. Her
        mother doesn't know about Bullet's profession. Bullet is forced to come back
        to India when her mother falls ill. Her mother's last wish is to get Bullet
        married. That's when Nani falls in love at first sight with Bullet when she
        visits a temple wearing a traditional dress. Rest of the story is all about
        what happens when a coward like Nani marries a gangster girl without knowing
        her real profession.\",\"popularity\":1.0974,\"poster_path\":\"/lQTdCg0BujgmnNno51BHgHx063Z.jpg\",\"release_date\":\"2015-07-24\",\"title\":\"James
        Bond\",\"video\":false,\"vote_average\":6.7,\"vote_count\":3},{\"adult\":false,\"backdrop_path\":null,\"genre_ids\":[35],\"id\":793453,\"original_language\":\"ml\",\"original_title\":\"\u0D1C\u0D2F\u0D3F\u0D02\u0D38\u0D4D
        \u0D2C\u0D4B\u0D23\u0D4D\u0D1F\u0D4D\",\"overview\":\"Five friends in hiding
        after their local business goes bankrupt stumble upon a baby that changes
        their lives.\",\"popularity\":0.9564,\"poster_path\":\"/9frcxN4LZX2pQLJ7YNrrdrRgQUW.jpg\",\"release_date\":\"1999-01-01\",\"title\":\"James
        Bond\",\"video[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?api_key=3dac925d5d494853ea6ef9161011fbb3&query=James+Bond&language=en-US&page=2
  response:
    body:
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/Lz17qcjUuLAjHokrnmBAC1wasT.jpg","genre_ids":[99],"id":338749,"original_language":"en","original_title":"James
        Bond: For Real","overview":"The stunts and action set pieces for the the 2006
        James Bond adventure ''Casino Royale''.","popularity":0.4908,"poster_path":"/somhy1VMSbY0t3fcOA4ZqEglUIk.jpg","release_date":"2006-11-22","title":"James
        Bond: For Real","video":false,"vote_average":7.7,"vote_count":5},{"adult":false,"backdrop_path":"/fQCsl9zyQcGkOYr8u7QYiPGMnIc.jpg","genre_ids":[99],"id":252362,"original_language":"en","original_title":"The
        Men Behind the Mayhem: The Special Effects [...]
