interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?api_key=3dac925d5d494853ea6ef9161011fbb3&query=Jack+Reacher&language=en-US&page=1&year=2016
  response:
    body:
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/ww1eIoywghjoMzRLRIcbJLuKnJH.jpg","genre_ids":[28,53],"id":343611,"original_language":"en","original_title":"Jack
        Reacher: Never Go Back","overview":"Years after resigning command of an elite
        military police unit, the nomadic, righter-of-wrongs Reacher is drawn back
        into the life he left behind when his friend and successor, Major Susan Turner
        is framed for espionage. Reacher will stop at nothing to prove her innocence
        and to expose the real perpetrators behind the killings of his former soldiers.","popularity":44.349,"poster_path":"/cOg3UT2NYWHZxp41vpxAnVCOC4M.jpg","release_date":"2016-10-19","title":"Jack
        Reacher: Never Go Back","video":false,"vote_average":6.0,"vote_count":4928}],"total_pages":1,"total_results":1}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"1528f8bb646e1372d6f3ae8018e1d422"
      x-memc:
      - MISS, STORE
      x-memc-age:
      - '0'
      x-memc-expires:
      - '26152'
      x-memc-key:
      - 658b2f9578640af48a6f02baad1a326d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/movie/343611?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: '{"adult":false,"backdrop_path":"/ww1eIoywghjoMzRLRIcbJLuKnJH.jpg","belongs_to_collection":{"id":403374,"name":"Jack
        Reacher Collection","poster_path":"/qtafXiYDUMKxzsssU41qWey5oiT.jpg","backdrop_path":"/vViRXFnSyGJ2fzMbcc5sqTKswcd.jpg"},"budget":60000000,"genres":[{"id":28,"name":"Action"},{"id":53,"name":"Thriller"}],"homepage":"https://skydance.com/film/jack-reacher-never-go-back/","id":343611,"imdb_id":"tt3393786","origin_country":["US"],"original_language":"en","original_title":"Jack
        Reacher: Never Go Back","overview":"Years after resigning command of an elite
        military police unit, the nomadic, righter-of-wrongs Reacher is drawn back
        into the life he left behind when his friend and successor, Major Susan Turner
        is framed for espionage. Reacher will stop at nothing to prove her innocence
        and to expose the real perpetrators behind the killings of his former soldiers.","popularity":44.349,"poster_path":"/cOg3UT2NYWHZxp41vpxAnVCOC4M.jpg","production_companies":[{"id":82819,"logo_path":"/gXfFl9pRPaoaq14jybEn1pHeldr.png","name":"Skydance
        Media","origin_country":"US"},{"id":83645,"logo_path":null,"name":"Huahua
        Media","origin_country":"CN"},{"id":3407,"logo_path":"/iVMjKOFyRvm9PW45lW1wW6TSvnj.png","name":"Shanghai
        Film Group","origin_country":"CN"},{"id":21777,"logo_path":null,"name":"TC
        Productions","origin_country":"US"},{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount
        Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"CN","name":"China"},{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2016-10-19","revenue":162100000,"runtime":118,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Never
        give in. Never give up. Never go back.","title":"Jack Reacher: Never Go Back","video":false,"vote_average":5.995,"vote_count":4928,"external_ids":{"imdb_id":"tt3393786","wikidata_id":"Q21168538","facebook_id":"JackReacherIT","instagram_id":"jackreacher","twitter_id":"jackreacher"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"e4920b82cf568f778a3ad15df1aca4ea"
    status:
      code: 200
      message: OK
version: 1
