interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?api_key=3dac925d5d494853ea6ef9161011fbb3&query=house+of+cards&language=en-US&page=1
  response:
    body:
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/ex4kvQb0Ski5KL2fsnKQU2hV3oo.jpg","genre_ids":[18],"id":1425,"origin_country":["US"],"original_language":"en","original_name":"House
        of Cards","overview":"Set in present day Washington, D.C., House of Cards
        is the story of Frank Underwood, a ruthless and cunning politician, and his
        wife Claire who will stop at nothing to conquer everything. This wicked political
        drama penetrates the shadowy world of greed, sex and corruption in modern
        D.C.","popularity":108.009,"poster_path":"/hKWxWjFwnMvkWQawbhvC0Y7ygQ8.jpg","first_air_date":"2013-02-01","name":"House
        of Cards","vote_average":8.021,"vote_count":2795},{"adult":false,"backdrop_path":"/wxDMpVXN2xYZtb7oTTGSrP8hWuH.jpg","genre_ids":[10768,35,18],"id":21720,"origin_country":["GB"],"original_language":"en","original_name":"House
        of Cards","overview":"Frustrated at a new moderate Conservative government
        and deprived of a promotion to a senior position, chief whip Francis Urquhart
        prepares a meticulous plot to bring down the Prime Minister then to take his
        place.","popularity":15.061,"poster_path":"/evQlyXJtIjI9Q[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/1425?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: "{\"adult\":false,\"backdrop_path\":\"/ex4kvQb0Ski5KL2fsnKQU2hV3oo.jpg\",\"created_by\":[{\"id\":64817,\"credit_id\":\"526e4221760ee34c42101dfe\",\"name\":\"Beau
        Willimon\",\"original_name\":\"Beau Willimon\",\"gender\":2,\"profile_path\":\"/8BTQK12ibYIWPAPSkQktsTnrX99.jpg\"}],\"episode_run_time\":[],\"first_air_date\":\"2013-02-01\",\"genres\":[{\"id\":18,\"name\":\"Drama\"}],\"homepage\":\"http://www.netflix.com/title/70178217\",\"id\":1425,\"in_production\":false,\"languages\":[\"en\"],\"last_air_date\":\"2018-11-02\",\"last_episode_to_air\":{\"id\":1605355,\"name\":\"Chapter
        73\",\"overview\":\"Claire tries to tarnish Frank's legacy. Doug provokes
        Claire by releasing excerpts from Frank's diary. A rift develops between the
        Shepherds.\",\"vote_average\":4.522,\"vote_count\":23,\"air_date\":\"2018-11-02\",\"episode_number\":8,\"episode_type\":\"finale\",\"production_code\":\"\",\"runtime\":55,\"season_number\":6,\"show_id\":1425,\"still_path\":\"/aLwAEjt9TpuVylQ14SvMagqXZE8.jpg\"},\"name\":\"House
        of Cards\",\"next_episode_to_air\":null,\"networks\":[{\"id\":213,\"logo_path\":\"/wwemzKWzjKYJFfCeiB57q3r4Bcm.png\",\"name\":\"Netflix\",\"origin_country\":\"\"}],\"number_of_episodes\":73,\"number_of_seasons\":6,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"House
        of Cards\",\"overview\":\"Set in present day Washington, D.C., House of Cards
        is the story of Frank Underwood, a ruthless and cunning politician, and his
        wife Claire who will stop at nothing to conquer everything. This wicked political
        drama penetrates the shadowy world of greed, sex and corruption in modern
        D.C.\",\"popularity\":108.009,\"poster_path\":\"/hKWxWjFwnMvkWQawbhvC0Y7ygQ8.jpg\",\"production_companies\":[{\"id\":2531,\"logo_path\":\"/9MfCJ2G6Nrf9yyRj4tAgPmMiDcn.png\",\"name\":\"MRC\",\"origin_country\":\"US\"},{\"id\":7626,\"logo_path\":\"/4839MGss4pPAalhqqYH1AD1CnEj.png\",\"name\":\"Trigger
        Street Productions\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United
        States of America\"}],\"seasons\":[{\"air_date\":null,\"episode_count\":7,\"id\":142396,\"name\":\"Specials\",\"overview\":\"Additional
        extras for the House of Cards series.\",\"poster_path\":\"/eowAtyuf9tZ56WugCZTt9HALfeq.jpg\",\"season_number\":0,\"vote_average\":0.0},{\"air_date\":\"2013-02-01\",\"episode_count\":13,\"id\":3768,\"name\":\"Season
        1\",\"overview\":\"Betrayed by the White House, Congressman Francis Underwood
        embarks on a ruthless rise to power. Blackmail, seduction and ambition are
        his weapons.\",\"poster_path\":\"/oU[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/1425/season/6/episode/1?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: '{"air_date":"2018-11-02","crew":[],"episode_number":1,"guest_stars":[{"character":"Marcy
        Siegerson","credit_id":"5cc26cf5c3a3687f8f8dab1d","order":523,"adult":false,"gender":1,"id":143237,"known_for_department":"Acting","name":"Linda
        Powell","original_name":"Linda Powell","popularity":3.023,"profile_path":"/giYwxYnuw6nfpLAfcbdZMlzZ3sT.jpg"},{"character":"Tabitha
        Peters","credit_id":"5cc26e8f9251415cd2f3db45","order":524,"adult":false,"gender":0,"id":1220815,"known_for_department":"Acting","name":"Beth
        Chamberlin","original_name":"Beth Chamberlin","popularity":1.075,"profile_path":null},{"character":"Melody
        Cruz","credit_id":"5cc26c300e0a264d93ed074b","order":525,"adult":[...]
