interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?api_key=3dac925d5d494853ea6ef9161011fbb3&query=James+Bond&language=en-US&page=2
  response:
    body:
      string: "{\"page\":2,\"results\":[{\"adult\":false,\"backdrop_path\":null,\"genre_ids\":[99],\"id\":264022,\"original_language\":\"en\",\"original_title\":\"In
        Search of James Bond with Jonathan Ross\",\"overview\":\"Jonathan Ross delves
        into the world of James Bond and meets with new and former cast members who
        reveal humorous stories and anecdotes in a series of interviews. All the 5
        Bonds at the time are featured, though only Lazenby (reflecting in the usual
        frank, self criticizing manner), Moore and Brosnan granted an interview. Connery
        and Dalton are featured through some unused footage from LWT's 30 years of
        James Bond program. The ever faithful Desmond Llewelyn turns up in character
        as well as some other less related peeps like Christopher Lee, Paul McCartney
        and the ultimate playboy: Hugh Hefner -- who all give an interesting perspective
        on the worlds most famous spy.\",\"popularity\":1.205,\"poster_path\":\"/d416YCqX42GzWaX6uzRe8iCnGtd.jpg\",\"release_date\":\"1995-12-10\",\"title\":\"In
        Search of James Bond with Jonathan Ross\",\"video\":false,\"vote_average\":3.0,\"vote_count\":2},{\"adult\":false,\"backdrop_path\":null,\"genre_ids\":[99],\"id\":696912,\"original_language\":\"en\",\"original_title\":\"The
        Incredible World of James Bond\",\"overview\":\"This promotional film was
        aired on American television on 26 November 1965, one month before the release
        of Thunderball (1965). Narrated by Alexander Scourby, the 48 minute documentary
        aired as a one hour special. It included footage of the filming at Silverstone
        Racetrack, Northam[...]
