interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?api_key=3dac925d5d494853ea6ef9161011fbb3&query=Meen+of+Stal&language=en-US&page=1
  response:
    body:
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
      x-memc:
      - MISS, STORE
      x-memc-age:
      - '0'
      x-memc-expires:
      - '25714'
      x-memc-key:
      - 48dfe98b26252d07dc935cf15aba5cd0
    status:
      code: 200
      message: OK
version: 1
