interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?api_key=3dac925d5d494853ea6ef9161011fbb3&query=the+big+bang+theory&language=en-US&page=1
  response:
    body:
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/sccDflItNho4OiHkzpiDxB2fUFw.jpg","genre_ids":[35],"id":1418,"origin_country":["US"],"original_language":"en","original_name":"The
        Big Bang Theory","overview":"Physicists Leonard and Sheldon find their nerd-centric
        social circle with pals Howard and Raj expanding when aspiring actress Penny
        moves in next door.","popularity":224.564,"poster_path":"/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg","first_air_date":"2007-09-24","name":"The
        Big Bang Theory","vote_average":7.9,"vote_count":11492},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":280440,"origin_country":["US"],"original_language":"en","original_name":"The
        Big Bang Theory","overview":"The big bang theory behind the scenes","popularity":1.129,"poster_path":null,"first_air_date":"","name":"The
        Big Bang Theory","vote_average":0.0,"vote_count":0}],"total_pages":1,"total_results":2}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"5e486450f4bedab767a6c99839dbbbb7"
      x-memc:
      - HIT
      x-memc-age:
      - '7557'
      x-memc-expires:
      - '15398'
      x-memc-key:
      - c709f17d5f15d43bc80cad8e740ddd85
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/1418?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: "{\"adult\":false,\"backdrop_path\":\"/sccDflItNho4OiHkzpiDxB2fUFw.jpg\",\"created_by\":[{\"id\":160172,\"credit_id\":\"5256d00719c2956ff60a3d0e\",\"name\":\"Chuck
        Lorre\",\"original_name\":\"Chuck Lorre\",\"gender\":2,\"profile_path\":\"/8OTRD3d6N0GKy1Z0LJaWZ3MVxXr.jpg\"},{\"id\":163528,\"credit_id\":\"5256d00719c2956ff60a3d14\",\"name\":\"Bill
        Prady\",\"original_name\":\"Bill Prady\",\"gender\":2,\"profile_path\":\"/voM7AngVEko9ZzNFuv0F53AMTzu.jpg\"}],\"episode_run_time\":[22],\"first_air_date\":\"2007-09-24\",\"genres\":[{\"id\":35,\"name\":\"Comedy\"}],\"homepage\":\"http://www.cbs.com/shows/big_bang_theory/\",\"id\":1418,\"in_production\":false,\"languages\":[\"en\"],\"last_air_date\":\"2019-05-16\",\"last_episode_to_air\":{\"id\":2767846,\"name\":\"Unraveling
        the Mystery: A Big Bang Farewell\",\"overview\":\"Johnny Galecki and Kaley
        Cuoco will lead fans on a trip down memory lane, sharing some of the best-kept
        backstage secrets and personal memories from the past 12 years.\",\"vote_average\":8.25,\"vote_count\":20,\"air_date\":\"2019-05-16\",\"episode_number\":24,\"episode_type\":\"standard\",\"production_code\":\"T12.16024\",\"runtime\":20,\"season_number\":12,\"show_id\":1418,\"still_path\":\"/eaC2VG6Iy63vIor6mfOfCZTDw3g.jpg\"},\"name\":\"The
        Big Bang Theory\",\"next_episode_to_air\":null,\"networks\":[{\"id\":16,\"logo_path\":\"/wju8KhOUsR5y4bH9p3Jc50hhaLO.png\",\"name\":\"CBS\",\"origin_country\":\"US\"}],\"number_of_episodes\":279,\"number_of_seasons\":12,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"The
        Big Bang Theory\",\"overview\":\"Physicists Leonard and Sheldon find their
        nerd-centric social circle with pals Howard and Raj expanding when aspiring
        actress Penny moves in next door.\",\"popularity\":224.564,\"poster_path\":\"/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg\",\"production_companies\":[{\"id\":35504,\"logo_path\":\"/e70DaugzSRbTbVEhZV3e1nCofcY.png\",\"name\":\"Chuck
        Lorre Productions\",\"origin_country\":\"US\"},{\"id\":1957,\"logo_path\":\"/pJJw98MtNFC9cHn3o15G7vaUnnX.png\",\"name\":\"Warner
        Bros. Television\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United
        States of America\"}],\"seasons\":[{\"air_date\":null,\"episode_count\":3,\"id\":3732,\"name\":\"Specials\",\"overview\":\"\",\"poster_path\":\"/zvToiPJ5cG3mVkmGW8CFUEmg3ji.jpg\",\"season_number\":0,\"vote_average\":0.0},{\"air_date\":\"2007-09-24\",\"episode_count\":17,\"id\":3738,\"name\":\"Season
        1\",\"overview\":\"University physicists Leonard and Sheldon know whether
        to use an integral or a differential to solve the area under a curve. But
        they don't have a clue about girls. Or dating. Or clothes. Or parties. Or
        having fun. Or, b[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/1418/season/7/episode/5?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: '{"air_date":"2013-10-17","crew":[{"job":"Director","department":"Directing","credit_id":"5256cfbe19c2956ff60a0548","adult":false,"gender":2,"id":1212114,"known_for_department":"Directing","name":"Mark
        Cendrowski","original_name":"Mark Cendrowski","popularity":2.848,"profile_path":null},{"job":"Teleplay","department":"Writing","credit_id":"525f43c8760ee3334907245d","adult":false,"gender":2,"id":1224139,"known_for_department":"Writing","name":"Jim
        Reynolds","original_name":"Jim Reynolds","popularity":2.131,"profile_path":"/rESrWTeONwpBNxr3m34Z5g0I93Q.jpg"},{"job":"Story","department":"Writing","credit_id":"525f43f1760ee3334506faeb","adult":false,"gender"[...]
