interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?api_key=3dac925d5d494853ea6ef9161011fbb3&query=Shameless&language=en-US&page=1
  response:
    body:
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/zjOj2gnDJYFdYt6R7FtuHn7yrPr.jpg\",\"genre_ids\":[18,35],\"id\":34307,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"Shameless\",\"overview\":\"Chicagoan
        Frank Gallagher is the proud single dad of six smart, industrious, independent
        kids, who without him would be... perhaps better off. When Frank's not at
        the bar spending what little money they have, he's passed out on the floor.
        But the kids have found ways to grow up in spite of him. They may not be like
        any family you know, but they make no apologies for being exactly who they
        are.\",\"popularity\":508.541,\"poster_path\":\"/9akij7PqZ1g6zl42DQQTtL9CTSb.jpg\",\"first_air_date\":\"2011-01-09\",\"name\":\"Shameless\",\"vote_average\":8.2,\"vote_count\":2813},{\"adult\":false,\"backdrop_path\":\"/1FWw7Q5gn74tYVsyLdo3AcO3LNR.jpg\",\"genre_ids\":[35,18],\"id\":1906,\"origin_country\":[\"GB\"],\"original_language\":\"en\",\"original_name\":\"Shameless\",\"overview\":\"The
        story of a young group of siblings pretty much abandoned by their parents,
        surviving by their wits - and humor - on a rough Manchester council estate.
        Whilst they won't admit it, they need help and find it in Steve, a young middle
        class lad who fal[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/34307?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: "{\"adult\":false,\"backdrop_path\":\"/zjOj2gnDJYFdYt6R7FtuHn7yrPr.jpg\",\"created_by\":[{\"id\":47333,\"credit_id\":\"60762d12c392660058efb809\",\"name\":\"John
        Wells\",\"original_name\":\"John Wells\",\"gender\":2,\"profile_path\":\"/j1cEQmFdSkew87UjO354qeppo1G.jpg\"},{\"id\":1212184,\"credit_id\":\"5b9b133dc3a3686c0200c416\",\"name\":\"Paul
        Abbott\",\"original_name\":\"Paul Abbott\",\"gender\":2,\"profile_path\":\"/nOSdxmbKRuoVnh29cG1x5fZlBLj.jpg\"}],\"episode_run_time\":[],\"first_air_date\":\"2011-01-09\",\"genres\":[{\"id\":18,\"name\":\"Drama\"},{\"id\":35,\"name\":\"Comedy\"}],\"homepage\":\"http://www.sho.com/shameless\",\"id\":34307,\"in_production\":false,\"languages\":[\"en\"],\"last_air_date\":\"2021-04-11\",\"last_episode_to_air\":{\"id\":2771080,\"name\":\"Father
        Frank, Full of Grace\",\"overview\":\"Ian and Mickey shop for furniture for
        their new place and Kev and V look for a buyer for the Alibi. While Lip settles
        for a new job, Carl finally finds his calling in a new role on the police
        force. Debbie plunges into a treacherous world when she meets someone new.
        Frank comes to terms with his own mortality.\",\"vote_average\":6.5,\"vote_count\":10,\"air_date\":\"2021-04-11\",\"episode_number\":12,\"episode_type\":\"finale\",\"production_code\":\"\",\"runtime\":57,\"season_number\":11,\"show_id\":34307,\"still_path\":\"/tGp0pGTCLcQI6IJPVWSf4AFvpId.jpg\"},\"name\":\"Shameless\",\"next_episode_to_air\":null,\"networks\":[{\"id\":67,\"logo_path\":\"/Allse9kbjiP6ExaQrnSpIhkurEi.png\",\"name\":\"Showtime\",\"origin_country\":\"US\"}],\"number_of_episodes\":134,\"number_of_seasons\":11,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"Shameless\",\"overview\":\"Chicagoan
        Frank Gallagher is the proud single dad of six smart, industrious, independent
        kids, who without him would be... perhaps better off. When Frank's not at
        the bar spending what little money they have, he's passed out on the floor.
        But the kids have found ways to grow up in spite of him. They may not be like
        any family you know, but they make no apologies for being exactly who they
        are.\",\"popularity\":508.541,\"poster_path\":\"/9akij7PqZ1g6zl42DQQTtL9CTSb.jpg\",\"production_companies\":[{\"id\":1512,\"logo_path\":null,\"name\":\"John
        Wells Productions\",\"origin_country\":\"US\"},{\"id\":1957,\"logo_path\":\"/pJJw98MtNFC9cHn3o15G7vaUnnX.png\",\"name\":\"Warner
        Bros. Television\",\"origin_country\":\"US\"},{\"id\":4343,\"logo_path\":\"/rXq1B1Hnkdnw6soz1zoGcslK3wb.png\",\"name\":\"Showtime
        Networks\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United
        States of America\"}],\"seasons\":[{\"air_date\":\"2010-12-12\",\"episode_count\":39,\"id\":45139,\"name\":\"Specials\",\"overview\":\"\",\"poster_path\":\"/mEsacM6KmTf6z9kDVMisXw0EGmR.jpg\",\"season_number\":0,\"vote_average\":0.0},{\"air_date\":\"2011-01-09\",\"episode_count\":12,\"id\":45137,\"name\":\"Season
        1\",\"overview\":\"Frank goes missing and turns up in Toronto, tries without
        success to embrace sobriety, and bends the law to protect his disability checks.
        Fiona falls for Steve, a handsome player with a nice car, a fat wallet, and
        a [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/34307/season/8/episode/1?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: '{"air_date":"2017-11-05","crew":[{"job":"Director","department":"Directing","credit_id":"5fdbb24f7776f0003f3145e2","adult":false,"gender":2,"id":80161,"known_for_department":"Directing","name":"Iain
        B. MacDonald","original_name":"Iain B. MacDonald","popularity":3.027,"profile_path":"/cxCwbSjnomHNGgvW2EP6YSr4hXv.jpg"}],"episode_number":1,"guest_stars":[{"character":"Liam
        Gallagher","credit_id":"5e69bfa4151c5c0019058347","order":8,"adult":false,"gender":2,"id":2563541,"known_for_department":"Acting","name":"Christian
        Isaiah","original_name":"Christian Isaiah","popularity":2.993,"profile_path":"/2gD6D7Lp9CYqTLG2iNg6RR6QPkt.jpg"},{"character":"Brad","credit_id":"5e69c30e357c0000163dd9e9","order":15,"adult":false,"gender":2,"id":65728,"known_for_department":"Acting","name":"Scott
        Michael Campbell","original_name":"Scott Michael Campbell","popularity":7.654,"profile_path":"/p1fKMI59U489Rys9xvqzdTLxPrL.jpg"},[...]
