interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?api_key=3dac925d5d494853ea6ef9161011fbb3&query=dallas&language=en-US&page=1
  response:
    body:
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/5Z40OJgNeedcAgqPRTGQzlk17Mv.jpg\",\"genre_ids\":[10766,18,10751],\"id\":40,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"Dallas\",\"overview\":\"The
        world's first mega-soap, and one of the most popular ever produced, Dallas
        had it all. Beautiful women, expensive cars, and men playing Monopoly with
        real buildings. Famous for one of the best cliffhangers in TV history, as
        the world asked \\\"Who shot J.R.?\\\" A slow-burner to begin with, Dallas
        hit its stride in the 2nd season, with long storylines and expert character
        development. Dallas ruled the airwaves in the 1980's.\",\"popularity\":1610.815,\"poster_path\":\"/w8Frf2mO0DUVHmSRJWJWldntKCt.jpg\",\"first_air_date\":\"1978-04-02\",\"name\":\"Dallas\",\"vote_average\":6.634,\"vote_count\":187},{\"adult\":false,\"backdrop_path\":\"/xCyr9ay1lMgkA6HV2ugiWIFQtiR.jpg\",\"genre_ids\":[18],\"id\":37759,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"Dallas\",\"overview\":\"J.R.,
        Bobby and Sue Ellen Ewing are all back at Southfork, with plenty of secrets,
        schemes and betrayals in mind. This time, they're joined by the next generation
        of Ewings, who take ambition and deception to a new level.\",\"popularity\":143.924,\"poster_path\":\"/[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/40?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: '{"adult":false,"backdrop_path":"/5Z40OJgNeedcAgqPRTGQzlk17Mv.jpg","created_by":[{"id":1212323,"credit_id":"5253328019c295794001e110","name":"David
        Jacobs","original_name":"David Jacobs","gender":2,"profile_path":"/dZ6kv0kWS1JQ8WtHhuRXPpC7CpC.jpg"}],"episode_run_time":[45],"first_air_date":"1978-04-02","genres":[{"id":10766,"name":"Soap"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"}],"homepage":"","id":40,"in_production":false,"languages":["en"],"last_air_date":"1991-05-03","last_episode_to_air":{"id":1140882,"overview":"Adam
        takes J.R. on an It''s A Wonderful Life-esque journey just as Bobby hears
        a gunshot ring out from J.R.''s room.","name":"Conundrum (2)","vote_average":0.0,"vote_count":0,"air_date":"1991-05-03","episode_number":23,"episode_type":"finale","production_code":"446172B","runtime":45,"season_number":14,"show_id":40,"still_path":"/cx26IMGp9tBYUbhiYWHQaHo0uL6.jpg"},"name":"Dallas","next_episode_to_air":null,"networks":[{"id":16,"logo_path":"/wju8KhOUsR5y4bH9p3Jc50hhaLO.png","name":"CBS","origin_country":"US"}],"number_of_episodes":357,"number_of_seasons":14,"origin_country":["US"],"original_language":"en","original_name":"Dallas","overview":"The
        world''s first mega-soap, and one of the most popular ever produced, Dallas
        had it all. Beautiful women, expensive cars, and men playing Monopoly with
        real buildings. Famous for one of the best cliffhangers in TV history, as
        the world asked \"Who shot J.R.?\" A slow-burner to begin with, Dallas hit
        its stride in the 2nd season, with long storylines and expert character development.
        Dallas ruled the airwaves in the 1980''s.","popularity":1610.815,"poster_path":"/w8Frf2mO0DUVHmSRJWJWldntKCt.jpg","production_companies":[],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"seasons":[{"air_date":"2004-11-07","episode_count":1,"id":68617,"name":"Specials","overview":"","poster_path":"/zcLox4M9hzmQnFFlV5E3vEpwXG9.jpg","season_number":0,"vote_average":0.0},{"air_date":"1978-04-02","episode_count":5,"id":59768,"name":"Season
        1","overview":"","poster_path":"/3IQ7Zu1Tl80xBqkos9aDyAueaPa.jpg","season_number":1,"vote_average":4.5},{"air_date":"1978-09-23","episode_count":24,"id":71569,"name":"Season
        2","overview":"","poster_path":"/r7ROioE4kjmNiYfuGmGam7c7jtP.jpg","season_number":2,"vote_average":0.9},{"air[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/tv/40/season/1/episode/3?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: '{"air_date":"1978-04-16","crew":[{"job":"Music","department":"Sound","credit_id":"5eed9e449661fc003860ab28","adult":false,"gender":2,"id":230125,"known_for_department":"Sound","name":"Jerrold
        Immel","original_name":"Jerrold Immel","popularity":2.84,"profile_path":null},{"job":"Director","department":"Directing","credit_id":"5eed982ab84cdd00362fb042","adult":false,"gender":2,"id":40599,"known_for_department":"Directing","name":"Robert
        Day","original_name":"Robert Day","popularity":7.427,"profile_path":"/2NEUxGORWzi25fpg35Wv5scsK0a.jpg"},{"job":"Writer","department":"Writing","credit_id":"5eed983db0460500330b4236","adult":false,"gender":2,"id":12[...]
