interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?api_key=3dac925d5d494853ea6ef9161011fbb3&query=man+of+steel&language=en-US&page=1
  response:
    body:
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/69EFgWWPFWbRNHmQgYdSnyJ94Ge.jpg\",\"genre_ids\":[28,12,878],\"id\":49521,\"original_language\":\"en\",\"original_title\":\"Man
        of Steel\",\"overview\":\"A young boy learns that he has extraordinary powers
        and is not of this earth. As a young man, he journeys to discover where he
        came from and what he was sent here to do. But the hero in him must emerge
        if he is to save the world from annihilation and become the symbol of hope
        for all mankind.\",\"popularity\":50.299,\"poster_path\":\"/dksTL9NXc3GqPBRHYHcy1aIwjS.jpg\",\"release_date\":\"2013-06-12\",\"title\":\"Man
        of Steel\",\"video\":false,\"vote_average\":6.629,\"vote_count\":15243},{\"adult\":false,\"backdrop_path\":null,\"genre_ids\":[18],\"id\":334166,\"original_language\":\"en\",\"original_title\":\"Man
        of Steel\",\"overview\":\"Jeff Forbes, president of Alliance Steel, takes
        his wife and son Kevin on a trip to the Yukon for a hunting trip with \\\"utterly
        godless\\\" drunkard Klondike Joe. But - surprise! - Klondike Joe is no longer
        a drunk. Instead, he\u2019s been \\\"converted by this BARRY MOORE fellow,\\\"
        a real-life [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/movie/49521?api_key=3dac925d5d494853ea6ef9161011fbb3&append_to_response=external_ids
  response:
    body:
      string: '{"adult":false,"backdrop_path":"/69EFgWWPFWbRNHmQgYdSnyJ94Ge.jpg","belongs_to_collection":{"id":209131,"name":"Man
        of Steel Collection","poster_path":"/rNnIW6xSPeTiIUtsfEhFeIRiJVv.jpg","backdrop_path":"/rPaqhsSMCky0UXVW4qmNOJq5Orp.jpg"},"budget":225000000,"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":878,"name":"Science
        Fiction"}],"homepage":"https://www.warnerbros.com/movies/man-steel","id":49521,"imdb_id":"tt0770828","origin_country":["US"],"original_language":"en","original_title":"Man
        of Steel","overview":"A young boy learns that he has extraordinary powers
        and is not of this earth. As a young man, he journeys to discover where he
        came from and what he was sent here to do. But the hero in him must emerge
        if he is to save the world from annihilation and become the symbol of hope
        for all mankind.","popularity":50.299,"poster_path":"/dksTL9NXc3GqPBRHYHcy1aIwjS.jpg","production_companies":[{"id":9993,"logo_path":"/2Tc1P3Ac8M479naPp1kYT3izLS5.png","name":"DC
        Entertainment","origin_country":"US"},{"id":9996,"logo_path":"/3tvBqYsBhxWeHlu62SIJ1el93O7.png","name":"Syncopy","origin_country":"GB"},{"id":16774,"logo_path":"/uD6Ls0FSJwo13ekpz91s1TRpkGq.png","name":"Peters
        Entertainment","origin_country":"US"},{"id":174,"logo_path":"/zhD3hhtKB5qyv7ZeL4uLpNxgMVU.png","name":"Warner
        Bros. Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2013-06-12","revenue":668045518,"runtime":143,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"You
        will believe that a man can fly.","title":"Man of Steel","video":false,"vote_average":6.629,"vote_count":15242,"external_ids":{"imdb_id":"tt0770828","wikidata_id":"Q622769","facebook_id":"manofsteel","instagram_id":null,"twitter_id":null}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"ba3d57da7b9ba16a60ede871c71edd40"
    status:
      code: 200
      message: OK
version: 1
